Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

docs: update demo URL
  packages/manager/tools/sao-ovh-manager-module/README.md
Due: none

build(deps): add missing ng-ovh-contracts dependency
  packages/manager/apps/overthebox/package.json
Due: npx sort-package-json

build(deps): add missing ng-ovh-cloud-universe-components dependency
  packages/manager/apps/veeam-cloud-connect/package.json
Due: npx sort-package-json

fix(i18n): correct wrong translation
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_en_GB.json
Due: none

Release: nobelium-cricket-2
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

feat(hub): add user panel
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.js
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/user-panel/component.js
  packages/manager/modules/hub/src/components/user-panel/controller.js
  packages/manager/modules/hub/src/components/user-panel/index.js
  packages/manager/modules/hub/src/components/user-panel/index.scss
  packages/manager/modules/hub/src/components/user-panel/payment-mean/component.js
  packages/manager/modules/hub/src/components/user-panel/payment-mean/controller.js
  packages/manager/modules/hub/src/components/user-panel/payment-mean/index.js
  packages/manager/modules/hub/src/components/user-panel/payment-mean/index.scss
  packages/manager/modules/hub/src/components/user-panel/payment-mean/template.html
  packages/manager/modules/hub/src/components/user-panel/payment-mean/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/user-panel/template.html
  packages/manager/modules/hub/src/components/user-panel/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/user-panel/user-infos/component.js
  packages/manager/modules/hub/src/components/user-panel/user-infos/controller.js
  packages/manager/modules/hub/src/components/user-panel/user-infos/index.js
  packages/manager/modules/hub/src/components/user-panel/user-infos/index.scss
  packages/manager/modules/hub/src/components/user-panel/user-infos/template.html
  packages/manager/modules/hub/src/components/user-panel/user-infos/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
  packages/manager/modules/hub/src/index.scss
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(telecom.plugandfax.settings): add translations path (#2216)
  packages/manager/apps/telecom/src/app/telecom/telephony/line/fax/settings/telecom-telephony-line-fax-settings.js
Due: eslint --fix

fix(billing.payment.method.add): new contact model in US (#2217)
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/views/billingContact/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(pci.serving): add guide url
  packages/manager/modules/pci/src/projects/project/serving/namespace/infos/attach-registry/attach.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/infos/attach-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/namespace.constants.js
  packages/manager/modules/pci/src/projects/project/serving/namespace/namespace.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pci.serving): update texts
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/translations/Messages_fr_FR.json
Due: none

feat(pci.serving): add target blank
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(enterprise-cloud-database.create): add missing label and contracts
  packages/manager/modules/enterprise-cloud-database/src/create/create.html
  packages/manager/modules/enterprise-cloud-database/src/payment-info/payment-info.html
  packages/manager/modules/enterprise-cloud-database/src/payment-info/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(telephony.alias.ccs.sounds): set maxWaitTime in seconds (#2213)
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/sounds/telecom-telephony-alias-configuration-sounds.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/sounds/telecom-telephony-alias-configuration-sounds.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

Release: mercury-lizard
  packages/manager/apps/cloud/CHANGELOG.md
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/web-universe-components/CHANGELOG.md
  packages/manager/modules/web-universe-components/package.json
Due: npx sort-package-json

feat(dedicated.billing.history): add date filter to url
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.controller.js
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.html
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.routes.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pci.projects.private-registry): upgrade registry
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/RegistryPlan.class.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/component.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/template.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.html
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pci.projects.private-registry): add component for offer selection
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/RegistryPlan.class.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/component.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/template.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(config): change url for rescue guide
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Due: eslint --fix

Release: mercury-lizard-1
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

feat(pci.projects.private-registry): add component for offer selection
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/component.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/template.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 260]
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_it_IT.json
Due: none

feat(pci.instances): provide a refresh action
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(service): use uniqBy instead of uniq (#38)
  packages/components/ng-tail-logs/src/service.js
Due: eslint --fix

v2.0.2
  packages/components/ng-tail-logs/CHANGELOG.md
  packages/components/ng-tail-logs/package.json
Due: npx sort-package-json

build(deps): upgrade ng-tail-logs to v2.0.2
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: npx sort-package-json

feat(pci.serving): fix qa review
  packages/manager/modules/pci/src/projects/project/serving/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/serving/add/add.html
  packages/manager/modules/pci/src/projects/project/serving/add/add.service.js
  packages/manager/modules/pci/src/projects/project/serving/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/infos/attach-registry/attach.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/tokens/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/serving/namespace/tokens/add/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(telephony): disable some feat. when nic is tech only (minor updates)
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/administration/telecom-telephony-billing-account-administration.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/telephony-voip-service.service.js
Due: eslint --fix

feat(pci.serving): fix mode in model deploy
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

docs: update documentation
  404.html
  assets/js/13.717c4f79.js
  assets/js/13.8263f39a.js
  assets/js/14.6fc5fd48.js
  assets/js/14.99a3c19f.js
  assets/js/17.12f9afdf.js
  assets/js/17.5647afa3.js
  assets/js/18.39e5a5c5.js
  assets/js/18.c32cc293.js
  assets/js/19.b111ce50.js
  assets/js/19.f86ac455.js
  assets/js/20.4abb5149.js
  assets/js/20.ad832d19.js
  assets/js/app.4d49d070.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

docs(guide): add localhost URL with port used
  docs/guide/applications.md
Due: none

fix(web): private database activation
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
Due: eslint --fix

fix(*): bump @ovh-ux/ng-ovh-sidebar-menu
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/iplb/package.json
  packages/manager/modules/server-sidebar/package.json
  yarn.lock
Due: npx sort-package-json

fix(telephony.line.phone.configuration): add config translations
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/configuration/translations/Messages_fr_FR.json
Due: none

feat(ng.ovh.payment.method): return object if payment method is selected
  packages/components/ng-ovh-payment-method/src/components/choice/controller.js
  packages/components/ng-ovh-payment-method/src/components/choice/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix
