Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

fix: bump semver range for @ovh-ux/manager-config
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
Due: eslint --fix

fix(deps): bump semver range for @ovh-ux/manager-config package
  packages/manager/apps/metrics/package.json
  packages/manager/modules/metrics/package.json
Due: npx sort-package-json

fix(deps): bump semver range for @ovh-ux/manager-config package (#4233)
  packages/manager/apps/metrics/package.json
  packages/manager/modules/metrics/package.json
Due: npx sort-package-json

fix(proxy): fix registry proxy path rewrite
  packages/manager/tools/dev-server-config/src/proxy/registry/index.js
Due: eslint --fix

refactor(link): use buildURL instead of redirectionService
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/dns-zone/dns-zone.routing.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/email-domain/general-informations/email-domain-general-informations.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/private-database/private-database.controller.js
  packages/manager/apps/web/package.json
  packages/manager/modules/account-migration/package.json
  packages/manager/modules/account-migration/src/notification/notification.controller.js
  packages/manager/modules/account-migration/src/notification/notification.html
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/account-sidebar/src/controller.js
  packages/manager/modules/account-sidebar/src/payment-mean/controller.js
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
  packages/manager/modules/account-sidebar/src/shortcuts/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/cloud-connect/package.json
  packages/manager/modules/cloud-connect/src/details/overview/overview.routing.js
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/billing-summary/controller.js
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/enterprise-billing-summary/controller.js
  packages/manager/modules/hub/src/components/order-tracking/controller.js
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.controller.js
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/hub/src/components/support/template.html
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/components/choose/controller.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/web-universe-components/package.json
  packages/manager/modules/web-universe-components/src/expiration/service-expiration-date.component.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

refactor(links): remove use of core constant URLs
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/ssh/user-ssh.service.js
  packages/manager/apps/dedicated/client/app/components/services/services.constants.js
  packages/manager/apps/dedicated/client/app/components/services/services.service.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.controller.js
  packages/manager/modules/billing/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/mfa-enrollment/package.json
  packages/manager/modules/mfa-enrollment/src/mfa-enrollment.controller.js
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/overthebox/src/overthebox/warning/overTheBox-warning.controller.js
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/vps/package.json
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.routing.js
Due: eslint --fix, npx sort-package-json

feat(order): update webcloud url WW
  packages/manager/modules/server-sidebar/src/order.constants.js
Due: eslint --fix

feat: remove alldom order
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/domain/domain.controller.js
  packages/manager/apps/web/client/app/domain/domain.html
  packages/manager/apps/web/client/app/domain/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(proxy): fix registry proxy path rewrite (#4234)
  packages/manager/tools/dev-server-config/src/proxy/registry/index.js
Due: eslint --fix

build(deps): bump @ovh-ux/manager-core
  packages/manager/apps/metrics/package.json
  packages/manager/modules/metrics/package.json
Due: npx sort-package-json

fix(urls): remove core constant URLs
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/manager-core.constants.js
Due: eslint --fix

feat(advices): remove localization
  packages/manager/modules/advices/src/advices/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(vps-advice-upsell): add upsell advice for vps
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/vps/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/vps/src/dashboard/advices/component.js
  packages/manager/modules/vps/src/dashboard/advices/controller.js
  packages/manager/modules/vps/src/dashboard/advices/index.js
  packages/manager/modules/vps/src/dashboard/advices/template.html
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(advices): move advices load logic to module
  packages/manager/modules/advices/README.md
  packages/manager/modules/advices/package.json
  packages/manager/modules/advices/src/advices/component.js
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/advices/src/advices/template.html
  packages/manager/modules/advices/src/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(dedicated): add advices tile
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/apps/dedicated/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(vps): use common advices component
  packages/manager/modules/vps/src/dashboard/advices/component.js
  packages/manager/modules/vps/src/dashboard/advices/controller.js
  packages/manager/modules/vps/src/dashboard/advices/index.js
  packages/manager/modules/vps/src/dashboard/advices/template.html
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(autorenew): add resiliate new action
  packages/manager/modules/billing/src/components/resiliation/index.js
  packages/manager/modules/billing/src/components/resiliation/resiliation.component.js
  packages/manager/modules/billing/src/components/resiliation/resiliation.controller.js
  packages/manager/modules/billing/src/components/resiliation/resiliation.html
  packages/manager/modules/billing/src/components/resiliation/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/components/utils/billing.service.js
  packages/manager/modules/billing/src/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(billing.autorenew): adapt existing cancel resiliation modal
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
Due: eslint --fix

feat(dedicated): create new resiliation links
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-resiliation/cancel-resiliation.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-resiliation/index.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/resiliation/index.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/resiliation/resiliation.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/resiliation/resiliation.routing.js
  packages/manager/apps/dedicated/client/app/billing/billing.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/cancel-resiliation.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/resiliation/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/resiliation/resiliation.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/resiliation/resiliation.routing.js
  packages/manager/modules/billing/src/components/services-actions/services-actions.component.js
  packages/manager/modules/billing/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing/src/components/services-actions/services-actions.html
  packages/manager/modules/billing/src/components/services-actions/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.component.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/models/BillingService/BillingService.class.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(billing): extract component to cancel resiliation
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/apps/dedicated/client/app/billing/billing.bundle.js
  packages/manager/modules/billing/src/components/cancel-resiliation/cancel-resiliation.component.js
  packages/manager/modules/billing/src/components/cancel-resiliation/cancel-resiliation.controller.js
  packages/manager/modules/billing/src/components/cancel-resiliation/cancel-resiliation.html
  packages/manager/modules/billing/src/components/cancel-resiliation/index.js
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_fi_FI.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_lt_LT.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(public-cloud): add instance advice
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/advice-instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/advice-instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/advice-instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/index.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(public-cloud): use common component to fetch advices
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/advice-instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/advice-instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/advice-instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/advices/index.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(web): hosting advices
  packages/manager/apps/web/client/app/hosting/advices/advice-hosting.component.js
  packages/manager/apps/web/client/app/hosting/advices/advice-hosting.controller.js
  packages/manager/apps/web/client/app/hosting/advices/advice-hosting.html
  packages/manager/apps/web/client/app/hosting/advices/index.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.module.js
  packages/manager/apps/web/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(backup): fix handle when backup is doing
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pack.migration): rework on the display for contact owner phone
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(ldp): update wording in order section
  packages/manager/modules/dbaas-logs/src/logs/order/logs-order.html
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(hgv2): add manual upgrade with ticket
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/technical-details.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/technical-details.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade.constants.js
  packages/manager/apps/dedicated/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(telphony.service.contact): autofill urban district if required
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.controller.js
Due: eslint --fix

fix(telephony.service.contact): fix postal code check for district input
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.controller.js
Due: eslint --fix

Correct packages and traduction after review
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/storage/package.json
  packages/manager/modules/storage/src/netapp/share/shares.routing.js
  packages/manager/modules/storage/src/translations/Messages_fr_FR.json
Due: eslint --fix, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
