Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(hub): add trusted label
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/welcome/index.js
  packages/manager/apps/hub/src/dashboard/welcome/template.html
  packages/manager/apps/hub/src/dashboard/welcome/welcome.component.js
  packages/manager/apps/hub/src/dashboard/welcome/welcome.scss
  packages/manager/apps/hub/src/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(dedicated): update service contacts for trusted nic
  packages/manager/apps/dedicated/client/app/account/contacts/service/edit/edit.html
  packages/manager/apps/dedicated/client/app/account/contacts/service/edit/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(dedicated): add trusted label
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.bundle.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.component.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.controller.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.html
  packages/manager/apps/dedicated/client/app/configuration/configuration.routes.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.scss
  packages/manager/apps/dedicated/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(exchange): fix security help message
  packages/manager/modules/exchange/src/security/security.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

build: bump ovh-api-services to v13.0.0 (#5444)
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat: bump `@adyen/adyen-web` to `v4.7.3`
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-payment-method/src/available-payment-method.class.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(options.order): display duration for price
  packages/manager/modules/vps/src/additional-disk/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.controller.js
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.html
  packages/manager/modules/vps/src/backup-storage/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/backup-storage/order/vps-backup-storage-order.controller.js
  packages/manager/modules/vps/src/backup-storage/order/vps-backup-storage-order.html
  packages/manager/modules/vps/src/snapshot/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/snapshot/order/vps-snapshot-order.html
  packages/manager/modules/vps/src/veeam/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.controller.js
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.support): support levels based on availability
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.component.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.controller.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.html
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.module.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.routing.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated): display guides based on universe
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.controller.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.contacts.request): error popover
  packages/manager/apps/dedicated/client/app/account/contacts/request/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(dedicated): drp availability for trusted nic
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated): hpc users breadcrumb
  packages/manager/apps/dedicated/client/app/dedicatedCloud/user/dedicatedCloud-user.module.js
Due: eslint --fix

fix(dedicated): trusted nic price info
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/new/new.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(dedicated.dedicated-cloud): add 'hosted' text to private cloud
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/mailing-list/subscribe/translations/Messages_fr_FR.json
Due: prettier --write

fix(dedicated): breadcrumb translations for options
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/basicOptions.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_pt_PT.json
Due: prettier --write, eslint --fix

feat(nutanix): add cluster tabs and node tabs (#5432)
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/index.js
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/dashboard/template.html
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

feat: bump `@adyen/adyen-web` to `v4.7.3` (#5435)
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-payment-method/src/available-payment-method.class.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

Release: nickel-whale-1
  packages/components/ng-ovh-payment-method/CHANGELOG.md
  packages/components/ng-ovh-payment-method/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.21ed35b7.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat: mongodb - update translation
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_fr_FR.json
Due: prettier --write

feat: mongodb - update translation
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_fr_FR.json
Due: prettier --write

fix(ng-ovh-payment-method): handle redirect param
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/service.js
Due: eslint --fix

fix: add french in translation files that need translation
  packages/manager/modules/pci/src/components/project/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1119]
  packages/manager/apps/dedicated/client/app/common/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/core/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/translations/Messages_de_DE.json
Due: prettier --write

fix: handle redirect param (#5450)
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/service.js
Due: eslint --fix

Release: nickel-whale-2
  packages/components/ng-ovh-payment-method/CHANGELOG.md
  packages/components/ng-ovh-payment-method/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/13.97931085.js
  assets/js/13.c9c251a2.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/app.e7a06afb.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix: remove unused resolve in restore.routing
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.routing.js
Due: eslint --fix

fix: add track by in time-range.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/time-range/time-range.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix: remove useless two way binding
  packages/manager/modules/pci/src/projects/project/storages/databases/components/time-range/time-range.component.js
Due: eslint --fix

fix: use sort to get highest flavor
  packages/manager/modules/pci/src/components/project/storages/databases/engine.class.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1120]
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/translations/Messages_fr_CA.json
Due: prettier --write

fix: extract functions in engines-list component
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/engines-list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/engines-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1121]
  packages/components/ng-ovh-contacts/src/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/translations/Messages_en_GB.json
Due: prettier --write

fix(exchange): fix security help message (#5446)
  packages/manager/modules/exchange/src/security/security.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(i18n): add missing translations [CDS 1120] (#5457)
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/translations/Messages_fr_CA.json
Due: prettier --write

feat: rename cluster summary
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pt_PT.json
Due: prettier --write

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
