Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

fix(server.details): catch error for byoi (#4692)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
Due: eslint --fix

fix(server.interfaces): fix ola detection on legacy (#4693)
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola.class.js
Due: eslint --fix

feat(*): add batch 2 advices
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/index.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/modules/advices/src/advices/component.js
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/advices/src/advices/index.js
  packages/manager/modules/advices/src/advices/index.less
  packages/manager/modules/advices/src/advices/template.html
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.component.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/index.js
  packages/manager/modules/exchange/src/information/information.html
  packages/manager/modules/exchange/src/information/information.module.js
  packages/manager/modules/exchange/src/order/order.html
  packages/manager/modules/freefax/src/freefax/freefax.component.js
  packages/manager/modules/freefax/src/freefax/freefax.html
  packages/manager/modules/office/src/dashboard/office/license/user/USER.html
  packages/manager/modules/office/src/dashboard/office/license/user/user.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.controller.js
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sharepoint/src/index.js
  packages/manager/modules/sharepoint/src/information/INFORMATION.html
  packages/manager/modules/sharepoint/src/information/information.module.js
  packages/manager/modules/sharepoint/src/order/sharepoint-order.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.component.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

Release: selenium-kraken-2
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/13.97931085.js
  assets/js/13.c9c251a2.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/app.ff981122.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 889]
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_it_IT.json
Due: none

fix(dedicated): popup agreement missing data
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/popup-agreement/popup-agreement.routes.js
Due: eslint --fix

fix(hub): add ALL_DOM translation
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Due: none

fix(telecom): ccs scheduler link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(telecom.phone): set a height for tiles item
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.less
Due: stylelint 'packages/**/*.less' --fix

fix(telephony.ovhpabx.dialplan.extension.edit): fix ccs scheduler link (#4699)
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(dedicated): detection if tech details are here
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
Due: eslint --fix

feat: add batch 2 advices (#4597)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/index.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/modules/advices/src/advices/component.js
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/advices/src/advices/index.js
  packages/manager/modules/advices/src/advices/index.less
  packages/manager/modules/advices/src/advices/template.html
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.component.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/index.js
  packages/manager/modules/exchange/src/information/information.html
  packages/manager/modules/exchange/src/information/information.module.js
  packages/manager/modules/exchange/src/order/order.html
  packages/manager/modules/freefax/src/freefax/freefax.component.js
  packages/manager/modules/freefax/src/freefax/freefax.html
  packages/manager/modules/office/src/dashboard/office/license/user/USER.html
  packages/manager/modules/office/src/dashboard/office/license/user/user.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.controller.js
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sharepoint/src/index.js
  packages/manager/modules/sharepoint/src/information/INFORMATION.html
  packages/manager/modules/sharepoint/src/information/information.module.js
  packages/manager/modules/sharepoint/src/order/sharepoint-order.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.component.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

fix(dedicated): pcc confirm terminate
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/terminate/confirm/dedicatedCloud-terminate-confirm.controller.js
Due: eslint --fix

Release: selenium-kraken-3
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/advices/CHANGELOG.md
  packages/manager/modules/advices/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/CHANGELOG.md
  packages/manager/modules/freefax/package.json
  packages/manager/modules/office/CHANGELOG.md
  packages/manager/modules/office/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/sharepoint/CHANGELOG.md
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sms/CHANGELOG.md
  packages/manager/modules/sms/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.2ae1b1d5.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(hub): add ALL_DOM translation (#4698)
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Due: none

fix(deps): upgrade ovh-api-services
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: npx sort-package-json

fix(deps): add missing @ovh-ux/manager-advices dependency
  packages/manager/apps/telecom/package.json
Due: npx sort-package-json

fix(deps): add missing @ovh-ux/manager-advices dependency (#4707)
  packages/manager/apps/telecom/package.json
Due: npx sort-package-json

fix(dedicated): spla license service name display
  packages/manager/apps/dedicated/client/app/license/license.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

Release: selenium-kraken-4
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/20.24ca02d7.js
  assets/js/20.ee05036f.js
  assets/js/21.30fb43d0.js
  assets/js/21.90789c29.js
  assets/js/app.eae66823.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(move.eligibility): add test eligibility for resellers
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/lineNumber/move-eligibility-lineNumber.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/lineNumber/move-eligibility-lineNumber.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/move-eligibility.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/move-eligibility.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.html
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(dedicated-server): commit recommit tracking not working
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.component.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(license): spla license service name display (#4709)
  packages/manager/apps/dedicated/client/app/license/license.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(billing.autorenew.agreements): fix empty agreements modal (#4697)
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/popup-agreement/popup-agreement.routes.js
Due: eslint --fix

fix(deps): upgrade ovh-api-services (#4706)
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: npx sort-package-json

fix(server.dashboard): detection if tech details are here (#4701)
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
Due: eslint --fix

feat(server): add os image tracking (#4451)
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/index.html
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/index.html
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/choice/dedicated-server-installation-choice.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(sva): disable pricePerMinute for common number
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/svaGenerator/sva-generator.directive.js
Due: eslint --fix

fix(license): feature flip upgrade availability
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.controller.js
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.html
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(server): fix commit recommit tracking (#4713)
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.component.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(license): feature flip upgrade availability (#4700)
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.controller.js
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.html
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

docs: update documentation [skip ci]
  404.html
  assets/js/20.24ca02d7.js
  assets/js/20.ee05036f.js
  assets/js/21.30fb43d0.js
  assets/js/21.90789c29.js
  assets/js/app.724980c2.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(functionkeys): sort programmable keys by API keyNum
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/programmable-keys.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/programmable-keys.controller.js
Due: eslint --fix

fix(dbaas.logs): fix routing issue
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/streams.routing.js
Due: eslint --fix

fix(managed-baremetal): add params to url
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/index.js
Due: eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
