Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 1054]
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci.storages.databases): disable unavailable networks
  packages/manager/modules/pci/src/components/project/storages/databases/flavor.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vps.dashboard.components.announcement-banner): add component
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/component.js
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/controller.js
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/index.js
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/template.html
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vps.dashboard): add announcement_banner
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.project.quota): add autoscalling
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.controller.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1026]
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1053]
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1059]
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_fr_CA.json
Due: prettier --write

Release: europium-wildebeest-1
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/14.4e65ef12.js
  assets/js/14.ae09d86d.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/16.51d0df30.js
  assets/js/16.8403b07b.js
  assets/js/17.1a644b40.js
  assets/js/17.323fd8ee.js
  assets/js/19.85adfdfb.js
  assets/js/19.ce585e13.js
  assets/js/20.3b4d0571.js
  assets/js/20.ee05036f.js
  assets/js/21.30fb43d0.js
  assets/js/21.90789c29.js
  assets/js/22.9176d8a8.js
  assets/js/22.bac3efb0.js
  assets/js/23.b75a2297.js
  assets/js/23.e4e83e6e.js
  assets/js/app.b82284ad.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(telecom): use line country when ordering phone
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line.factory.js
Due: eslint --fix

fix(exchange): remove version test on get display value
  packages/manager/modules/exchange/src/account/accountTypes.service.js
Due: eslint --fix

feat(project.notebooks.dashboard): setup attach_data tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(project.notebooks.dashboard.attach_data): add attach_data tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(project.notebooks): rename notebook class
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.controller.js
Due: eslint --fix

feat(project.notebooks.dashboard): setup general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.controller.js
Due: eslint --fix

feat(project.notebooks.dashboard.gi): complete general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(project.notebooks.dashboard.gi.tags-add): add modal to add tag
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(prj.notebooks.dashboard.gi.rm-notebook): add modal to rm notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(prj.notebooks.dashboard.gi.start-notebook): modal to start notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(prj.notebooks.dashboard.gi.stop-notebook): modal to stop notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(sms): update sms download from date
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.controller.js
Due: eslint --fix

feat(pci): implementing flavor selection for ai-training
  Dockerfile
  packages/manager/modules/pci/src/projects/project/training/command_line_converter.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.scss
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.html
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci): pr fixes
  Dockerfile
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci): implementing flavor selection for ai-training
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.scss
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Due: eslint --fix, stylelint --fix

feat(catalog-price): fix volume in submit
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Due: eslint --fix

feat(pci/ai-training): fix job pull + traduction issue
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
Due: prettier --write, eslint --fix

feat(catalog-price): add infos to job info page
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(pci/ai-training): add field name into oui-field
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(pci/ai-training): fix traduction for ssd and network
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(pci): pr fixes
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Due: prettier --write

fix(exchange): not able to export external contacts
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.controller.js
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.html
  packages/manager/modules/exchange/src/external-contact/external-contact.module.js
  packages/manager/modules/exchange/src/external-contact/external-contact.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

build(dev-deps): upgrade `husky` to `v7.0.0` (#5195)
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

fix(i18n): add missing translations [CDS 1025]
  packages/manager/modules/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pt_PT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Due: prettier --write

fix(webpaas): fix storage translation
  packages/manager/apps/web-paas/package.json
  packages/manager/modules/web-paas/src/details/service/service.controller.js
  packages/manager/modules/web-paas/src/details/service/service.html
  packages/manager/modules/web-paas/src/details/service/translations/Messages_de_DE.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_en_GB.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_es_ES.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_it_IT.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
