Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

docs(develop): add generate module part
  DEVELOP.md
  media/generate-module-app.gif
Due: none

refactor(hosting): replace wuc-ovh-tabs with oui-header-tabs
  packages/manager/apps/web/client/app/components/order-catalog-price/order-catalog-price.component.js
  packages/manager/apps/web/client/app/components/order-catalog-price/order-catalog-price.constants.js
  packages/manager/apps/web/client/app/components/order-catalog-price/order-catalog-price.controller.js
  packages/manager/apps/web/client/app/components/order-catalog-price/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/hosting-tabs.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(components): add order components
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/components/order-catalog-price/index.js
  packages/manager/apps/web/client/app/components/order-catalog-price/order-catalog-price.component.js
  packages/manager/apps/web/client/app/components/order-catalog-price/order-catalog-price.constants.js
  packages/manager/apps/web/client/app/components/order-catalog-price/order-catalog-price.controller.js
  packages/manager/apps/web/client/app/components/order-catalog-price/order-catalog-price.html
  packages/manager/apps/web/client/app/components/order-catalog-price/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/order-contracts/index.js
  packages/manager/apps/web/client/app/components/order-contracts/order-contracts.component.js
  packages/manager/apps/web/client/app/components/order-contracts/order-contracts.controller.js
  packages/manager/apps/web/client/app/components/order-contracts/order-contracts.html
  packages/manager/apps/web/client/app/components/order-contracts/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/order-payment-means/index.js
  packages/manager/apps/web/client/app/components/order-payment-means/order-payment-means.component.js
  packages/manager/apps/web/client/app/components/order-payment-means/order-payment-means.controller.js
  packages/manager/apps/web/client/app/components/order-payment-means/order-payment-means.html
  packages/manager/apps/web/client/app/components/order-payment-means/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(web): add cart service option methods in order service
  packages/manager/apps/web/client/app/components/order-service/order-service.service.js
  packages/manager/apps/web/package.json
  yarn.lock
Due: eslint --fix, npx sort-package-json

fix(dedicated.account.contact): inject existing language list (#1636)
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

Release: mercury-gorilla-8
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

feat: (server.sidebar.order.constants): add enterprise cloud database (#1557)
  packages/manager/modules/server-sidebar/src/order.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Due: eslint --fix

feat(pci): storage only regions
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/add/add.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

docs(contributing): remove header requirements
  CONTRIBUTING.md
Due: none

fix(dedicated-server): general information link to status tasks
  packages/manager/apps/dedicated/client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
Due: eslint --fix

fix(pci-billing): guide link
  packages/manager/modules/pci/src/projects/project/billing/billing.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

docs(contributing): remove header requirements (#1646)
  CONTRIBUTING.md
Due: none

fix(dedicated): fix purchase order for ca
  packages/manager/apps/dedicated/client/app/license/order/license-order.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat: init @ovh-ux/sao-ovh-manager-module module
  .eslintignore
  .htmlhintrc
  package.json
  packages/manager/tools/sao-ovh-manager-module/LICENSE
  packages/manager/tools/sao-ovh-manager-module/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-module/package.json
  packages/manager/tools/sao-ovh-manager-module/saofile.js
  packages/manager/tools/sao-ovh-manager-module/template/README.md
  packages/manager/tools/sao-ovh-manager-module/template/_package.json
  packages/manager/tools/sao-ovh-manager-module/template/src/component.js
  packages/manager/tools/sao-ovh-manager-module/template/src/controller.js
  packages/manager/tools/sao-ovh-manager-module/template/src/index.js
  packages/manager/tools/sao-ovh-manager-module/template/src/routing.js
  packages/manager/tools/sao-ovh-manager-module/template/src/template.html
  packages/manager/tools/sao-ovh-manager-module/template/src/translations/Messages_fr_FR.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat: init @ovh-ux/sao-ovh-manager-app module
  .eslintignore
  packages/manager/tools/sao-ovh-manager-app/LICENSE
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/package.json
  packages/manager/tools/sao-ovh-manager-app/saofile.js
  packages/manager/tools/sao-ovh-manager-app/template/README.md
  packages/manager/tools/sao-ovh-manager-app/template/_package.json
  packages/manager/tools/sao-ovh-manager-app/template/src/index.html
  packages/manager/tools/sao-ovh-manager-app/template/src/index.js
  packages/manager/tools/sao-ovh-manager-app/template/webpack.config.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

build(package.json): add both generate:app and generate:module entries
  package.json
Due: npx sort-package-json

fix(license.order): allow to order license if there is no contracts
  packages/manager/apps/dedicated/client/app/license/order/license-order.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(dedicated.billing.autorenew): add Actions column
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.html
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(order-tracking): add order-tracking component
  packages/components/order-tracking/LICENSE
  packages/components/order-tracking/README.md
  packages/components/order-tracking/package.json
  packages/components/order-tracking/rollup.config.js
  packages/components/order-tracking/src/index.js
  packages/components/order-tracking/src/index.scss
  packages/components/order-tracking/src/order-tracking.component.js
  packages/components/order-tracking/src/order-tracking.controller.js
  packages/components/order-tracking/src/order-tracking.html
  packages/components/order-tracking/src/translations/Messages_fr_FR.json
  packages/manager/apps/order-tracking/LICENSE
  packages/manager/apps/order-tracking/README.md
  packages/manager/apps/order-tracking/index.html
  packages/manager/apps/order-tracking/index.js
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/order-tracking/webpack.config.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(order-tracking): add order-tracking component (#1591)
  packages/components/order-tracking/LICENSE
  packages/components/order-tracking/README.md
  packages/components/order-tracking/package.json
  packages/components/order-tracking/rollup.config.js
  packages/components/order-tracking/src/index.js
  packages/components/order-tracking/src/index.scss
  packages/components/order-tracking/src/order-tracking.component.js
  packages/components/order-tracking/src/order-tracking.controller.js
  packages/components/order-tracking/src/order-tracking.html
  packages/components/order-tracking/src/translations/Messages_fr_FR.json
  packages/manager/apps/order-tracking/LICENSE
  packages/manager/apps/order-tracking/README.md
  packages/manager/apps/order-tracking/index.html
  packages/manager/apps/order-tracking/index.js
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/order-tracking/webpack.config.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat: orders refactoring
  packages/manager/apps/dedicated/client/app/billing/billing-feature-availability.js
  packages/manager/apps/dedicated/client/app/billing/billing.module.js
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.controller.js
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.html
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.module.js
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.routing.js
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.controller.js
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.html
  packages/manager/apps/dedicated/client/app/billing/orders/orders.routing.js
  packages/manager/apps/dedicated/client/app/billing/orders/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat: orders refactoring (#1640)
  packages/manager/apps/dedicated/client/app/billing/billing-feature-availability.js
  packages/manager/apps/dedicated/client/app/billing/billing.module.js
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.controller.js
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.html
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.module.js
  packages/manager/apps/dedicated/client/app/billing/order/billing-order-tracking.routing.js
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.controller.js
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.html
  packages/manager/apps/dedicated/client/app/billing/orders/orders.routing.js
  packages/manager/apps/dedicated/client/app/billing/orders/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix: add wizard-keydown-disabled on installation modal
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix: add wizard-keydown-disabled on installation modal
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/choice/dedicated-server-installation-choice.html
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.html
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/progress/dedicated-server-installation-progress.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

Release: mercury-gorilla-9
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

fix: import exchange module for exchange account renew
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/exchange/exchange-renew.module.js
  packages/manager/modules/exchange/src/billing/account-renew/renew.module.js
  packages/manager/modules/exchange/src/exchangeComponents.module.js
Due: eslint --fix

fix(telephony.service.fax.campaigns): display the list
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/campaigns/telecom-telephony-service-fax-campaigns.controller.js
Due: eslint --fix

fix(pci-streams-add): popover position
  packages/manager/modules/pci/src/projects/project/streams/add/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

build(deps): upgrade ovh-api-services to v9.24.1
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/banner/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Due: npx sort-package-json

build(deps): upgrade ovh-api-services to v9.24.1 (#1661)
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/banner/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Due: npx sort-package-json

fix(pci.projects.new): challenge display
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.controller.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.html
  packages/manager/modules/pci/src/projects/new/payment/payment.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

build(dev-deps): upgrade some dev dependencies
  packages/components/ng-ovh-doc-url/package.json
  packages/components/ng-ovh-doc-url/yarn.lock
Due: npx sort-package-json

build(deps): upgrade urijs to v1.19.2
  packages/components/ng-ovh-doc-url/package.json
  packages/components/ng-ovh-doc-url/yarn.lock
Due: npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
