Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ]
}

fix(pci): add missing filters
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.html
Due: htmlhint 'packages/**/*.html'

fix(server-sidebar): add search keys in menu item
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: eslint --fix

fix(i18n): add missing translations
  packages/manager/modules/server-sidebar/src/translations/Messages_it_IT.json
Due: none

Revert "fix(pci): enable kubernetes from CA region (#715)" (#724)
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: eslint --fix

fix(apps.public.cloud): remove default location prefix (#683)
  packages/manager/apps/public-cloud/src/index.js
Due: eslint --fix

fix(i18n): add missing translations
  packages/manager/modules/navbar/src/walk-me/translations/Messages_en_ASIA.json
  packages/manager/modules/navbar/src/walk-me/translations/Messages_en_AU.json
  packages/manager/modules/navbar/src/walk-me/translations/Messages_en_CA.json
  packages/manager/modules/navbar/src/walk-me/translations/Messages_en_GB.json
  packages/manager/modules/navbar/src/walk-me/translations/Messages_en_SG.json
  packages/manager/modules/navbar/src/walk-me/translations/Messages_en_US.json
  packages/manager/modules/navbar/src/walk-me/translations/Messages_fi_FI.json
  packages/manager/modules/navbar/src/walk-me/translations/Messages_lt_LT.json
Due: none

fix(server.sidebar): replace url prefix from constants
  packages/manager/modules/server-sidebar/src/order.constants.js
Due: eslint --fix

Release: strontium-gnat
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/navbar/CHANGELOG.md
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/CHANGELOG.md
  packages/manager/modules/server-sidebar/package.json
Due: none

build: bump ovh-api-services
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Due: none

feat: allow to search project
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', stylelint 'packages/**/*.less' --fix

build: upgrade ovh-api-service to v6.21.0 (#735)
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Due: none

fix(pci.storage.snapshots): sort by creation date
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.html
Due: htmlhint 'packages/**/*.html'

fix(pci.project): allow to scroll all content
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint 'packages/**/*.html'

fix(pci.project.private-network): prevent inputs from overlaping
  packages/manager/modules/pci/src/index.scss
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Due: htmlhint 'packages/**/*.html'

fix(pci.project): allow to scroll all content (#740)
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint 'packages/**/*.html'

feat(pci.instance): add application access
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/index.scss
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.html
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/index.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.project.private-network): prevent inputs from overlaping (#738)
  packages/manager/modules/pci/src/index.scss
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Due: htmlhint 'packages/**/*.html'

build: bump ovh-ui-kit and ovh-ui-angular
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  yarn.lock
Due: none

fix: avoid error when returning from hipay after credit pay
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/translations/Messages_fr_FR.json
Due: eslint --fix

fix(sms.sender.type): fix alpha sender not classified other
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_lt_LT.json
Due: none

build: bump ovh-ui-kit and ovh-ui-angular (#741)
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  yarn.lock
Due: none

feat: allow to search project (#737)
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', stylelint 'packages/**/*.less' --fix

fix(pci): add missing filters (#729)
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.html
Due: htmlhint 'packages/**/*.html'

refactor(pci.project.sidebar): style icon instead of using button
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
Due: htmlhint 'packages/**/*.html', stylelint 'packages/**/*.less' --fix

refactor(pci.project.sidebar): style icon instead of using button (#743)
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
Due: htmlhint 'packages/**/*.html', stylelint 'packages/**/*.less' --fix

fix(sms.sender): remove useless console log
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.controller.js
Due: eslint --fix

fix(sms.sender): fix the test on regex for sender number
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.controller.js
Due: eslint --fix

fix: clean image when user select a distribution
  packages/manager/modules/pci/src/components/project/images-list/images-list.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Due: eslint --fix

fix(pci): clean image when user select a distribution (#747)
  packages/manager/modules/pci/src/components/project/images-list/images-list.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Due: eslint --fix

Release: strontium-gnat-1
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: none

feat(pci.instance): add application access (#730)
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/index.scss
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.html
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/index.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_lt_LT.json
Due: none

fix(i18n): add missing translations (#751)
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_lt_LT.json
Due: none

Release: strontium-gnat-2
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: none

feat(pci.failover-ip): add ipfo order (#722)
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/.eslintrc.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix
