Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(request-tagger): add request tagger core package
  packages/manager/core/request-tagger/README.md
  packages/manager/core/request-tagger/__tests__/request-tagger.spec.ts
  packages/manager/core/request-tagger/package.json
  packages/manager/core/request-tagger/src/index.ts
  packages/manager/core/request-tagger/src/requestTagger.ts
  packages/manager/core/request-tagger/tsconfig.json
Due: prettier --write, npx sort-package-json

fix: yarn.lock conflicts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  yarn.lock
Due: none

fix(config): add request tagger
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/index.ts
Due: prettier --write, npx sort-package-json

fix(request-tagger): use request-tagger core package
  packages/manager/modules/request-tagger/package.json
  packages/manager/modules/request-tagger/src/constants.js
  packages/manager/modules/request-tagger/src/factory.js
  packages/manager/modules/request-tagger/src/index.js
Due: prettier --write, eslint --fix, npx sort-package-json

fix(container): inject VERSION in request tagger
  packages/manager/apps/container/.eslintrc.js
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/index.tsx
  packages/manager/apps/container/tsconfig.json
  packages/manager/apps/container/vite-env.d.ts
Due: prettier --write, eslint --fix, npx sort-package-json

fix: ts build issues
  packages/manager/core/request-tagger/tsconfig.json
  yarn.lock
Due: prettier --write

fix(vite-config): add version
  packages/manager/core/vite-config/src/config.js
Due: eslint --fix

fix(container): preloader
  packages/manager/apps/container/src/container/common/Preloader/usePreloader.ts
  packages/manager/apps/container/src/container/legacy/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
Due: none

test: fix tests
  packages/components/ovh-shell/package.json
  packages/manager/apps/container/src/__tests__/navbar/navbar.spec.tsx
Due: prettier --write, npx sort-package-json

fix(container): default dev app (#8267)
  packages/manager/apps/container/src/core/dev/index.ts
Due: none

fix(config): user auth type
  packages/manager/modules/config/src/environment/user.ts
Due: none

feat(vite-config): allow to define custom host (#8263)
  packages/manager/core/vite-config/package.json
  packages/manager/core/vite-config/src/config.js
  packages/manager/core/vite-config/src/index.js
  packages/manager/core/vite-config/src/plugin/dev-server.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(pci): disable ip additional on baremetal instance
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1934]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
Due: prettier --write

fix(pci): allow only vlan 0 for private network of metal instances
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Due: eslint --fix

fix(pci): change the regions filter for the instances
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: eslint --fix

fix(pci): hide vnc console on baremetal instance
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): wording change for baremetal instance backup
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.contants.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): rebase on l3 services project and resolve conflicts
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1830]
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci): merge image baremetal with not baremetal
  packages/manager/modules/pci/src/components/project/images-list/images-list.controller.js
  packages/manager/modules/pci/src/components/project/images-list/images-list.service.js
  packages/manager/modules/pci/src/components/project/images-list/images.constants.js
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fix(pci): ssh key to be displayed for baremetal linux images
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): instance change the source of information cpu and vcpu
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): add missing frequencies of cpu
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
Due: eslint --fix

fix(pci): add logos for baremetal distribution
  packages/manager/modules/pci/src/components/project/images-list/images.constants.js
Due: eslint --fix

fix(pci): disable hot reboot and suspend for baremetal instance
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): change name instance baremetal to metal
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fix(pci): instance creation in gateway unavailable region (#8359)
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Due: eslint --fix

release: protactinium-herring-3
  .sonarcloud.properties
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/13.c70e2005.js
  assets/js/13.e5609d3e.js
  assets/js/14.0a2d0cdb.js
  assets/js/14.4c9f26cc.js
  assets/js/15.dd5cd039.js
  assets/js/15.f93647e7.js
  assets/js/16.283595ce.js
  assets/js/16.bcdd59f4.js
  assets/js/17.0d2ce0ee.js
  assets/js/17.ec033108.js
  assets/js/18.179ad7f0.js
  assets/js/18.b796a5f8.js
  assets/js/19.013da89c.js
  assets/js/19.f8ff2062.js
  assets/js/20.83dbe374.js
  assets/js/20.c3230c79.js
  assets/js/21.4415ee2f.js
  assets/js/21.da96cf38.js
  assets/js/22.96d870ba.js
  assets/js/22.f22569b5.js
  assets/js/app.af13b026.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pcc): add missing tracking
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.constant.js
Due: eslint --fix

feat(dedicated.nutanix): warning modal for BYOL customer (#8355)
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(ovh-payment-method): add sepa integration
  packages/components/ovh-payment-method/src/enums/payment-method.enum.js
  packages/components/ovh-payment-method/src/models/payment-method-type.class.js
Due: eslint --fix

feat(ng-ovh-payment-method): add payment_type param
  packages/components/ng-ovh-payment-method/src/components/integration/controller.js
Due: eslint --fix

feat(pci.projects.new.payment): add worldline sepa
  packages/manager/modules/pci/src/projects/new/payment/components/add/constants.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

refactor(pci.projects.new.payment): improvement
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
