Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(pnr): avoid to display marketplace and sunrise entries
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
Due: none

fix(pnr): remove blank target on nasha cta
  packages/manager/modules/nasha/src/onboarding/onboarding.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(sidebar): fix scrollbars
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
Due: stylelint --fix

fix(sidebar): hide services when no count
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
Due: none

feat(pnr): add telecom v4 in sidebar (#7173)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Due: prettier --write

fix: pr comments
  packages/manager/modules/pci/src/name-generator.constant.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
Due: eslint --fix

fix(onboarding): fix focus of onboarding links
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
Due: none

fix(sidebar): correct services show in betaV2
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Due: none

feat(hosting.offer): implement detach addon of start10M (#7165)
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/modules/product-offers/src/services/product-offers-action.service.js
Due: eslint --fix

feat: change integrations display
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/dashboard-integrations.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/dashboard-integrations.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/dashboard-integrations.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vps): update the migrate vps end point
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.html
  packages/manager/modules/vps/src/dashboard/migrate/migrate.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.service.js
  packages/manager/modules/vps/src/dashboard/migrate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pnr): use feature flipping to display cloudDB order link
  packages/manager/apps/web/client/app/private-database/onboarding/onboarding.component.js
  packages/manager/apps/web/client/app/private-database/onboarding/onboarding.html
  packages/manager/apps/web/client/app/private-database/onboarding/onboarding.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dashboard): change the update button to migrate (#7076)
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(sidebar): wrong redirection with telecom
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
Due: none

feat: add query params
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
Due: eslint --fix

feat(vps): update the migrate vps end point (#7154)
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.html
  packages/manager/modules/vps/src/dashboard/migrate/migrate.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.service.js
  packages/manager/modules/vps/src/dashboard/migrate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat: add offer query param
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1638]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/rights/edit/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/rights/translations/Messages_en_GB.json
Due: prettier --write

fix(sva): reversement new global entry fix error on filter
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/list/repayments-list.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/list/repayments-list.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix: update translation
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/translations/Messages_fr_FR.json
Due: prettier --write

fix(container): redirect to project creation
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Due: none

build: add CA region
  packages/manager/apps/netapp/package.json
Due: prettier --write, npx sort-package-json

fix(volumes): update policy application rule
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/controller.js
Due: eslint --fix

feat(pci.public.gateways): add onboarding for public gateways
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/assets/public-gateway.png
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1639]
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_it_IT.json
Due: prettier --write

fix(web.exchange): hide guid if the account is not configured
  packages/manager/modules/exchange/src/account/update/account-update.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(container): mx plan routing for CA region
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Due: none

fix(ldp): fix redirect when empty array result
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/modules/dbaas-logs/src/logs/logs.module.js
  packages/manager/modules/dbaas-logs/src/logs/logs.routing.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.routing.js
Due: eslint --fix

feat: error page tracking improvements (#6965)
  packages/manager/apps/anthos/src/app.module.js
  packages/manager/apps/anthos/src/error/error.routing.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/error/error.routing.js
  packages/manager/apps/dedicated/client/app/expired/expired.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.module.js
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/components/error-page/error-page.routing.js
  packages/manager/apps/netapp/src/app.module.js
  packages/manager/apps/netapp/src/error/error.routing.js
  packages/manager/apps/nutanix/src/app.module.js
  packages/manager/apps/nutanix/src/error/error.routing.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/telecom/src/app/error-page/error-page.routing.js
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/error-page/error-page.routing.js
  packages/manager/modules/error-page/src/error.component.js
  packages/manager/modules/error-page/src/error.constants.js
  packages/manager/modules/error-page/src/error.controller.js
  packages/manager/modules/pci/src/error/error.routing.js
Due: eslint --fix

feat: change joburl to url (#7127)
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix: show all metrics (#7146)
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/metrics.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1640]
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_pt_PT.json
Due: prettier --write

feat(hosting.ftp): harmonize sftp info for perso/kimsufi (#7113)
  packages/manager/apps/web/client/app/hosting/ftp/FTP.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(container): default pci project selection
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Due: none

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
