Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

docs: update CODEOWNERS file
  packages/components/ng-ovh-actions-menu/.github/CODEOWNERS
Due: none

v5.0.3
  packages/components/ng-ovh-actions-menu/CHANGELOG.md
  packages/components/ng-ovh-actions-menu/package.json
Due: npx sort-package-json

v5.0.2
  packages/components/ng-ovh-actions-menu/CHANGELOG.md
  packages/components/ng-ovh-actions-menu/package.json
Due: npx sort-package-json

v5.0.4
  packages/components/ng-ovh-actions-menu/CHANGELOG.md
  packages/components/ng-ovh-actions-menu/package.json
Due: npx sort-package-json

docs: update README.md file
  packages/components/ng-ovh-actions-menu/README.md
Due: none

feat(dashboard): sort products by descending count (#2506)
  packages/manager/apps/hub/src/dashboard/routing.js
Due: eslint --fix

ambulance: fix(translation): use correct translate key.
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/dist/ovh-angular-contact/translations/Messages_fr_FR.json
  packages/components/ng-ovh-contact/src/ovh-angular-contact/translations/Messages_fr_FR.json
  packages/components/ng-ovh-contact/src/ovh-angular-contact/translations/Messages_fr_FR.xml
Due: eslint --fix

Release v0.1.1
  packages/components/ng-ovh-contact/bower.json
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/package.json
Due: eslint --fix, npx sort-package-json

arrow_up: chore(deps): bump ovh-api-services.
  packages/components/ng-ovh-contact/bower.json
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.js
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/docs/js/docs-setup.js
  packages/components/ng-ovh-contact/docs/partials/docs/ovhContact.object.OvhContact.html
  packages/components/ng-ovh-contact/docs/partials/docs/ovhContact.service.ovhContact.html
  packages/components/ng-ovh-contact/karma.conf.js
  packages/components/ng-ovh-contact/src/ovh-angular-contact.factory.js
  packages/components/ng-ovh-contact/src/ovh-angular-contact.mock.js
  packages/components/ng-ovh-contact/src/ovh-angular-contact.provider.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

ambulance: docs(readme): improve readme file.
  packages/components/ng-ovh-contact/README.md
Due: none

Release v1.0.0
  packages/components/ng-ovh-contact/bower.json
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/package.json
Due: eslint --fix, npx sort-package-json

ambulance: fix(*): remove common-style classes and jshint & jscs.
  packages/components/ng-ovh-contact/.jscsrc
  packages/components/ng-ovh-contact/.jshintrc
  packages/components/ng-ovh-contact/Gruntfile.js
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.css
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.js
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.css
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/less/ovh-angular-contact.dist.less
  packages/components/ng-ovh-contact/less/ovh-angular-contact.less
  packages/components/ng-ovh-contact/package-lock.json
  packages/components/ng-ovh-contact/package.json
  packages/components/ng-ovh-contact/src/choice/ovh-angular-contact-choice.html
  packages/components/ng-ovh-contact/src/choice/templates/match.tpl.html
  packages/components/ng-ovh-contact/src/choice/templates/select.tpl.html
  packages/components/ng-ovh-contact/src/edit/ovh-angular-contact-edit.html
  packages/components/ng-ovh-contact/src/ovh-angular-contact.html
  packages/components/ng-ovh-contact/src/ovh-angular-contact.provider.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

Release v2.0.0
  packages/components/ng-ovh-contact/bower.json
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/package.json
Due: eslint --fix, npx sort-package-json

chore(CHANGELOG): add changelog
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
Due: eslint --fix

Release v3.0.0
  packages/components/ng-ovh-contact/bower.json
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/docs/index.html
  packages/components/ng-ovh-contact/docs/js/docs-setup.js
  packages/components/ng-ovh-contact/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

tractor: chore(*): update license and readme years to 2018.
  packages/components/ng-ovh-contact/LICENSE
  packages/components/ng-ovh-contact/README.md
Due: none

fix(*): rename services to v6 and v7
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/bower.json
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.js
  packages/components/ng-ovh-contact/dist/ovh-angular-contact.min.js
  packages/components/ng-ovh-contact/package-lock.json
  packages/components/ng-ovh-contact/src/ovh-angular-contact.factory.js
  packages/components/ng-ovh-contact/src/ovh-angular-contact.mock.js
  packages/components/ng-ovh-contact/src/ovh-angular-contact.provider.js
Due: eslint --fix

docs: remove CODE_OF_CONDUCT.md file. (#10)
  packages/components/ng-ovh-contact/CODE_OF_CONDUCT.md
Due: none

v4.0.0
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/package.json
Due: npx sort-package-json

fix: apply eslint rules
  packages/components/ng-ovh-contact/src/choice/controller.js
  packages/components/ng-ovh-contact/src/factory.js
  packages/components/ng-ovh-contact/src/provider.js
Due: eslint --fix

build(dev-deps): upgrade some dev dependencies
  packages/components/ng-ovh-contact/package.json
  packages/components/ng-ovh-contact/yarn.lock
Due: npx sort-package-json

v4.0.1
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/package.json
Due: npx sort-package-json

v4.0.3
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/package.json
Due: npx sort-package-json

fix(edition): stopping edition now works
  packages/components/ng-ovh-contact/src/factory.js
Due: eslint --fix

fix(deps): upgrade component-rollup-config to v6.0.2 (#16)
  packages/components/ng-ovh-contact/package.json
  packages/components/ng-ovh-contact/yarn.lock
Due: npx sort-package-json

v4.0.2
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/package.json
Due: npx sort-package-json

docs: add CODEOWNERS file
  packages/components/ng-ovh-contact/.github/CODEOWNERS
Due: none

fix: value is now correctly settled
  packages/components/ng-ovh-contact/src/provider.js
Due: eslint --fix

v4.0.4
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/package.json
Due: npx sort-package-json

v4.0.5
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/package.json
Due: npx sort-package-json

build: set rollup environment
  packages/components/ng-ovh-contact/package.json
  packages/components/ng-ovh-contact/rollup.config.js
Due: eslint --fix, npx sort-package-json

docs: add some meta tweak
  packages/components/ng-ovh-contact/README.md
  packages/components/ng-ovh-contact/package.json
Due: npx sort-package-json

docs: update README.md file
  packages/components/ng-ovh-contact/README.md
Due: none

build: remove extra parts
  packages/components/ng-ovh-contact/.commitlintrc.json
  packages/components/ng-ovh-contact/.editorconfig
  packages/components/ng-ovh-contact/.eslintrc.json
  packages/components/ng-ovh-contact/.github/CODEOWNERS
  packages/components/ng-ovh-contact/.gitignore
  packages/components/ng-ovh-contact/.htmlhintrc
  packages/components/ng-ovh-contact/.huskyrc.json
  packages/components/ng-ovh-contact/.lintstagedrc.json
  packages/components/ng-ovh-contact/.stylelintrc.json
  packages/components/ng-ovh-contact/CONTRIBUTING.md
  packages/components/ng-ovh-contact/package.json
  packages/components/ng-ovh-contact/src/index.js
  packages/components/ng-ovh-contact/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-contact/src/translations/Messages_fr_FR.xml
  packages/components/ng-ovh-contact/yarn.lock
  yarn.lock
Due: eslint --fix, npx sort-package-json

feat(products): add parameter to get expanded view
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/modules/hub/src/components/products/controller.js
  packages/manager/modules/hub/src/components/products/products.component.js
  packages/manager/modules/hub/src/components/products/products.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(carousel): extract styles that can be shared (#2512)
  packages/manager/apps/hub/src/assets/theme/index.scss
  packages/manager/apps/hub/src/assets/theme/messages.scss
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/carousel.scss
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/carousel/styles.less
  packages/manager/modules/hub/src/variables.scss
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
