Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"]
}

fix: update nodes in the poller
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
Due: eslint --fix

feat(ovh-shell): fetch configuration
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/client/standalone-shell-client.ts
  packages/components/ovh-shell/src/shell/index.ts
Due: none

feat(shell): update app shell
  packages/manager/apps/shell/src/__tests__/shell/shell.spec.js
  packages/manager/apps/shell/src/index.jsx
Due: eslint --fix

fix(dashboard.volume.create): display max size
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
Due: eslint --fix

feat(pci.ai.apps): add token transition
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/app-attach.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.css
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.component.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

fix(dashboard.volume.create): display max size (#6020)
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
Due: eslint --fix

fix(volumes.dashboard.snapshots): remove total part
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(i18n): add missing translations [CDS 1291]
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_it_IT.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_pl_PL.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_pt_PT.json
Due: prettier --write

fix(shortcuts): update services label (#5979)
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fr_FR.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_it_IT.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_pl_PL.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_pt_PT.json
Due: prettier --write

fix(telephony): remove useless nginject
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.controller.js
Due: eslint --fix

fix(trads): split trads and fix typo
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(sva): add identity forms
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/confirm/confirm.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(sva): update number terminate
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/confirm/confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/confirm/confirm.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billingAccount.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai.apps): add partner preset
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.css
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

fix(storage.databases): update some wording
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_fr_FR.json
Due: prettier --write

fix: add tracking on success or error when adding a replication
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.controller.js
Due: eslint --fix

AI apps translations modifications
  packages/manager/modules/pci/src/projects/project/.DS_Store
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/translations/Messages_fr_FR.json
Due: prettier --write

fix: ask for confirmation before deletion if integrations
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/confirm-delete-database/confirm-delete-database.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/confirm-delete-database/confirm-delete-database.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/confirm-delete-database/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
Due: eslint --fix

fix(volumes.dashboard.snapshots): remove total part (#6021)
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(special): correct company kind and forms
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/special/special.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/beneficiaries/beneficiaries.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/documents/document/upload/upload.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/documents/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(summary): hide optionnal fields
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(id): fix incoherence of id proof
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/documents/documents.constants.js
Due: eslint --fix

feat(domain): display propagation message in dns zone and server tab (#5753)
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dns/domain-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/default-ttl/domain-zone-default-ttl.html
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.html
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/import-text/domain-zone-import-text.html
  packages/manager/apps/web/client/app/domain/zone/record/delete/domain-zone-record-delete.html
  packages/manager/apps/web/client/app/domain/zone/reset/domain-zone-reset.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(onboarding): add missing period
  packages/manager/modules/netapp/src/onboarding/translations/Messages_fr_FR.json
Due: prettier --write

fix(dashboard): prevent tiles overlap
  packages/manager/modules/netapp/src/dashboard/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(onboarding): add missing period (#6033)
  packages/manager/modules/netapp/src/onboarding/translations/Messages_fr_FR.json
Due: prettier --write

fix(private-database-app): registerApplication import
  packages/manager/apps/private-database/src/index.js
Due: eslint --fix

fix(private-database): add some common translations
  packages/manager/modules/private-database/src/translations/Messages_fr_FR.json
Due: prettier --write

fix(dashboard): prevent tiles overlap (#6034)
  packages/manager/modules/netapp/src/dashboard/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(onboarding): update tracking
  packages/manager/modules/netapp/src/onboarding/controller.js
  packages/manager/modules/netapp/src/onboarding/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(snapshot-policies.create): update content
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_fr_FR.json
Due: prettier --write

fix(kycform): limit max of benefeciaries to four
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/beneficiaries/beneficiaries.controller.js
Due: eslint --fix

fix(databases): add tracking on success or error when adding a replication (#6023)
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.controller.js
Due: eslint --fix

Release: xenon-unicorn
  .sonarcloud.properties
  packages/manager/apps/carrier-sip/CHANGELOG.md
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/CHANGELOG.md
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/email-domain/CHANGELOG.md
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/emailpro/CHANGELOG.md
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/ng-layout-helpers/CHANGELOG.md
  packages/manager/modules/ng-layout-helpers/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/CHANGELOG.md
  packages/manager/modules/support/package.json
  packages/manager/modules/telecom-universe-components/CHANGELOG.md
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
Due: prettier --write, npx sort-package-json

feat: track changes for recommitment (#5955)
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/commitment/commitment.routing.js
  packages/manager/modules/billing-components/src/components/commitment/commitment.component.js
  packages/manager/modules/billing-components/src/components/commitment/commitment.controller.js
  packages/manager/modules/vps/src/dashboard/commitment/vps-commitment.routing.js
Due: eslint --fix
