Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

feat: add breadcrumb
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/cloud-connect/src/app.module.js
  packages/manager/apps/cloud-connect/src/index.html
  packages/manager/modules/cloud-connect/src/cloud-connect.module.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/details/details.routing.js
  packages/manager/modules/cloud-connect/src/details/index.js
  packages/manager/modules/cloud-connect/src/details/overview/add-pop-configuration/add-pop-configuration.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/associate-vrack/associate-vrack.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/add-extra.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/datacenter-add.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/remove-datacenter.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/remove-extra.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/edit-description/edit-description.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/lock-port/lock-port.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/remove-pop-configuration/index.js
  packages/manager/modules/cloud-connect/src/details/overview/remove-pop-configuration/remove-pop-configuration.module.js
  packages/manager/modules/cloud-connect/src/details/overview/remove-pop-configuration/remove-pop-configuration.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/remove-vrack/remove-vrack.module.js
  packages/manager/modules/cloud-connect/src/details/overview/remove-vrack/remove-vrack.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/send-service-key/send-service-key.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/unlock-port/unlock-port.routing.js
  packages/manager/modules/cloud-connect/src/details/service-keys/regenerate-service-key/index.js
  packages/manager/modules/cloud-connect/src/details/service-keys/regenerate-service-key/regenerate-service-key.module.js
  packages/manager/modules/cloud-connect/src/details/service-keys/regenerate-service-key/regenerate-service-key.routing.js
  packages/manager/modules/cloud-connect/src/details/service-keys/service-keys.routing.js
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/tasks/tasks.routing.js
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(dedicated.housing): add breadcrumb
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/backup.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/dedicated-housing.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/housing.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/index.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/task/task.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/task/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/translations/Messages_fr_FR.json
Due: eslint --fix

refactor: move listing page as first architecture level
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.controller.js
  packages/manager/modules/vps/src/backup-storage/order/vps-backup-storage-order.controller.js
  packages/manager/modules/vps/src/cloud-database/vps-cloud-database.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/header/vps-header.controller.js
  packages/manager/modules/vps/src/index.js
  packages/manager/modules/vps/src/migration/vps-migration.module.js
  packages/manager/modules/vps/src/snapshot/order/vps-snapshot-order.controller.js
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.controller.js
  packages/manager/modules/vps/src/vps.module.js
  packages/manager/modules/vps/src/vps.routing.js
  packages/manager/modules/vps/src/vps/constants.js
  packages/manager/modules/vps/src/vps/routing.js
  packages/manager/modules/vps/src/vps/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/vps/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/vps/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/vps/translations/Messages_es_US.json
  packages/manager/modules/vps/src/vps/translations/Messages_fi_FI.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/vps/translations/Messages_lt_LT.json
  packages/manager/modules/vps/src/vps/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/vps/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/vps/vps-task.service.js
  packages/manager/modules/vps/src/vps/vps.html
  packages/manager/modules/vps/src/vps/vps.less
  packages/manager/modules/vps/src/vps/vps.module.js
  packages/manager/modules/vps/src/vps/vps.scss
  packages/manager/modules/vps/src/windows/order/vps-windows-order.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

refactor(cdn): revamp state and url architecture
  packages/manager/apps/dedicated/client/app/cdn/cdn.bundle.js
  packages/manager/apps/dedicated/client/app/cdn/cdn.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/cdn-dedicated.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/dedicated.module.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/cdn-dedicated-domain.html
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/cdn-dedicated-domain.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/rule/cdn-dedicated-domain-rule.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/statistics/cdn-dedicated-domain-statistics.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.controller.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/domains/domains.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/domains/index.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/add/cdn-dedicated-ssl-add.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/cdn-dedicated-manage-ssl.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/delete/cdn-dedicated-ssl-delete.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/generate/cdn-dedicated-ssl-generate.routes.js
  packages/manager/apps/dedicated/client/app/cdn/index.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat: add env executor
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/enterprise-cloud-database/src/app.module.js
  packages/manager/apps/enterprise-cloud-database/src/index.html
  packages/manager/apps/enterprise-cloud-database/src/index.js
  packages/manager/apps/enterprise-cloud-database/src/index.scss
  packages/manager/apps/enterprise-cloud-database/webpack.config.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

refactor(dedicated.housing): move dashboard details
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/dedicated-housing-tabs.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/dedicated-housing.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/dedicated-housing.html
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/dedicated-housing.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/dedicated-housing.service.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/housing/dedicated-housing.routes.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat: add breadcrumb
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/veeam-enterprise/src/index.html
  packages/manager/apps/veeam-enterprise/src/index.js
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/veeam-enterprise/src/details/routing.js
  packages/manager/modules/veeam-enterprise/src/index.js
  packages/manager/modules/veeam-enterprise/src/veeam.module.js
  packages/manager/modules/veeam-enterprise/src/veeam.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat: add breadcrumb
  packages/manager/apps/vrack/package.json
  packages/manager/apps/vrack/src/index.html
  packages/manager/apps/vrack/src/index.js
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/add/vrack-add.routing.js
  packages/manager/modules/vrack/src/dashboard/vrack.routing.js
  packages/manager/modules/vrack/src/index.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.routing.js
  packages/manager/modules/vrack/src/vrack.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(dedicated.housing): add listing page
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/housing.module.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/housing.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/index.js
Due: eslint --fix

feat(license): add breadcrumb
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.routes.js
  packages/manager/apps/dedicated/client/app/license/license.module.js
  packages/manager/apps/dedicated/client/app/license/license.routes.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.routes.js
  packages/manager/apps/dedicated/client/app/license/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/license/spla/add/licence-spla-add.routes.js
  packages/manager/apps/dedicated/client/app/license/upgrade/license-upgrade.routes.js
  packages/manager/apps/dedicated/client/app/license/upgrade/translations/Messages_fr_FR.json
Due: eslint --fix

feat: add breadcrumb
  packages/manager/apps/iplb/package.json
  packages/manager/apps/iplb/src/index.html
  packages/manager/apps/iplb/src/index.js
  packages/manager/modules/iplb/package.json
  packages/manager/modules/iplb/src/configuration/index.js
  packages/manager/modules/iplb/src/dashboard/routing.js
  packages/manager/modules/iplb/src/frontends/index.js
  packages/manager/modules/iplb/src/graph/index.js
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/iplb.routing.js
  packages/manager/modules/iplb/src/serverFarm/index.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.controller.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.html
  packages/manager/modules/iplb/src/serverFarm/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/sslCertificate/index.js
  packages/manager/modules/iplb/src/task/index.js
  packages/manager/modules/iplb/src/vrack/index.js
  packages/manager/modules/iplb/src/vrack/iplb-vrack.controller.js
  packages/manager/modules/iplb/src/zone/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(ip): add breadcrumb
  packages/manager/apps/dedicated/client/app/ip/ip/antispam/antispam.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/antispam/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/game/game-firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/game/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/organisation.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/routing.js
Due: eslint --fix

feat(cdn): add breadcrumb
  packages/manager/apps/dedicated/client/app/cdn/cdn.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/cdn-dedicated.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/cdn-dedicated-domain.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/logs/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/rule/cdn-dedicated-domain-rule.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/rule/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/statistics/cdn-dedicated-domain-statistics.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/domains/domains.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/domains/index.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/domains/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/logs/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/add/cdn-dedicated-ssl-add.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/cdn-dedicated-manage-ssl.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/delete/cdn-dedicated-ssl-delete.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/generate/cdn-dedicated-ssl-generate.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/ssl/update/cdn-dedicated-ssl-update.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.routes.js
  packages/manager/apps/dedicated/client/app/cdn/index.js
Due: eslint --fix

feat: add default redirection
  packages/manager/apps/cloud-connect/src/app.module.js
Due: eslint --fix

refactor: move listing page as first architecture level
  packages/manager/modules/nasha/src/dashboard/constants.js
  packages/manager/modules/nasha/src/dashboard/controller.js
  packages/manager/modules/nasha/src/dashboard/nasha.module.js
  packages/manager/modules/nasha/src/dashboard/routing.js
  packages/manager/modules/nasha/src/dashboard/styles.less
  packages/manager/modules/nasha/src/dashboard/template.html
  packages/manager/modules/nasha/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_es_US.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_fi_FI.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_lt_LT.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/index.js
  packages/manager/modules/nasha/src/nasha.module.js
  packages/manager/modules/nasha/src/nasha.routing.js
  packages/manager/modules/nasha/src/nashas/nasha.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

refactor(dedicated.nas): replace legacy tabs
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.routes.js
  packages/manager/apps/dedicated/package.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

refactor: move listing page to first architecture level
  packages/manager/modules/veeam-cloud-connect/src/dashboard/veeam-dashboard.controller.js
  packages/manager/modules/veeam-cloud-connect/src/details/component.js
  packages/manager/modules/veeam-cloud-connect/src/details/constants.js
  packages/manager/modules/veeam-cloud-connect/src/details/container.html
  packages/manager/modules/veeam-cloud-connect/src/details/controller.js
  packages/manager/modules/veeam-cloud-connect/src/details/index.less
  packages/manager/modules/veeam-cloud-connect/src/details/routing.js
  packages/manager/modules/veeam-cloud-connect/src/details/service.js
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_de_DE.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_en_GB.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_es_ES.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_es_US.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_fi_FI.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_fr_CA.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_fr_FR.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_it_IT.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_lt_LT.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_pl_PL.json
  packages/manager/modules/veeam-cloud-connect/src/details/translations/Messages_pt_PT.json
  packages/manager/modules/veeam-cloud-connect/src/details/veeam-cloud-connect.module.js
  packages/manager/modules/veeam-cloud-connect/src/index.js
  packages/manager/modules/veeam-cloud-connect/src/template.html
  packages/manager/modules/veeam-cloud-connect/src/translations/Messages_fr_FR.json
  packages/manager/modules/veeam-cloud-connect/src/veeam.module.js
  packages/manager/modules/veeam-cloud-connect/src/veeam.routing.js
  packages/manager/modules/veeam-cloud-connect/src/veeam/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

refactor(dedicated.nas): move list page as first architecture level
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.service.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/index.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas/nas.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor: remove unused dependency
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/package.json
Due: eslint --fix, npx sort-package-json

refactor: remove duc-ovh-tabs (#3757)
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/index.js
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/index.js
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/tabs.directive.js
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/tabs.html
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/tabs/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/package.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(useraccount): add breadcrumb
  packages/manager/apps/dedicated/client/app/account/user/advanced/advanced.module.js
  packages/manager/apps/dedicated/client/app/account/user/advanced/advanced.routing.js
  packages/manager/apps/dedicated/client/app/account/user/advanced/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/account/user/emails/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/emails/user-emails.html
  packages/manager/apps/dedicated/client/app/account/user/emails/user-emails.routing.js
  packages/manager/apps/dedicated/client/app/account/user/infos/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.routing.js
  packages/manager/apps/dedicated/client/app/account/user/security/2fa/user-security-2fa.routing.js
  packages/manager/apps/dedicated/client/app/account/user/security/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/security/user-security.routing.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.module.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.routing.js
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/user.module.js
  packages/manager/apps/dedicated/client/app/account/user/user.routes.js
  packages/manager/apps/dedicated/client/app/account/user/users/users.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: import moment in app not module
  packages/manager/apps/cloud-connect/.eslintrc.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/cloud-connect/src/app.module.js
  packages/manager/apps/cloud-connect/webpack.config.js
  packages/manager/modules/cloud-connect/package.json
  packages/manager/modules/cloud-connect/src/cloud-connect-interface.class.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.controller.js
Due: eslint --fix, npx sort-package-json

feat(billing): add intermediate state
  packages/manager/apps/dedicated/client/app/billing/main/history/debt/billing-main-history-debt.routes.js
  packages/manager/apps/dedicated/client/app/billing/main/history/debt/details/billing-main-history-debt-details.routes.js
  packages/manager/apps/dedicated/client/app/billing/main/payments/billing-payments.controller.js
  packages/manager/apps/dedicated/client/app/billing/main/payments/details/billing-payments-details.routes.js
Due: eslint --fix

feat: move listing page as first architecture level
  packages/manager/modules/vrack/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_es_US.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fi_FI.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_lt_LT.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/dashboard/vrack-mapper.less
  packages/manager/modules/vrack/src/dashboard/vrack.component.js
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/dashboard/vrack.less
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.routing.js
  packages/manager/modules/vrack/src/index.js
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack.module.js
  packages/manager/modules/vrack/src/vrack.routing.js
  packages/manager/modules/vrack/src/vrack/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack/vrack.module.js
  packages/manager/modules/vrack/src/vrack/vrack.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

feat(dedicated.nas): add breadcrumb
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/access/nas-partition-access.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/access/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/nas-details-partition.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/snapshot/nas-partition-snapshot.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/snapshot/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas.routing.js
Due: eslint --fix

feat: revamp state architecture
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/vrack/src/add/vrack-add.routing.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.routing.js
  packages/manager/modules/vrack/src/index.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.routing.js
  packages/manager/modules/vrack/src/vrack.routing.js
Due: eslint --fix

refactor(ip): revamp state and url
  packages/manager/apps/dedicated/client/app/ip/ip.app.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.routes.js
  packages/manager/apps/dedicated/client/app/ip/ip/antispam/antispam.module.js
  packages/manager/apps/dedicated/client/app/ip/ip/antispam/antispam.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/antispam/ip-ip-antispam.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/antispam/ip-ip-antispam.html
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/firewall.module.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/game/game-firewall.module.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/game/game-firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/game/ip-ip-firewall-game.controler.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip.module.js
  packages/manager/apps/dedicated/client/app/ip/ip/legacyOrder/DEDICATED.html
  packages/manager/apps/dedicated/client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/ip-ip-organisation.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/ip-ip-organisation.html
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/organisation.module.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/organisation.routing.js
  packages/manager/apps/dedicated/client/app/ip/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: add missing dependencies
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/cloud-connect/src/app.module.js
  packages/manager/modules/cloud-connect/package.json
  packages/manager/modules/cloud-connect/src/cloud-connect.module.js
  packages/manager/modules/cloud-connect/src/details/details.module.js
  packages/manager/modules/cloud-connect/src/style.scss
Due: eslint --fix, npx sort-package-json

feat(dedicated.server): replace link with oui-back-button
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/monitoring.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(dedicated.server): set active tab
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(dedicated.server): remove usb storage order
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.html
  packages/manager/apps/dedicated/client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
