Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"]
}

fix(sms.sms.compose): fix remaining char counter (#6246)
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.controller.js
Due: eslint --fix

Release: potassium-pug-2
  .sonarcloud.properties
  packages/manager/modules/sms/CHANGELOG.md
  packages/manager/modules/sms/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/12.dad87160.js
  assets/js/12.ed9945d8.js
  assets/js/13.97931085.js
  assets/js/13.cdfe1c1f.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/16.51d0df30.js
  assets/js/16.8403b07b.js
  assets/js/17.bc6222b0.js
  assets/js/17.f6edd39e.js
  assets/js/18.678769f9.js
  assets/js/18.dc7ed3ef.js
  assets/js/2.1ee30417.js
  assets/js/2.d75d7700.js
  assets/js/4.21458b74.js
  assets/js/4.4ac0747c.js
  assets/js/8.57ad3409.js
  assets/js/8.a7646e97.js
  assets/js/app.6693ecaf.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(netapp): update intro content to create a snap policy rule
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_fr_FR.json
Due: prettier --write

fix(identity-check): fix identity-check tracking
  packages/manager/modules/telecom-dashboard/src/identity-check/form/telecom-dashboard-identity-check-form.controller.js
  packages/manager/modules/telecom-dashboard/src/identity-check/form/telecom-dashboard-identity-check-form.routing.js
  packages/manager/modules/telecom-dashboard/src/identity-check/message/telecom-dashboard-identity-check-message.controller.js
  packages/manager/modules/telecom-dashboard/src/identity-check/message/telecom-dashboard-identity-check-message.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(netapp): set min minutes field to 0
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix: handle redirection properly
  packages/manager/modules/cda/src/index.js
Due: eslint --fix

fix: add missing `validator` import
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/hosting/module/add/hosting-module-add.controller.js
Due: eslint --fix

feat(byoip): add configuration page
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.component.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.constants.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.controller.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.html
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.module.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.routing.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.service.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.component.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.controller.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.html
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.module.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.routing.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/index.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/byoip/index.js
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(kubernetes): added description of error 412 after review
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
Due: eslint --fix

feat(anthos.dashboard): add access restriction tab
  packages/manager/modules/anthos/src/anthos-tenants.service.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/component.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/index.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/module.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/routing.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/component.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/controller.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/index.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/ipblock.class.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/style.scss
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/template.html
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/access-restriction/template.html
  packages/manager/modules/anthos/src/dashboard/access-restriction/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/component.js
  packages/manager/modules/anthos/src/dashboard/module.js
  packages/manager/modules/anthos/src/dashboard/routing.js
  packages/manager/modules/anthos/src/dashboard/template.html
  packages/manager/modules/anthos/src/dashboard/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(access-restriction): add hasFocus directive
  packages/manager/modules/anthos/src/dashboard/access-restriction/module.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/controller.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/template.html
  packages/manager/modules/anthos/src/dashboard/components/has-focus/has-focus.directive.js
  packages/manager/modules/anthos/src/dashboard/components/has-focus/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

refactor(access-restriction): code review
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix: handle redirection properly (#6254)
  packages/manager/modules/cda/src/index.js
Due: eslint --fix

fix: add missing `validator` import (#6255)
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/hosting/module/add/hosting-module-add.controller.js
Due: eslint --fix

fix(telecom.alias.ccs): modification regex internal or external agent
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.constants.js
Due: eslint --fix

feat(pcc): add a few tracking (#6245)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/convert-to-global/dedicatedCloud-datacenter-convert-to-global.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/convert-to-global/dedicatedCloud-datacenter-convert-to-global.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/convert-to-global/dedicatedCloud-datacenter-convert-to-global.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/upgrade-range/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/upgrade-range/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/upgrade-range/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/place-order/confirm/confirm.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/place-order/confirm/confirm.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/place-order/place-order.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

Release: potassium-pug-3
  .sonarcloud.properties
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/cda/CHANGELOG.md
  packages/manager/modules/cda/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/12.dad87160.js
  assets/js/12.ed9945d8.js
  assets/js/13.97931085.js
  assets/js/13.cdfe1c1f.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/16.51d0df30.js
  assets/js/16.8403b07b.js
  assets/js/17.bc6222b0.js
  assets/js/17.f6edd39e.js
  assets/js/18.678769f9.js
  assets/js/18.dc7ed3ef.js
  assets/js/2.1ee30417.js
  assets/js/2.d75d7700.js
  assets/js/4.21458b74.js
  assets/js/4.4ac0747c.js
  assets/js/8.57ad3409.js
  assets/js/8.a7646e97.js
  assets/js/app.de9f4be1.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci.datbase.pools): fix add pools modal
  packages/manager/modules/pci/src/components/project/storages/databases/pool.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pcc): remove tracking page they are in duplicate
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/convert-to-global/dedicatedCloud-datacenter-convert-to-global.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/convert-to-global/dedicatedCloud-datacenter-convert-to-global.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/upgrade-range/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/upgrade-range/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/place-order/confirm/confirm.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Due: eslint --fix

fix(netapp): set min width to avoid hide content
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/style.scss
Due: stylelint --fix

feat(ai.training): use new job logs, fix MLS-2123
  packages/manager/modules/pci/src/projects/project/training/jobs/info/logs/logs.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(pci.apps): alpha warning banner
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(netapp): applied specific volume success and error message
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(veeam): enable backup report veeam (#6135)
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/backup/backup.routing.js
Due: eslint --fix

fix(identity-check): fix identity-check tracking
  packages/manager/modules/telecom-dashboard/src/identity-check/form/confirm/confirm.controller.js
  packages/manager/modules/telecom-dashboard/src/identity-check/form/telecom-dashboard-identity-check-form.controller.js
Due: eslint --fix

feat(anthos.dashboard): softare update tracking
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.controller.js
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.html
  packages/manager/modules/anthos/src/dashboard/general-information/software-update/software-update.component.js
  packages/manager/modules/anthos/src/dashboard/general-information/software-update/software-update.constants.js
  packages/manager/modules/anthos/src/dashboard/general-information/software-update/software-update.controller.js
  packages/manager/modules/anthos/src/dashboard/general-information/software-update/software-update.html
  packages/manager/modules/anthos/src/dashboard/general-information/software-update/software-update.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(anthos.dashboard): order hosts tracking
  packages/manager/modules/anthos/src/dashboard/host/order/anthos-dashboard-host-order.component.js
  packages/manager/modules/anthos/src/dashboard/host/order/anthos-dashboard-host-order.constants.js
  packages/manager/modules/anthos/src/dashboard/host/order/anthos-dashboard-host-order.controller.js
  packages/manager/modules/anthos/src/dashboard/host/order/anthos-dashboard-host-order.routing.js
Due: eslint --fix

feat(anthos.dashboard): access tracking
  packages/manager/modules/anthos/src/dashboard/access-restriction/component.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/constants.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/routing.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/component.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/table/controller.js
  packages/manager/modules/anthos/src/dashboard/access-restriction/template.html
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.component.js
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.controller.js
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.html
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.routing.js
  packages/manager/modules/anthos/src/dashboard/general-information/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(anthos.dashboard): order public ip tracking
  packages/manager/modules/anthos/src/dashboard/components/order-public-ip/component.js
  packages/manager/modules/anthos/src/dashboard/components/order-public-ip/controller.js
  packages/manager/modules/anthos/src/dashboard/components/order-public-ip/template.html
  packages/manager/modules/anthos/src/dashboard/ips/order-public-ip/order-public-ip.constants.js
  packages/manager/modules/anthos/src/dashboard/ips/order-public-ip/order-public-ip.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix: handle redirection properly for `email_domain` routes
  packages/manager/apps/web/client/app/app.routes.js
Due: eslint --fix

fix(pci.datbase.pools): fix add pools modal (#6261)
  packages/manager/modules/pci/src/components/project/storages/databases/pool.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci.apps): fix delete route
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-command/app-command.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix: handle redirection properly for `entreprise-cloud-database` routes
  packages/manager/apps/dedicated/client/app/app.routes.js
Due: eslint --fix

fix: disable actions if cluster is not ready
  packages/manager/modules/pci/src/projects/project/storages/databases/database/acl/acl.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/databases.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/indexes/indexes.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/topics.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/useracl/useracl.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix: change unit for minutes in metrics tab
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_fr_FR.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1382]
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_it_IT.json
Due: prettier --write
