Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

feat(account): add lazy loading for contacts section
  packages/manager/apps/dedicated/client/app/account/account.bundle.js
  packages/manager/apps/dedicated/client/app/account/contacts/index.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/change/user-contacts-request-change.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/received/user-contacts-request-received.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/send/user-contacts-request-send.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.module.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/service/user-contacts-service.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.module.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user.contacts-update.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.module.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.service.js
  packages/manager/apps/dedicated/client/app/account/index.js
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/ip/ip-lb/ip-ip-lb.controller.js
Due: eslint --fix

fix(account): prevent account contacts freezing
  packages/manager/apps/dedicated/client/app/account/contacts/service/contacts-service.service.js
  packages/manager/apps/dedicated/client/app/account/contacts/service/user-contacts-service.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pack.migration): update map and arrays
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 793]
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_pl_PL.json
Due: none

fix(translations): fix invalids translations (variables)
  packages/components/ng-ovh-mondial-relay/src/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/terminateEmail/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/enable/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/notification/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/email/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/edit-description/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/logs/translations/Messages_pl_PL.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/delete-security-group/translations/Messages_pl_PL.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/configuration/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pl_PL.json
Due: none

fix(translations): fix invalids translations (variables) (#4404)
  packages/components/ng-ovh-mondial-relay/src/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/terminateEmail/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/enable/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/notification/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/email/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/edit-description/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/logs/translations/Messages_pl_PL.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/delete-security-group/translations/Messages_pl_PL.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/configuration/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pl_PL.json
Due: none

docs: update documentation [skip ci]
  404.html
  assets/js/12.6c05b5c1.js
  assets/js/12.dad87160.js
  assets/js/13.97931085.js
  assets/js/13.cdfe1c1f.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/app.2d368e12.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(hub-next): fetch product data and improvements
  packages/manager/apps/hub-next/package.json
  packages/manager/apps/hub-next/src/App.vue
  packages/manager/apps/hub-next/src/components/ui/DataTable.vue
  packages/manager/apps/hub-next/src/components/ui/Tile.vue
  packages/manager/apps/hub-next/src/constants/service_states.js
  packages/manager/apps/hub-next/src/router/index.ts
  packages/manager/apps/hub-next/src/translations/billing/Messages_de_DE.json
  packages/manager/apps/hub-next/src/translations/billing/Messages_en_GB.json
  packages/manager/apps/hub-next/src/translations/billing/Messages_es_ES.json
  packages/manager/apps/hub-next/src/translations/billing/Messages_fr_CA.json
  packages/manager/apps/hub-next/src/translations/billing/Messages_fr_FR.json
  packages/manager/apps/hub-next/src/translations/billing/Messages_it_IT.json
  packages/manager/apps/hub-next/src/translations/billing/Messages_pl_PL.json
  packages/manager/apps/hub-next/src/translations/billing/Messages_pt_PT.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_de_DE.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_en_GB.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_es_ES.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_fr_CA.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_fr_FR.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_it_IT.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_lt_LT.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_pl_PL.json
  packages/manager/apps/hub-next/src/translations/ovh-order-tracking/Messages_pt_PT.json
  packages/manager/apps/hub-next/src/views/Activity.vue
  packages/manager/apps/hub-next/src/views/Hub.vue
  packages/manager/apps/hub-next/src/views/ProductDetails.vue
  packages/manager/apps/hub-next/src/views/ProductsList.vue
  yarn.lock
Due: eslint --fix, npx sort-package-json

fix(billing): update wording
  packages/manager/apps/dedicated/client/app/billing/autoRenew/disable-domains-bulk/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: none

build: update yarn.lock file
  yarn.lock
Due: none

feat: add OnboardingLayoutHelper component
  packages/manager/modules/ng-layout-helpers/README.md
  packages/manager/modules/ng-layout-helpers/package.json
  packages/manager/modules/ng-layout-helpers/src/index.js
  packages/manager/modules/ng-layout-helpers/src/onboarding/README.md
  packages/manager/modules/ng-layout-helpers/src/onboarding/index.js
  packages/manager/modules/ng-layout-helpers/src/onboarding/index.less
  packages/manager/modules/ng-layout-helpers/src/onboarding/onboarding.component.js
  packages/manager/modules/ng-layout-helpers/src/onboarding/onboarding.controller.js
  packages/manager/modules/ng-layout-helpers/src/onboarding/onboarding.html
  packages/manager/modules/ng-layout-helpers/src/onboarding/placeholder.png
  packages/manager/modules/ng-layout-helpers/src/onboarding/placeholder.svg
  packages/manager/modules/ng-layout-helpers/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

build: update yarn.lock file (#4408)
  yarn.lock
Due: none

fix(subscriber): avoid undefined runtime error
  packages/manager/apps/web/client/app/email-domain/mailing-list/subscribers/email-domain-mailing-list-subscribers-view.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(dedicated): remove wrong parameter
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(hub-next): add pagination to data table
  packages/manager/apps/hub-next/package.json
  packages/manager/apps/hub-next/src/components/ui/DataTable.vue
  packages/manager/apps/hub-next/src/views/ProductDetails.vue
Due: npx sort-package-json

fix(contracts): fix directive
  packages/components/ng-ovh-utils/src/contracts/contracts-directive.js
Due: eslint --fix

fix(subscriber): avoid undefined runtime error (#4410)
  packages/manager/apps/web/client/app/email-domain/mailing-list/subscribers/email-domain-mailing-list-subscribers-view.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(contracts): fix directive (#4412)
  packages/components/ng-ovh-utils/src/contracts/contracts-directive.js
Due: eslint --fix

fix(responder): fix dates UI on creation form
  packages/manager/apps/web/client/app/email-domain/email/responder/create/email-domain-email-responder-create.controller.js
  packages/manager/apps/web/client/app/email-domain/email/responder/create/email-domain-email-responder-create.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(responder): fix dates UI on update form
  packages/manager/apps/web/client/app/email-domain/email/responder/update/email-domain-email-responder-update.controller.js
  packages/manager/apps/web/client/app/email-domain/email/responder/update/email-domain-email-responder-update.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 796]
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/details/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_en_GB.json
Due: none

fix(i18n): add missing translations [CDS 796] (#4413)
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/details/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_en_GB.json
Due: none

fix(server.installation): remove wrong parameter (#4411)
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(hub-next): correct date column in products table
  packages/manager/apps/hub-next/src/components/ui/DataTable.vue
  packages/manager/apps/hub-next/src/shims-ovh.d.ts
  packages/manager/apps/hub-next/src/views/Activity.vue
  packages/manager/apps/hub-next/src/views/Hub.vue
  packages/manager/apps/hub-next/src/views/ProductDetails.vue
  packages/manager/apps/hub-next/src/views/ProductsList.vue
Due: none

feat(hub-next): see more/less services
  packages/manager/apps/hub-next/src/constants/products_consts.js
  packages/manager/apps/hub-next/src/views/Hub.vue
  packages/manager/apps/hub-next/src/views/ProductDetails.vue
  packages/manager/apps/hub-next/src/views/ProductsList.vue
Due: eslint --fix

Release: curium-manatee-1
  packages/components/ng-ovh-utils/CHANGELOG.md
  packages/components/ng-ovh-utils/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.2c72d0ce.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(kube.restrictions): handle first input
  packages/manager/modules/pci/src/projects/project/kubernetes/details/restrictions/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/restrictions/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix
