Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(contact): replace $resource call using iceberg
  packages/components/ng-ovh-contact/package.json
  packages/components/ng-ovh-contact/src/index.js
  packages/components/ng-ovh-contact/src/provider.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat(ovh-reket): remove APIv7 configuration
  packages/components/ovh-reket/src/constants.js
Due: eslint --fix

fix(request-tagger): remove APIv7 reference
  packages/manager/modules/request-tagger/src/constants.js
Due: eslint --fix

fix(core): remove APIv7 references
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/translate/translate.constants.js
Due: eslint --fix

fix(web): remove APIv7 reference
  packages/manager/apps/web/client/app/app.module.js
Due: eslint --fix

fix(telecom): remove unused APIv7 references
  packages/manager/apps/telecom/src/app/config/all.js
  packages/manager/apps/telecom/src/components/telecom/telephony/index.js
  packages/manager/apps/telecom/src/components/telecom/telephony/mediator.service.js
  packages/manager/apps/telecom/src/components/telecom/telephony/voip-service.service.js
Due: eslint --fix

docs(apiv7): remove APIv7 references
  packages/components/ng-ovh-contact/src/provider.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/billingAccount/voip-billing-account.service.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/telecom-voip.service.js
Due: eslint --fix

fix(deps): bump @ovh-ux/ovh-reket to 1.0.0
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ovh-shell/package.json
  packages/manager/apps/container/package.json
  packages/manager/modules/config/package.json
Due: prettier --write, npx sort-package-json

fix(i18n): add missing translations [CDS 1743]
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_pt_PT.json
Due: prettier --write

fix: remove deprecated field for pool page
  packages/manager/modules/pci/src/components/project/storages/databases/pool.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(app.public-cloud): import clipboard module
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/modules/pci/package.json
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci.private.network): tracking for private network
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(project.storages): add storage components
  packages/manager/modules/pci/src/projects/project/storages/components/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/password-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/password-clipboard/controller.js
  packages/manager/modules/pci/src/projects/project/storages/components/password-clipboard/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/password-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/password-clipboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/storages.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storages.containers.add): use password-clipboard component
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.private.network): tracking for private network (#7662)
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1745]
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_pt_PT.json
Due: prettier --write

fix(storages.containers.add): fix gray step issue
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(nasha): prevent more than 10 partitions
  packages/manager/modules/nasha/src/components/partition/create/create.component.js
  packages/manager/modules/nasha/src/components/partition/create/create.controller.js
  packages/manager/modules/nasha/src/components/partition/create/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/dashboard.component.js
  packages/manager/modules/nasha/src/dashboard/dashboard.constants.js
  packages/manager/modules/nasha/src/dashboard/dashboard.routing.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.component.js
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.controller.js
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storages.containers): display public-url or virtual-host
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vps): display error message on VPS upgrade error
  packages/manager/modules/vps/src/upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/upgrade/vps-upgrade.controller.js
  packages/manager/modules/vps/src/upgrade/vps-upgrade.routing.js
Due: prettier --write, eslint --fix

feat(vps): display error message on VPS upscale error
  packages/manager/modules/vps/src/upscale/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/upscale/upscale.component.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
  packages/manager/modules/vps/src/upscale/upscale.html
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vps): display error message on VPS config upgrade error
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/routing.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1746]
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/upgrade/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/upgrade/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/upgrade/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/upgrade/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/upgrade/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/upgrade/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/upgrade/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/upscale/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/upscale/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/upscale/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/upscale/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/upscale/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/upscale/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/upscale/translations/Messages_pt_PT.json
Due: prettier --write

feat(vps): display error message on VPS migrate error
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fix(nasha.order): change ssd description
  packages/manager/modules/nasha/src/order/translations/Messages_fr_FR.json
Due: prettier --write

fix(nasha.order): catalog order link
  packages/manager/modules/nasha/src/order/index.js
Due: eslint --fix

fix(nasha.order): add capacity description
  packages/manager/modules/nasha/src/order/order.controller.js
  packages/manager/modules/nasha/src/order/order.template.html
  packages/manager/modules/nasha/src/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(server-sidebar): update nasha states
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: eslint --fix

fix(nasha.dashboard): missing commitment
  packages/manager/modules/nasha/src/dashboard/dashboard.component.js
  packages/manager/modules/nasha/src/dashboard/dashboard.routing.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(nasha): task tracker styles
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.component.js
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.styles.scss
Due: eslint --fix, stylelint --fix

fix(nasha.partitions): datagrid button typo
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(i18n): add missing translations [CDS 1747]
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_pt_PT.json
Due: prettier --write

fix(nasha.snapshots): snapshot name validation
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.constants.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.styles.scss
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
