Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

style: uniformize ngInject annotations
  packages/manager/modules/enterprise-cloud-database/src/service/details/restored-instances/restored-instances.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/get-started/get-started.routing.js
Due: eslint --fix

feat: add breadcrumb
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/enterprise-cloud-database/src/app.module.js
  packages/manager/apps/enterprise-cloud-database/src/index.html
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/enterprise-cloud-database/src/enterprise-cloud-database.module.js
  packages/manager/modules/enterprise-cloud-database/src/enterprise-cloud-database.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/backups/backups.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/backups/delete/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/backups/manual-backup/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/backups/recovery/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/backups/restore/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/backups/translations/Messages_fr_FR.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/cluster-nodes/add/add.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/cluster-nodes/cluster-nodes.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/cluster-nodes/delete/delete.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/cluster-nodes/translations/Messages_fr_FR.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/details.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/insights/insights.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/insights/translations/Messages_fr_FR.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/logs/grant-access/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/logs/logs.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/logs/revoke-access/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/overview/overview.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/overview/update-name/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/overview/update-password/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/restored-instances/delete/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/restored-instances/restored-instances.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/restored-instances/translations/Messages_fr_FR.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/create-security-group/create-security-group.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/settings.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/translations/Messages_fr_FR.json
  packages/manager/modules/enterprise-cloud-database/src/service/get-started/get-started.routing.js
  packages/manager/modules/enterprise-cloud-database/src/service/index.js
  packages/manager/modules/enterprise-cloud-database/src/service/service.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

refactor: remove unused dependency
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/package.json
Due: eslint --fix, npx sort-package-json

feat(nas): remove duplicate order
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/nas-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/nas-order.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/nas-order.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/validation/nas-order-validation.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/validation/nas-order-validation.html
  packages/manager/modules/server-sidebar/src/order.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(dedicated.nas): move list page as first architecture level
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.service.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/index.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas/nas.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(dedicated.nas): revamp state and url
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/access/nas-partition-access.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/nas-details-partition.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/nas-details-partition.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/snapshot/nas-partition-snapshot.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/index.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas.routing.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(dedicated.nas): replace legacy tabs
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.routes.js
  packages/manager/apps/dedicated/package.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(dedicated.nas.partition): add intermediate state
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/access/nas-partition-access.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/nas-details-partition.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/snapshot/nas-partition-snapshot.routes.js
Due: eslint --fix

feat(dedicated.nas): add breadcrumb
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/nas-details.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/access/nas-partition-access.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/access/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/nas-details-partition.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/snapshot/nas-partition-snapshot.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/snapshot/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/nas/nas.routing.js
Due: eslint --fix

refactor(license): revamp state and url
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.html
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.routes.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/apps/dedicated/client/app/license/license.routes.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.routes.js
  packages/manager/apps/dedicated/client/app/license/redirection/upgrade/license-redirection-upgrade.controller.js
  packages/manager/apps/dedicated/client/app/license/upgrade/license-upgrade.routes.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(license): add breadcrumb
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.routes.js
  packages/manager/apps/dedicated/client/app/license/license.module.js
  packages/manager/apps/dedicated/client/app/license/license.routes.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.routes.js
  packages/manager/apps/dedicated/client/app/license/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/license/spla/add/licence-spla-add.routes.js
  packages/manager/apps/dedicated/client/app/license/upgrade/license-upgrade.routes.js
  packages/manager/apps/dedicated/client/app/license/upgrade/translations/Messages_fr_FR.json
Due: eslint --fix

fix(scripts): check if dependencies scripts exists (#3777)
  packages/manager/apps/enterprise-cloud-database/package.json
Due: npx sort-package-json

build: update dependencies (#3775)
  packages/components/ng-ovh-mondial-relay/package.json
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Due: npx sort-package-json

feat(sms.batches): add batch details page
  packages/manager/modules/sms/src/sms/batches/details/delete/index.js
  packages/manager/modules/sms/src/sms/batches/details/delete/routing.js
  packages/manager/modules/sms/src/sms/batches/details/delete/telecom-sms-batches-history-details-delete.component.js
  packages/manager/modules/sms/src/sms/batches/details/delete/telecom-sms-batches-history-details-delete.controller.js
  packages/manager/modules/sms/src/sms/batches/details/delete/telecom-sms-batches-history-details-delete.html
  packages/manager/modules/sms/src/sms/batches/details/delete/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/details/index.js
  packages/manager/modules/sms/src/sms/batches/details/routing.js
  packages/manager/modules/sms/src/sms/batches/details/telecom-sms-batches-details.component.js
  packages/manager/modules/sms/src/sms/batches/details/telecom-sms-batches-details.controller.js
  packages/manager/modules/sms/src/sms/batches/details/telecom-sms-batches-details.html
  packages/manager/modules/sms/src/sms/batches/details/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/telecom-sms-batches.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(sms.batches): add go to statistics method to details page
  packages/manager/modules/sms/src/sms/batches/details/routing.js
  packages/manager/modules/sms/src/sms/batches/details/telecom-sms-batches-details.component.js
  packages/manager/modules/sms/src/sms/batches/details/telecom-sms-batches-details.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(sms.batches): add batches statistics page
  packages/manager/modules/sms/src/sms/batches/statistics/index.js
  packages/manager/modules/sms/src/sms/batches/statistics/routing.js
  packages/manager/modules/sms/src/sms/batches/statistics/telecom-sms-batches-statistics.component.js
  packages/manager/modules/sms/src/sms/batches/statistics/telecom-sms-batches-statistics.controller.js
  packages/manager/modules/sms/src/sms/batches/statistics/telecom-sms-batches-statistics.html
  packages/manager/modules/sms/src/sms/batches/statistics/telecom-sms-batches-statistics.scss
  packages/manager/modules/sms/src/sms/batches/statistics/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/telecom-sms-batches.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(sms.batches): add pending page
  packages/manager/modules/sms/src/sms/batches/pending/cancel/index.js
  packages/manager/modules/sms/src/sms/batches/pending/cancel/routing.js
  packages/manager/modules/sms/src/sms/batches/pending/cancel/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/pending/index.js
  packages/manager/modules/sms/src/sms/batches/pending/routing.js
  packages/manager/modules/sms/src/sms/batches/pending/telecom-sms-batches-pending.component.js
  packages/manager/modules/sms/src/sms/batches/pending/telecom-sms-batches-pending.controller.js
  packages/manager/modules/sms/src/sms/batches/pending/telecom-sms-batches-pending.html
  packages/manager/modules/sms/src/sms/batches/pending/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/telecom-sms-batches.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(deps): add a missing dep ng-ui-router-layout on sms app
  packages/manager/apps/sms/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/sms/batches/pending/index.js
Due: eslint --fix, npx sort-package-json

fix(translations): remove useless translations
  packages/manager/modules/sms/src/sms/batches/details/delete/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/details/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/history/cancel/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/pending/cancel/translations/Messages_fr_FR.json
Due: none

feat(sms.batches): create cancel batch modal component
  packages/manager/modules/sms/src/sms/batches/cancel/telecom-sms-batches-cancel.component.js
  packages/manager/modules/sms/src/sms/batches/cancel/telecom-sms-batches-cancel.controller.js
  packages/manager/modules/sms/src/sms/batches/cancel/telecom-sms-batches-cancel.html
  packages/manager/modules/sms/src/sms/batches/telecom-sms-batches.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(moment-format): add filter to cuc
  packages/manager/apps/cloud/client/app/dbaas/dbaas-metrics/dashboard/metrics-dashboard.html
  packages/manager/apps/cloud/client/app/deskaas/deskaas-details/deskaas-details.html
  packages/manager/apps/cloud/client/components/moment/moment.filter.js
  packages/manager/modules/cloud-universe-components/src/index.js
  packages/manager/modules/cloud-universe-components/src/moment/index.js
  packages/manager/modules/cloud-universe-components/src/moment/moment.filter.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: remove dbaas logs import
  packages/manager/apps/cloud/client/app/app.less
  packages/manager/apps/cloud/client/app/app.module.js
Due: eslint --fix, stylelint 'packages/**/*.less' --fix

feat: scaffold dbaas logs app and module
  packages/manager/apps/dbaas-logs/.eslintrc.json
  packages/manager/apps/dbaas-logs/README.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dbaas-logs/src/app.module.js
  packages/manager/apps/dbaas-logs/src/index.html
  packages/manager/apps/dbaas-logs/src/index.js
  packages/manager/apps/dbaas-logs/webpack.config.js
  packages/manager/modules/dbaas-logs/README.md
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/src/component.js
  packages/manager/modules/dbaas-logs/src/controller.js
  packages/manager/modules/dbaas-logs/src/index.js
  packages/manager/modules/dbaas-logs/src/routing.js
  packages/manager/modules/dbaas-logs/src/template.html
  packages/manager/modules/dbaas-logs/src/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_fi_FI.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_lt_LT.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(cui.dual-list): move to cuc
  packages/manager/apps/cloud/client/app/app.less
  packages/manager/apps/cloud/client/app/app.module.js
  packages/manager/apps/cloud/client/app/ui-components/dual-list/dual-list.filter.js
  packages/manager/modules/cloud-universe-components/src/cui/dual-list/component.js
  packages/manager/modules/cloud-universe-components/src/cui/dual-list/controller.js
  packages/manager/modules/cloud-universe-components/src/cui/dual-list/filter.js
  packages/manager/modules/cloud-universe-components/src/cui/dual-list/index.js
  packages/manager/modules/cloud-universe-components/src/cui/dual-list/index.less
  packages/manager/modules/cloud-universe-components/src/cui/dual-list/provider.js
  packages/manager/modules/cloud-universe-components/src/cui/dual-list/template.html
  packages/manager/modules/cloud-universe-components/src/cui/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

feat(sms): create history page
  packages/manager/modules/sms/src/sms/batches/cancel/telecom-sms-batches-cancel.component.js
  packages/manager/modules/sms/src/sms/batches/cancel/telecom-sms-batches-cancel.controller.js
  packages/manager/modules/sms/src/sms/batches/history/cancel/index.js
  packages/manager/modules/sms/src/sms/batches/history/cancel/routing.js
  packages/manager/modules/sms/src/sms/batches/history/cancel/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/history/index.js
  packages/manager/modules/sms/src/sms/batches/history/routing.js
  packages/manager/modules/sms/src/sms/batches/history/telecom-sms-batches-history.component.js
  packages/manager/modules/sms/src/sms/batches/history/telecom-sms-batches-history.controller.js
  packages/manager/modules/sms/src/sms/batches/history/telecom-sms-batches-history.html
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/telecom-sms-batches.module.js
  packages/manager/modules/sms/src/sms/telecom-sms.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(sms.batches): change history main page state action
  packages/manager/modules/sms/src/sms/batches/history/routing.js
  packages/manager/modules/sms/src/sms/batches/history/telecom-sms-batches-history.component.js
  packages/manager/modules/sms/src/sms/batches/history/telecom-sms-batches-history.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: add missing dependencies
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/dbaas-logs/.eslintrc.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dbaas-logs/src/app.module.js
  packages/manager/apps/dbaas-logs/webpack.config.js
  yarn.lock
Due: eslint --fix, npx sort-package-json

feat: add dbaas log to dedicated
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: eslint --fix, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
