Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"]
}

fix(email-domain): display errors message (#6026)
  packages/manager/modules/email-domain/src/email/email-domain-email.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat: change of url to status-ovhcloud (#5958)
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/core/src/redirection/redirection.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): removal of status page
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.html
  packages/manager/apps/dedicated/client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ovh-tasks/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.server): redirect from ovh-task page to dashboard
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
Due: eslint --fix

fix(storage.databases): fix nodes polling (#6018)
  packages/manager/modules/pci/src/components/project/storages/databases/database.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
Due: eslint --fix

feat(pci.ai.apps): init ai apps listing
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/Volume.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/app.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/index.scss
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci.ai): init ai with tabs + token
  packages/manager/modules/pci/src/projects/project/ai/ai.component.js
  packages/manager/modules/pci/src/projects/project/ai/ai.constants.js
  packages/manager/modules/pci/src/projects/project/ai/ai.controller.js
  packages/manager/modules/pci/src/projects/project/ai/ai.html
  packages/manager/modules/pci/src/projects/project/ai/ai.module.js
  packages/manager/modules/pci/src/projects/project/ai/ai.routing.js
  packages/manager/modules/pci/src/projects/project/ai/ai.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/index.js
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai): list of tokens + add new tokens
  packages/manager/modules/pci/src/projects/project/ai/ai.component.js
  packages/manager/modules/pci/src/projects/project/ai/ai.html
  packages/manager/modules/pci/src/projects/project/ai/ai.module.js
  packages/manager/modules/pci/src/projects/project/ai/ai.routing.js
  packages/manager/modules/pci/src/projects/project/ai/ai.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.component.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.module.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/index.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/index.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/token.class.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.component.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.constants.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.controller.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.html
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.module.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.routing.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.service.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/translations/Messages_en_GB.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai): update and delete tokens
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/delete.html
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/index.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.component.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.module.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.routing.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.service.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/index.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/update.component.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/update.html
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/update.module.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/update.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai): update translation with ai prefix
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_en_GB.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai.apps): app submit
  packages/manager/modules/pci/src/projects/project/ai/apps/Volume.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/app-attach.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/app-attach.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/app-attach.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/index.scss
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci.ai.apps): fix app list
  CONTRIBUTING.md
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/app.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai.apps): app dashoard
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/delete-app.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/delete-app.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/delete-app.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/delete-app.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/delete-app.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai.apps): app onboarding
  packages/manager/modules/pci/src/projects/project/ai/ai.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/assets/serving.png
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai.apps): fix image submit
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.css
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci.ai.apps): update tokens translations
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/translations/Messages_en_GB.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(pci.ai.apps): add token transition
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/app-attach.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.css
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.component.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/add.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci.ai.apps): add partner preset
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.css
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci.ai.apps): ai apps translations modifications
  packages/manager/modules/pci/src/projects/project/.DS_Store
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/delete-app/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/translations/Messages_fr_FR.json
Due: prettier --write

feat(pci.ai): list of tokens + add new tokens
  packages/manager/modules/pci/src/projects/project/.DS_Store
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
Due: eslint --fix

feat(pci.ai): remove mocks
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/app.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai.apps): ai apps add delete apps
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete-app/delete-app.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete-app/delete-app.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete-app/delete-app.html
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete-app/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete-app/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/delete-app/delete-app.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/delete-app/delete-app.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/delete-app/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai.apps): pr comments
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/tokens.routing.js
  packages/manager/modules/pci/src/projects/project/ai/tokens/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fix(summary): fix label condition
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(pci.ai.apps): review traductions
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete-app/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/translations/Messages_en_GB.json
Due: prettier --write

fix: remove unused translations [CDS]
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

feat(payment-method): catch error on payment methods load
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing/src/payment/method/component.js
  packages/manager/modules/billing/src/payment/method/index.html
  packages/manager/modules/billing/src/payment/method/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(deps): upgrade `@ovh-ux/manager-billing` semver range
  packages/manager/apps/dedicated/package.json
Due: prettier --write, npx sort-package-json

feat(storage.databases): auto-update user tab (#5804)
  packages/manager/modules/pci/src/components/project/storages/databases/user.class.js
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.routing.js
Due: eslint --fix

fix(private-database): add some common translations
  packages/manager/modules/private-database/src/translations/Messages_fr_FR.json
Due: prettier --write

fix(private-database-app): registerApplication import
  packages/manager/apps/private-database/src/index.js
Due: eslint --fix

feat(private-database): add private-database application
  packages/manager/apps/private-database/.eslintrc.json
  packages/manager/apps/private-database/README.md
  packages/manager/apps/private-database/package.json
  packages/manager/apps/private-database/src/app.module.js
  packages/manager/apps/private-database/src/error/error.module.js
  packages/manager/apps/private-database/src/error/error.routing.js
  packages/manager/apps/private-database/src/error/index.js
  packages/manager/apps/private-database/src/index.html
  packages/manager/apps/private-database/src/index.js
  packages/manager/apps/private-database/src/styles.scss
  packages/manager/apps/private-database/webpack.config.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

Release: sulfur-monkey
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
  packages/manager/modules/email-domain/CHANGELOG.md
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: prettier --write, npx sort-package-json

feat(pci.ai.apps): pr comments
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/translations/Messages_fr_FR.json
Due: prettier --write

feat: cancel a service with commitment (#5677)
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/resiliation/resiliation.routing.js
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.controller.js
  packages/manager/modules/billing/src/autoRenew/actions/delete/delete.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1301]
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/components/select-checkboxes/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/components/snapshot-policies/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pt_PT.json
Due: prettier --write

feat(search): mac address is globally searchable
  packages/manager/apps/telecom/src/app/search/search.routing.js
Due: eslint --fix

feat(sidebar): tucVoipService's mac is searchable
  packages/manager/apps/telecom/src/components/telecom/telephony/sidebar/telephony-sidebar.service.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/service/voip-service.factory.js
Due: eslint --fix
