Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

fix(catalog): update available categories on universe change only
  packages/manager/apps/hub/src/catalog/catalog.controller.js
  packages/manager/apps/hub/src/catalog/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: take full height
  packages/manager/apps/hub/src/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(billing-summary): handle no bills case (#2555)
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/billing-summary/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

refactor: use common styles for links
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.scss
  packages/manager/modules/hub/src/components/support/index.scss
  packages/manager/modules/hub/src/variables.scss
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(order-tracking): display orderId instead of domain (#2471)
  packages/manager/modules/hub/src/components/order-tracking/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix: update url
  packages/manager/modules/mfa-enrollment/src/mfa-enrollment.controller.js
Due: eslint --fix

feat: add favicon (#2508)
  packages/manager/apps/hub/src/assets/images/favicon.png
  packages/manager/apps/hub/src/assets/images/touchicon-180.png
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/webpack.config.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat: redirect dedicated for CA
  packages/manager/modules/core/src/manager-core.constants.js
  packages/manager/modules/exchange/src/diagnostic/diagnostic.constants.js
  packages/manager/modules/exchange/src/header/header.constants.js
  packages/manager/modules/iplb/src/iplb-url.constants.js
  packages/manager/modules/pci/src/constants.js
  packages/manager/modules/pci/src/projects/project/creating/notPaid/notPaid.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.constants.js
Due: eslint --fix

feat(billing-summary): add dropdown style
  packages/manager/modules/hub/src/components/billing-summary/index.scss
Due: none

fix(tile): fix icon alignment
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/hub/src/components/tile/tile.less
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", stylelint 'packages/**/*.less' --fix

fix(products-list): handle pagination change with static rows (#2493)
  packages/manager/modules/hub/src/components/product-list/controller.js
  packages/manager/modules/hub/src/components/product-list/template.html
  packages/manager/modules/hub/src/components/products/products.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(notifications): update menu
  packages/manager/apps/dedicated/client/app/css/source.less
  packages/manager/apps/public-cloud/src/index.scss
  packages/manager/apps/web/client/app/css/source.less
  packages/manager/modules/navbar/package.json
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/index.js
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/notifications-menu/constants.js
  packages/manager/modules/navbar/src/notifications-menu/controller.js
  packages/manager/modules/navbar/src/notifications-menu/index.js
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/component.js
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/index.js
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/list.scss
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/template.html
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/translations/Messages_fr_FR.json
  packages/manager/modules/navbar/src/notifications-menu/service.js
  packages/manager/modules/navbar/src/notifications-menu/template.html
  packages/manager/modules/navbar/src/notifications-menu/translations/Messages_fr_FR.json
  packages/manager/modules/navbar/src/user-menu/template.html
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

feat(navbar): manager-hub sidebar integration
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/index.less
  packages/manager/modules/hub/src/components/user-panel/index.scss
  packages/manager/modules/navbar/src/component.js
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/template.html
  packages/manager/modules/navbar/src/user-menu/component.js
  packages/manager/modules/navbar/src/user-menu/controller.js
  packages/manager/modules/navbar/src/user-menu/template.html
  packages/manager/modules/navbar/src/variables.less
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

feat(products): limit number of tiles displayed (#2485)
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/modules/hub/src/components/products/constants.js
  packages/manager/modules/hub/src/components/products/controller.js
  packages/manager/modules/hub/src/components/products/products.component.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(dashboard): fix check for no products
  packages/manager/apps/hub/src/dashboard/routing.js
Due: eslint --fix

fix: hide links not available in the US (#2532)
  packages/manager/modules/account-sidebar/src/shortcuts/controller.js
  packages/manager/modules/account-sidebar/src/shortcuts/index.js
  packages/manager/modules/account-sidebar/src/shortcuts/index.scss
  packages/manager/modules/account-sidebar/src/shortcuts/template.html
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat: add missing tracking (#2577)
  packages/manager/apps/hub/src/assets/theme/button.scss
  packages/manager/apps/hub/src/dashboard/products-list/config.js
  packages/manager/apps/hub/src/dashboard/products-list/products-list.module.js
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/index.js
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/hub/src/components/order-tracking/template.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/support/template.html
  packages/manager/modules/hub/src/components/tile/tile.component.js
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/index.js
  packages/manager/modules/navbar/src/notifications-menu/controller.js
  packages/manager/modules/navbar/src/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(catalog): fix category filter when no universe is selected
  packages/manager/apps/hub/src/catalog/catalog.controller.js
  packages/manager/apps/hub/src/catalog/catalog.scss
  packages/manager/apps/hub/src/catalog/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(product-list): set default filter column (#2546)
  packages/manager/modules/hub/src/components/product-list/component.js
  packages/manager/modules/hub/src/components/product-list/controller.js
Due: eslint --fix

fix(order-tracking): add default element if there is no history (#2466)
  packages/manager/modules/hub/src/components/order-tracking/controller.js
Due: eslint --fix

refactor: replace MANAGER_URLS with CORE_MANAGER_URLS
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/client/app/config/all.ca.js
  packages/manager/apps/cloud/client/app/config/all.eu.js
  packages/manager/apps/cloud/client/app/config/all.us.js
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/ssh/user-ssh.service.js
  packages/manager/apps/dedicated/client/app/components/services/services.service.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/telecom/src/app/config/all.js
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.controller.js
  packages/manager/modules/server-sidebar/src/constants.js
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/order.constants.js
Due: eslint --fix

refactor(payment-status): update style (#2441)
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.less
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.scss
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/hub/src/variables.scss
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", stylelint 'packages/**/*.less' --fix

refactor(user-panel): add links
  packages/manager/modules/hub/src/components/user-panel/controller.js
  packages/manager/modules/hub/src/components/user-panel/index.scss
  packages/manager/modules/hub/src/components/user-panel/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(dashboard): add support tile
  packages/manager/apps/hub/src/dashboard/dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(redirection): add link to travaux for CA (#2601)
  packages/manager/modules/core/src/redirection/redirection.constants.js
Due: eslint --fix

feat: return MANAGER_URLS depending on region
  packages/manager/modules/core/src/index.js
Due: eslint --fix

feat(order-tracking): clickable order id
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/hub/src/components/order-tracking/controller.js
  packages/manager/modules/hub/src/components/order-tracking/index.scss
  packages/manager/modules/hub/src/components/order-tracking/template.html
  packages/manager/modules/hub/src/components/order-tracking/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(redirection): add user account constants
  packages/manager/modules/core/src/redirection/redirection.constants.js
Due: eslint --fix

feat(products-list): add special products configuration
  packages/manager/apps/hub/src/dashboard/products-list/index.js
  packages/manager/apps/hub/src/dashboard/products-list/ip.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/products-list.module.js
  packages/manager/apps/hub/src/dashboard/products-list/routing.js
  packages/manager/apps/hub/src/dashboard/products-list/sharepoint.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/vrack.routing.js
  packages/manager/apps/hub/src/dashboard/routing.js
Due: eslint --fix

feat(dashboard): hide products tile if no products (#2604)
  packages/manager/apps/hub/src/dashboard/dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat: add redirection for billing emails
  packages/manager/apps/hub/src/constants.js
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/routing.js
  packages/manager/apps/web/client/app/app.js
Due: eslint --fix

feat(billing-summary): share style
  packages/manager/modules/hub/src/assets/billing-background.svg
  packages/manager/modules/hub/src/components/billing-summary/index.scss
  packages/manager/modules/hub/src/components/enterprise-billing-summary/index.js
  packages/manager/modules/hub/src/components/enterprise-billing-summary/index.scss
Due: eslint --fix

fix(public-cloud): remove custom navbar styles
  packages/manager/apps/public-cloud/src/assets/theme/default/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
  packages/manager/apps/public-cloud/src/assets/theme/default/index.less
Due: stylelint 'packages/**/*.less' --fix

fix(product-lists): inject sort and sortOrder parameters
  packages/manager/apps/hub/src/dashboard/products-list/exchange.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/sharepoint.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/vrack.routing.js
Due: eslint --fix

feat(hub): add testing ids (#2620)
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
  packages/manager/modules/account-sidebar/src/shortcuts/template.html
  packages/manager/modules/account-sidebar/src/template.html
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/order-tracking/template.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/support/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix: update theme for h3
  packages/manager/modules/account-sidebar/src/index.scss
Due: none

fix(hub): always display sidebar, increase max-width (#2660)
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.scss
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(hub): sidebar style integration
  packages/manager/modules/account-sidebar/src/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/index.scss
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
Due: none
