Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

refactor(telephony.contact): rename controller alias
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/contact/contact.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/fax/contact/contact.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/contact/contact.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(workflow): check workflow availability by region
  packages/manager/modules/pci/src/projects/project/workflow/workflow.routing.js
Due: eslint --fix

fix(api): display available results (#4520)
  packages/manager/modules/server-sidebar/src/controller.js
Due: eslint --fix

fix(sidebar): do not open by default on responsive mode (#4558)
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
Due: stylelint 'packages/**/*.less' --fix

fix(workflow): disable region
  packages/manager/modules/pci/src/projects/project/workflow/workflow.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 854]
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
Due: none

fix(hosting): state label more explicit
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(telephony.contact): add wayName directory field
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

Release: beryllium-gnu-2
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/CHANGELOG.md
  packages/manager/modules/server-sidebar/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.798f095f.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(order-tracking): add information on bare metal delivery
  packages/components/ng-ovh-order-tracking/src/order-tracking.html
  packages/components/ng-ovh-order-tracking/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(order-tracking): add information on bare metal delivery (#4568)
  packages/components/ng-ovh-order-tracking/src/order-tracking.html
  packages/components/ng-ovh-order-tracking/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

Release: beryllium-gnu-3
  packages/components/ng-ovh-order-tracking/CHANGELOG.md
  packages/components/ng-ovh-order-tracking/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.98f724b7.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(hub): remove useless prefix for warning notifications
  packages/manager/apps/hub/src/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/translations/Messages_pt_PT.json
Due: none

refactor(telephony.contact): use oui components and simplify edit
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(telephony.contact): add wayName directory field
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(hub): add veeamcc service type to incident status page
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Due: none

fix(hub): remove useless prefix for warning notifications (#4569)
  packages/manager/apps/hub/src/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/translations/Messages_pt_PT.json
Due: none

feat(hub): add veeamcc service type to incident status page (#4572)
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Due: none

Release: beryllium-gnu-4
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/14.4e65ef12.js
  assets/js/14.ae09d86d.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/16.51d0df30.js
  assets/js/16.8403b07b.js
  assets/js/17.1a644b40.js
  assets/js/17.323fd8ee.js
  assets/js/18.678769f9.js
  assets/js/18.dc7ed3ef.js
  assets/js/19.6da3ee10.js
  assets/js/19.85adfdfb.js
  assets/js/20.3b4d0571.js
  assets/js/20.ee05036f.js
  assets/js/21.30fb43d0.js
  assets/js/21.90789c29.js
  assets/js/22.9176d8a8.js
  assets/js/22.bac3efb0.js
  assets/js/23.b75a2297.js
  assets/js/23.e4e83e6e.js
  assets/js/app.01497afe.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(incident): add padding to display pagination
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(incident): add padding to display pagination (#4576)
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

Release: beryllium-gnu-5
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/13.223aa13f.js
  assets/js/13.97931085.js
  assets/js/14.48d1807e.js
  assets/js/14.4e65ef12.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/16.51d0df30.js
  assets/js/16.8403b07b.js
  assets/js/17.1a644b40.js
  assets/js/17.323fd8ee.js
  assets/js/18.678769f9.js
  assets/js/18.dc7ed3ef.js
  assets/js/19.6da3ee10.js
  assets/js/19.85adfdfb.js
  assets/js/20.3b4d0571.js
  assets/js/20.ee05036f.js
  assets/js/21.30fb43d0.js
  assets/js/21.90789c29.js
  assets/js/22.9176d8a8.js
  assets/js/22.bac3efb0.js
  assets/js/23.b75a2297.js
  assets/js/23.e4e83e6e.js
  assets/js/app.be2b288c.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(dedicated): commitment tracking missing serviceType
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/update/update.controller.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

feat: add incident migration banner
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.less
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/index.html
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/package.json
  packages/manager/modules/account-sidebar/src/index.less
  packages/manager/modules/incident-banner/package.json
  packages/manager/modules/incident-banner/src/index.js
  packages/manager/modules/incident-banner/src/migration/index.js
  packages/manager/modules/incident-banner/src/migration/migration-banner.component.js
  packages/manager/modules/incident-banner/src/migration/migration-banner.controller.js
  packages/manager/modules/incident-banner/src/migration/migration-banner.html
  packages/manager/modules/incident-banner/src/migration/migration.scss
  packages/manager/modules/incident-banner/src/migration/translations/Messages_de_DE.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_en_GB.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_es_ES.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_CA.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_FR.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_it_IT.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pl_PL.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

Release: beryllium-gnu-6
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/account-sidebar/CHANGELOG.md
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/incident-banner/CHANGELOG.md
  packages/manager/modules/incident-banner/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/13.223aa13f.js
  assets/js/13.97931085.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/app.29a19156.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: add missing translations
  packages/manager/apps/hub/src/dashboard/incident/migration/contracts/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/contracts/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/contracts/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/contracts/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/contracts/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pt_PT.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_de_DE.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_en_GB.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_es_ES.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_it_IT.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pl_PL.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pt_PT.json
Due: none

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
