Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

fix(pci.projects.instances.new): display missing input in oui-field (#794)
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Due: htmlhint 'packages/**/*.html'

fix(pci.instances): avoid menu from being cropped (#712)
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Due: htmlhint 'packages/**/*.html'

fix(pci.sidebar): remove unecessary aria attributes (#795)
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Due: htmlhint 'packages/**/*.html'

build: upgrade ovh-api-services to v6.23.0 (#797)
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations (#800)
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_pl_PL.json
Due: none

fix(pci.projects.failover-ips): display message on ipfo order (#796)
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.projects.sidebar): add external icon for horizon
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Due: htmlhint 'packages/**/*.html'

fix(pci.projects.sidebar): add external icon for horizon (#802)
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Due: htmlhint 'packages/**/*.html'

fix(pci.projects.sidebar): improve clipboard display
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Due: htmlhint 'packages/**/*.html', stylelint 'packages/**/*.less' --fix

fix(pci.projects.sidebar): improve clipboard display (#803)
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Due: htmlhint 'packages/**/*.html', stylelint 'packages/**/*.less' --fix

fix(pci.projects.instance): display currency according to sub not locale (#783)
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(pci.project.billing): open monthly confirmation in a modal (#787)
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/component.js
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/instance-list/component.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/template.html
  packages/manager/modules/pci/src/components/project/billing/monthly-resource-list/template.html
  packages/manager/modules/pci/src/projects/project/billing/billing.controller.js
  packages/manager/modules/pci/src/projects/project/billing/billing.html
  packages/manager/modules/pci/src/projects/project/billing/monthly/index.js
  packages/manager/modules/pci/src/projects/project/billing/monthly/monthly.module.js
  packages/manager/modules/pci/src/projects/project/billing/monthly/monthly.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/active-monthly-billing.html
Due: htmlhint 'packages/**/*.html', eslint --fix

Release: radon-mule
  packages/manager/modules/navbar/CHANGELOG.md
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/sms/CHANGELOG.md
  packages/manager/modules/sms/package.json
Due: none

fix(pci.projects): improve project creation (#782)
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/new.service.js
  packages/manager/modules/pci/src/projects/new/payment/payment.component.js
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
  packages/manager/modules/pci/src/projects/new/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/creating/creating.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

Release: radon-mule-1
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: none

fix(pci.project.kubernetes.details.nodes): remove beta sentence
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

fix(pci.project.kubernetes.details.nodes): remove beta sentence (#810)
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

fix(pci.projects.onboarding): correct translation
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Due: none

fix(pci.projects.onboarding): correct translation (#813)
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Due: none

fix(pci.components.flavors-list): allow to translate bandwidth unit
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

Release: radon-mule-2
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: none

fix(pci.private-network): display info depending on dhcp configuration
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

refactor(pci.projects.failover-ips): remove reference to Agora
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.components.flavors-list): allow to translate bandwidth unit (#814)
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

refactor(pci.project.failover-ip): use country list given by API (#789)
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

fix: avoid error when getting project
  packages/manager/modules/pci/src/projects/new/new.routing.js
Due: eslint --fix

feat(private-registry): implement private registry
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.html
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/assets/private-registry.png
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.html
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-registry/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/list/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/list/list.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/list/list.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/update/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(private-registry): private registry changes
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.html
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.html
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-registry/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/list/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/list/list.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/list/list.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.html
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(private-registry): private registry changes
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(private-registry): private registry changes
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(private-registry): private registry changes
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.html
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(private-registry): private registry changes
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.html
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.controller.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(private-registry): add terms and conditions
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_lt_LT.json
Due: none

fix(pci.private-network): display info depending on dhcp configuration (#809)
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

feat(adp): changes in datagrid
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.html
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  yarn.lock
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.project.private-registry): add missing messages_fr_FR.json file
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations
  packages/manager/modules/navbar/src/walk-me/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/regions-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/translations/Messages_es_ES.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pt_PT.json
Due: none

Path conditions:
  htmlhint 'packages/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
