Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

feat(sidebar): avoid use same state each time
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
  packages/manager/apps/public-cloud/src/sidebar/sidebar.html
  packages/manager/apps/public-cloud/src/sidebar/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  yarn.lock
Due: htmlhint 'packages/**/*.html', eslint --fix

feat: set default route to list of projects
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/public-cloud/src/index.routes.js
Due: eslint --fix

refactor(instances): remove multiple extratop buttons
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

build: add kubernetes packages
  packages/manager/apps/pci/package.json
Due: none

feat(project): user are now able to edit project and define default (#346)
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/edit/edit.constant.js
  packages/manager/modules/pci/src/projects/project/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/edit/index.js
  packages/manager/modules/pci/src/projects/project/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(apps.public-cloud): add meta viewport (#347)
  packages/manager/apps/public-cloud/src/index.html
Due: htmlhint 'packages/**/*.html'

refactor: refacto & merge dedicated styles
  packages/manager/apps/public-cloud/src/assets/theme/_buttons.less
  packages/manager/apps/public-cloud/src/assets/theme/_link.less
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/_page-header.less
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/apps/public-cloud/src/assets/theme/_tile.less
  packages/manager/apps/public-cloud/src/assets/theme/_variables.less
  packages/manager/apps/public-cloud/src/assets/theme/index.less
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/public-cloud/src/navbar/navbar.less
  packages/manager/apps/public-cloud/src/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

fix: hide sidebar when display xs, sm breakpoints
  packages/manager/apps/public-cloud/src/index.html
Due: htmlhint 'packages/**/*.html'

fix: remove useless links at this moment from navbar
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
Due: eslint --fix

fix(i18n): replace lorem ipsum for deleting project
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

feat: add preloading screen
  packages/manager/apps/public-cloud/src/components/manager-preload/index.js
  packages/manager/apps/public-cloud/src/components/manager-preload/manager-preload.less
  packages/manager/apps/public-cloud/src/components/manager-preload/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/index.js
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

feat(navbar): use @ovh-ux/manager-navbar
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/public-cloud/src/navbar/assets/icon-assistance.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-assistance_on.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-external-link.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-notifications.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-notifications_on.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-user.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-user_on.svg
  packages/manager/apps/public-cloud/src/navbar/index.js
  packages/manager/apps/public-cloud/src/navbar/navbar-notification.service.js
  packages/manager/apps/public-cloud/src/navbar/navbar.constants.js
  packages/manager/apps/public-cloud/src/navbar/navbar.controller.js
  packages/manager/apps/public-cloud/src/navbar/navbar.html
  packages/manager/apps/public-cloud/src/navbar/navbar.less
  packages/manager/apps/public-cloud/src/navbar/navbar.service.js
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_cs_CZ.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_de_DE.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_en_ASIA.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_en_AU.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_en_CA.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_en_GB.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_en_SG.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_en_US.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_es_ES.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_fi_FI.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_fr_CA.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_it_IT.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_lt_LT.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_nl_NL.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_pl_PL.json
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_pt_PT.json
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

fix(storages.blocks): disable add form when submitting (#357)
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

fix(sidebar): close projects sidebar when switching project
  packages/manager/apps/public-cloud/src/sidebar/sidebar.controller.js
Due: eslint --fix

fix: remove adp link (not working atm)
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
Due: eslint --fix

feat(ssh): add new section: ssh keys (#364)
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/legacy/compute/ssh/cloud-project-compute-ssh.demo.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/add.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/index.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ssh-keys/index.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/remove/index.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/remove/remove.controller.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/remove/remove.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/remove/remove.routing.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/remove/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.controller.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.routing.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat: add IPFO section (#361)
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/import/import.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/import/import.html
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/import/import.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/import/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/import/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/imports.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/imports.html
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/imports.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/index.js
Due: htmlhint 'packages/**/*.html', eslint --fix

build(apps.public-cloud): remove resolve.symlinks from webpack config
  packages/manager/apps/public-cloud/webpack.config.js
Due: eslint --fix

feat: add empty component
  packages/manager/modules/pci/src/components/project/empty/empty.component.js
  packages/manager/modules/pci/src/components/project/empty/empty.controller.js
  packages/manager/modules/pci/src/components/project/empty/empty.html
  packages/manager/modules/pci/src/components/project/empty/index.js
  packages/manager/modules/pci/src/components/project/empty/index.less
  packages/manager/modules/pci/src/components/project/empty/placeholder.svg
  packages/manager/modules/pci/src/components/project/empty/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/index.js
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

feat(less): add visual improvements
  packages/manager/apps/public-cloud/src/assets/theme/_button.less
  packages/manager/apps/public-cloud/src/assets/theme/_buttons.less
  packages/manager/apps/public-cloud/src/assets/theme/_input.less
  packages/manager/apps/public-cloud/src/assets/theme/_link.less
  packages/manager/apps/public-cloud/src/assets/theme/_message.less
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/_page-header.less
  packages/manager/apps/public-cloud/src/assets/theme/_pagination.less
  packages/manager/apps/public-cloud/src/assets/theme/_status.less
  packages/manager/apps/public-cloud/src/assets/theme/_typography.less
  packages/manager/apps/public-cloud/src/assets/theme/_variables.less
  packages/manager/apps/public-cloud/src/assets/theme/index.less
  packages/manager/apps/public-cloud/src/index.html
Due: htmlhint 'packages/**/*.html', stylelint 'packages/**/*.less' --fix

build: upgrade yarn.lock
  yarn.lock
Due: none

fix(navbar): use navbar module for start script
  packages/manager/modules/navbar/package.json
Due: none

fix: remove dependencies to @ovh-ux/manager-kubernetes
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  yarn.lock
Due: none

fix(preload): wait state before displaying text
  packages/manager/apps/public-cloud/src/index.html
Due: htmlhint 'packages/**/*.html'

feat: add instance backups list
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/storages/index.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/index.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup.class.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.service.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat: add ui-router breadcrumb module
  packages/components/ng-ovh-uirouter-breadcrumb/CHANGELOG.md
  packages/components/ng-ovh-uirouter-breadcrumb/LICENSE
  packages/components/ng-ovh-uirouter-breadcrumb/README.md
  packages/components/ng-ovh-uirouter-breadcrumb/package.json
  packages/components/ng-ovh-uirouter-breadcrumb/rollup.config.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/index.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.component.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.controller.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.html
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.less
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

feat: add ui-router line-progress module
  packages/components/ng-ovh-uirouter-line-progress/CHANGELOG.md
  packages/components/ng-ovh-uirouter-line-progress/LICENSE
  packages/components/ng-ovh-uirouter-line-progress/README.md
  packages/components/ng-ovh-uirouter-line-progress/package.json
  packages/components/ng-ovh-uirouter-line-progress/rollup.config.js
  packages/components/ng-ovh-uirouter-line-progress/src/index.js
  packages/components/ng-ovh-uirouter-line-progress/src/ng-ovh-uirouter-line-progress.config.js
  packages/components/ng-ovh-uirouter-line-progress/src/ng-ovh-uirouter-line-progress.less
Due: eslint --fix, stylelint 'packages/**/*.less' --fix

feat: add breadcrumb and line-progress
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/assets/theme/_button.less
  packages/manager/apps/public-cloud/src/assets/theme/_page-header.less
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/apps/public-cloud/src/assets/theme/_typography.less
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/public-cloud/src/sidebar/sidebar.html
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

feat: add breadcrumb informations
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/imports.html
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/imports.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/list/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/list/list.html
  packages/manager/modules/pci/src/projects/project/kubernetes/list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/header/header.html
  packages/manager/modules/pci/src/projects/project/private-networks/list/list.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/block.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archives.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/snapshot.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.routing.js
  packages/manager/modules/pci/src/projects/project/storages/storages.routing.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

build: update yarn.lock
  yarn.lock
Due: none

Apply suggestions from code review
  packages/components/ng-ovh-uirouter-breadcrumb/README.md
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.controller.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.html
  packages/components/ng-ovh-uirouter-line-progress/README.md
Due: htmlhint 'packages/**/*.html', eslint --fix

fix: update track by in breadcrumb
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.html
Due: htmlhint 'packages/**/*.html'

fix: remove useless spacing
  packages/manager/modules/pci/src/projects/projects.html
Due: htmlhint 'packages/**/*.html'

Path conditions:
  htmlhint 'packages/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
