Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(pci.projects.project.sidebar): hide no trusted products
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(project.instances): manage categories via feature flipping
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.components): create trusted_zone_banner component
  packages/manager/modules/pci/src/components/trusted-zone-banner/component.js
  packages/manager/modules/pci/src/components/trusted-zone-banner/index.js
  packages/manager/modules/pci/src/components/trusted-zone-banner/template.html
  packages/manager/modules/pci/src/components/trusted-zone-banner/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.project.storage): display trusted zone banner
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.project.instance): display trusted zone banner
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.onboarding): disable project creation for trusted user
  packages/manager/modules/pci/src/projects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.constant.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.less
  packages/manager/modules/pci/src/projects/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

fix(pci.project.block-storage): use dynamic endpoint catalog (#6475)
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.controller.js
Due: eslint --fix

fix(pci.components): add catalog endpoint param to flavor-list
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Due: eslint --fix

feat(modules): manage public and private catalog
  packages/manager/modules/cloud-universe-components/src/price/service.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.component.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/baremetal/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/baremetal/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/create-volume/create-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/create-volume/create-volume.html
  packages/manager/modules/pci/src/projects/project/workflow/add/add.component.js
  packages/manager/modules/pci/src/projects/project/workflow/add/add.controller.js
  packages/manager/modules/pci/src/projects/projects.component.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci.object-storage): disable next btn until customer select a region
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(pci.instance-backups): exclude no trusted instance flavors
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.instances): add specific content for trusted customers
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/instances/onboarding/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.billing): pass is-trusted-zone param
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing-legacy.component.js
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing-legacy.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.components): remove no required resource for trusted users
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/component.js
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.billing): pass is-trusted-zone param
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.component.js
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.onboarding): remove call-me-back button
  packages/manager/modules/pci/src/projects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.constant.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.instances): add info banner for extra amount charge
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci.instance): add missed is-trusted-zone param
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
Due: eslint --fix

feat(pci.instance.vnc): allow trusted zone url
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/vnc.constants.js
Due: eslint --fix

feat(pci.instance-backup.add): display trusted charge info banner
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(telecom.telephony.billing): wrong redirect url
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/billing.controller.js
Due: eslint --fix

docs: require Node.js 16
  README.md
  docs/docs/guide/getting-started.md
Due: none

feat(apps): add phone-prefix module dependency
  packages/manager/apps/web/package.json
  packages/manager/modules/exchange/package.json
Due: prettier --write, npx sort-package-json

feat(modules): add phone-prefix module
  packages/manager/modules/phone-prefix/CHANGELOG.md
  packages/manager/modules/phone-prefix/LICENSE
  packages/manager/modules/phone-prefix/README.md
  packages/manager/modules/phone-prefix/package.json
  packages/manager/modules/phone-prefix/rollup.config.js
  packages/manager/modules/phone-prefix/src/index.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat(web.exchange): add update module dependency
  packages/manager/modules/exchange/src/account/account.component.js
  packages/manager/modules/exchange/src/account/account.controller.js
  packages/manager/modules/exchange/src/account/account.html
  packages/manager/modules/exchange/src/account/account.module.js
  packages/manager/modules/exchange/src/dashboard/exchange.template.js
  packages/manager/modules/exchange/src/dashboard/exchangeControllers.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.exchange): add country_codes phones list
  packages/manager/modules/exchange/src/account/account.component.js
  packages/manager/modules/exchange/src/account/account.constants.js
  packages/manager/modules/exchange/src/account/account.controller.js
  packages/manager/modules/exchange/src/account/account.module.js
  packages/manager/modules/exchange/src/account/account.routing.js
  packages/manager/modules/exchange/src/account/account.service.js
Due: eslint --fix

feat(web.exchange): improve ui and add new fields
  packages/manager/modules/exchange/src/account/add/account-add.component.js
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
  packages/manager/modules/exchange/src/account/add/account-add.html
  packages/manager/modules/exchange/src/account/add/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.exchange): add update exchange module
  packages/manager/modules/exchange/src/account/update/account-update.component.js
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.html
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/update/update.module.js
  packages/manager/modules/exchange/src/account/update/update.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web.exchange.account): add missed option on update page
  packages/manager/modules/exchange/src/account/update/account-update.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(telecom.telephony.group): line grouping random loading
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/administration/linesGroup/lines-group.controller.js
Due: eslint --fix

fix(shell): update routing plugin
  packages/components/ovh-shell/src/plugin/routing/index.tsx
  packages/manager/apps/container/src/container/legacy/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/index.jsx
Due: none

feat(dedicated-cloud.user): handle active directory users and groups (#6421)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/dedicatedCloud-user.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/dedicatedCloud-user.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/delete/dedicatedCloud-user-delete.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/rights/dedicatedCloud-user-rights.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

build(deps): require Node.js 16
  package.json
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/dev-server-config/package.json
  packages/manager/tools/dev-server/package.json
  packages/manager/tools/registry/package.json
  packages/manager/tools/webpack-config/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(pack): replace exchange APIv7 call (#6586)
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeAccount/exchangeAccount.controller.js
Due: eslint --fix

fix(deps): upgrade `@ovh-ux/manager-dev-server-config` to `v4.0.0`
  packages/manager/apps/container/package.json
  packages/manager/tools/dev-server/package.json
  packages/manager/tools/webpack-dev-server/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

ci(workflows): require Node.js 16
  .github/workflows/run-bdd-tests.yml
Due: none

fix(i18n): add missing translations
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations (#6609)
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pt_PT.json
Due: prettier --write

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
