Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(dedicated.server): change unit display for -mrtg (#8089)
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
Due: eslint --fix

feat(telecom.moveaddress): manage new offers and options (#7983)
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.account): move profil tiles (#8051)
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(telecom.migration): managed new offers options (#7886)
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.constant.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

Release: lanthanum-koala-1
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/modules/telecom-universe-components/CHANGELOG.md
  packages/manager/modules/telecom-universe-components/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.41759489.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated-billing): remove redirect link to hub (#8081)
  packages/manager/modules/billing/src/payment/credits/movements/billing-credits-movements.html
  packages/manager/modules/billing/src/payment/credits/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(xdsl): remove utc time zone on address move (#8130)
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
Due: eslint --fix

fix(batches): add default value for parameter (#8119)
  packages/manager/modules/sms/src/sms/batches/create/telecom-sms-batches-create.controller.js
  packages/manager/modules/sms/src/sms/components/sms-composition/sms-composition.controller.js
  packages/manager/modules/sms/src/sms/components/sms-composition/sms-composition.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

Release: lanthanum-koala-2
  .sonarcloud.properties
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/sms/CHANGELOG.md
  packages/manager/modules/sms/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.2a864770.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pcc.user): make the ssl field is mandatory in federation edition
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.ovh-payment): make legal notice default payment
  packages/components/ng-ovh-payment-method/src/components/register/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(pcc.user): make the ssl field is mandatory in federation add
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(pcc.user): change content on user deletion add an accent
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/translations/Messages_fr_FR.json
Due: prettier --write

feat(dedicated): add translations for license
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1877]
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
Due: prettier --write

fix(pcc.user): adapt content for group deletion
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/vsphere-user-delete.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat(dedicated-ip.list): add advanced mode
  packages/manager/apps/dedicated/client/app/ip/components/list/list.component.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/failover/failover.component.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.constants.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.routing.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.template.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pcc.user): pattern error message on import user
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

feat: order additional ip
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ip/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/service.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.project): instances list page enhancements (#7312)
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.scss
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

Feat/private network develop (#7397)
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/assets/private-networks.png
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.less
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci.project): assign floating IP to instance (#7444)
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.component.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.controller.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.html
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.module.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.routing.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/index.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.module.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.public.gateways): create config for public gateways (#7193)
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

Feat/public gateway develop (#7343)
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.html
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/assets/public-gateway.png
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.less
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pci.private.networks): tracking for private networks (#7502)
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.project): gateway integration while creating Floating IP (#7506)
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/component.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/controller.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/index.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/service.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/template.html
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/gateways/index.js
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.project): tracking improvements for additional IP
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

refactor(pci.private.networks): private network list page performance (#7540)
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): display no instances error message
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
