Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

fix: notebooks feature availability
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: eslint --fix

fix(storages.databases): correct database connection strings (#5140)
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
Due: eslint --fix

fix(billing.resiliation): update check on engagement (#5109)
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
Due: eslint --fix

fix(storages.databases): block database action when inactive (#5134)
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(services-action): allow resiliation on commited services (#5129)
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(sign-up): flag-icon-css path (#5135)
  packages/manager/modules/sign-up/src/components/country-flag/index.scss
Due: none

fix(pci): add billing information for notebooks
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/billing.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: add automation component
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.html
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

Release: technetium-lizard-4
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/sign-up/CHANGELOG.md
  packages/manager/modules/sign-up/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/app.e4a0acd2.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix: remove import from bundle file
  packages/manager/apps/dedicated/client/app/app.bundle.js
Due: eslint --fix

feat(vps): add migration page
  packages/manager/apps/vps/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/vps/src/dashboard/migrate/index.js
  packages/manager/modules/vps/src/dashboard/migrate/index.scss
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/index.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.constants.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.html
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.module.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/migrate/migrate.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.constants.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.html
  packages/manager/modules/vps/src/dashboard/migrate/migrate.module.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/import/helper.service.js
  packages/manager/modules/vps/src/vps/vps.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(vps): add tracking to migration of vps
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(web-cloud): add tracking to termination
  packages/manager/apps/web/client/app/email-domain/general-informations/email-domain-general-informations.controller.js
  packages/manager/apps/web/client/app/email-domain/general-informations/email-domain-general-informations.html
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/emailpro/src/dashboard/emailpro.controller.js
  packages/manager/modules/emailpro/src/dashboard/emailpro.html
  packages/manager/modules/emailpro/src/emailpro.module.js
  packages/manager/modules/emailpro/src/remove/emailpro-remove.controller.js
  packages/manager/modules/exchange/src/exchange.module.js
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/header/header.html
  packages/manager/modules/exchange/src/header/header.service.js
  packages/manager/modules/exchange/src/header/remove/exchange-remove.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(dedicated-cloud): add tracking to termination
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/terminate/confirm/dedicatedCloud-terminate-confirm.controller.js
  packages/manager/apps/dedicated/client/app/license/delete/license-delete.controller.js
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/dashboard.routing.js
  packages/manager/modules/veeam-enterprise/src/dashboard/terminate/terminate.controller.js
  packages/manager/modules/veeam-enterprise/src/details/routing.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(public-cloud): add tracking to termination
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(telecom): add tracking to termination
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/terminate.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/administration/deleteGroup/delete-group.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/fax/management/terminate/terminate.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/terminate/cancel/cancel.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/terminate/terminate.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
Due: eslint --fix

fix(pci): add high performance object storage configuration
  packages/manager/modules/pci/src/components/project/regions-list/regions.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/objects/add/add.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(job-submit): fix no gpu resource without init call
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Due: eslint --fix

fix(project.storages.ibackups.add): add missing public ip
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
Due: eslint --fix

fix(group.member): enable contact deletion
  packages/manager/modules/exchange/src/group/member/group-member.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1012]
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
Due: none

fix(pci): add onboarding image for notebooks
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/assets/notebooks.png
Due: none

fix(pci): add billing information for notebooks
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/billing.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pci): add billing information for notebooks
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: eslint --fix

fix: add redirection for /contact (#5131)
  packages/manager/apps/web/client/app/app.module.js
Due: eslint --fix

fix(training.jobs.submit): load GPU on init (#5152)
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1010] (#5148)
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
Due: none

fix(pci): add notebooks table page
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/delete-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/delete-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.service.js
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(group.member): enable contact deletion (#5153)
  packages/manager/modules/exchange/src/group/member/group-member.controller.js
Due: eslint --fix

feat(vps.dashboard.cmp.vps-state-info): add vps state info cmp
  packages/manager/modules/vps/src/dashboard/components/vps-state-info/index.js
  packages/manager/modules/vps/src/dashboard/components/vps-state-info/vps-state-info.component.js
  packages/manager/modules/vps/src/dashboard/components/vps-state-info/vps-state-info.controller.js
  packages/manager/modules/vps/src/dashboard/components/vps-state-info/vps-state-info.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(vps.dashboard): setup dashboard to add vps state
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(vps.dashboard.tile.information): add vps state tile
  packages/manager/modules/vps/src/dashboard/tile/information/index.js
  packages/manager/modules/vps/src/dashboard/tile/information/information.component.js
  packages/manager/modules/vps/src/dashboard/tile/information/information.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(vps): add tracking to migration of vps (#5136)
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix
