Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

feat(sms): add create campagin page
  packages/manager/modules/sms/src/sms/batches/create/index.js
  packages/manager/modules/sms/src/sms/batches/create/routing.js
  packages/manager/modules/sms/src/sms/batches/create/telecom-sms-batches-create.component.js
  packages/manager/modules/sms/src/sms/batches/create/telecom-sms-batches-create.controller.js
  packages/manager/modules/sms/src/sms/batches/create/telecom-sms-batches-create.html
  packages/manager/modules/sms/src/sms/batches/create/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(web.domain.start10m): enable activation if no contracts (#3634)
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/domain-enable-web-hosting.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(web): multisite ownlogs url & token
  packages/manager/apps/web/client/app/hosting/multisite/logs/hosting-multisite-logs.controller.js
Due: eslint --fix

fix: allow promise chaining
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/displayNumber/telecom-telephony-line-calls-displayNumber.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/filtering/telecom-telephony-line-calls-filtering.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/voicemail/management/telecom-telephony-service-voicemail-management.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/members/telecom-telephony-alias-members.component.js
  packages/manager/modules/overthebox/src/overthebox/order/order-overTheBox.controller.js
  packages/manager/modules/sms/src/sms/sms/hlr/telecom-sms-sms-hlr.controller.js
Due: eslint --fix

refactor: remove responsive tabs from dependencies (#3453)
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/app/app.module.js
Due: eslint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 574]
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
Due: none

feat(pack.migration): rework on building pto to have less user errors
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
Due: eslint --fix

feat(xdsl.migration): user static method when is needed
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.html
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pack.migration): rework on building pto to have less user errors
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pack.migration): update from feedback comments
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
Due: eslint --fix

feat(pack.migration): update from feedback comments
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
Due: eslint --fix

feat(xdsl.migration): add style into index.js
  packages/manager/apps/telecom/src/app/app.less
  packages/manager/apps/telecom/src/app/telecom/pack/migration/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.less
Due: eslint --fix, stylelint 'packages/**/*.less' --fix

feat(xdsl.migrations): use oui-back-button
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(xdsl.migration): remove pack name routing and resolve typo
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(dedicated): replace billing history apiv7 call with iceberg
  packages/manager/apps/dedicated/client/app/billing/main/history/legacy/billing-main-history.controller.js
Due: eslint --fix

fix(support-app): error message when making ticket for datacenter
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.html
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(payment-method): remove outdated message when adding bank account
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(pci/ai/training): fix install linux / mac / win handle region gpus
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/training/dashboard/install/install.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/training.service.js
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix: bump tuc
  packages/components/ng-ovh-line-diagnostics/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
Due: npx sort-package-json

fix: prevent unhandled rejection when alerting
  packages/manager/modules/telecom-universe-components/src/toast-error/toast-error.service.js
Due: eslint --fix

fix(payment-method): remove outdated message when adding bank account (#3645)
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

refactor(overthebox.configure): refactoring configure controller
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.component.js
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.controller.js
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.routing.js
Due: eslint --fix

refactor(overthebox): use default $ctrl for into component
  packages/manager/modules/overthebox/src/overthebox/overTheBox.component.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(overthebox.details): add version and system version for otb
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(overthebox.details): extract translations from routing
  packages/manager/modules/overthebox/src/overthebox/details/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.routing.js
Due: eslint --fix

feat(overthebox.details): add last seen from provisionning server
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.constant.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(overthebox.details): display reverse dns
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(overthebox.details): check public ip to display its status
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.constant.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(overthebox.details): refactoring code from feedback comments
  packages/manager/modules/overthebox/src/overthebox/details/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/remote/index.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.routing.js
Due: eslint --fix

refactor(email-domain): move listing page as first level
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/email-domain/dashboard/email-domain-tabs.controller.js
  packages/manager/apps/web/client/app/email-domain/dashboard/email-domain.bundle.js
  packages/manager/apps/web/client/app/email-domain/dashboard/email-domain.controller.js
  packages/manager/apps/web/client/app/email-domain/dashboard/email-domain.html
  packages/manager/apps/web/client/app/email-domain/dashboard/email-domain.module.js
  packages/manager/apps/web/client/app/email-domain/dashboard/email-domain.routes.js
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/email-domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/email-domain/email-domain.bundle.js
  packages/manager/apps/web/client/app/email-domain/emails.module.js
  packages/manager/apps/web/client/app/email-domain/emails.routing.js
  packages/manager/apps/web/client/app/email-domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(email-domain): revamp url architecture
  packages/manager/apps/web/client/app/email-domain/dashboard/email-domain.routes.js
  packages/manager/apps/web/client/app/email-domain/email.module.js
  packages/manager/apps/web/client/app/email-domain/email.routing.js
  packages/manager/apps/web/client/app/email-domain/emails.routing.js
  packages/manager/apps/web/client/app/email-domain/index.js
  packages/manager/modules/server-sidebar/src/web.constants.js
Due: eslint --fix

feat(sms): change dashboard
  packages/manager/modules/sms/src/sms/dashboard/routing.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.component.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.module.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.scss
  packages/manager/modules/sms/src/sms/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/sms.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(xdsl.migration): use constant and catch error
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/migration/pack-migration-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(overthebox.details): add version and system version (#3338)
  packages/manager/modules/overthebox/src/overthebox/details/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.constant.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.routing.js
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/remote/index.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(telecom.line): enable order phone if only one offer
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"
