Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ]
}

refactor(apps.public.cloud): use a single ui router import statement (#448)
  packages/manager/apps/public-cloud/src/index.js
Due: eslint --fix

feat(storages): add object storage tooltip
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

feat(storages): add object storage tooltip (#435)
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

fix(pci.project.storages.container): add missing one time binding
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
Due: htmlhint 'packages/**/*.html'

feat(pci.project.storages.cloudarchive): add empty page
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archives.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/index.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(pci.project.storage.instance-backups): add empty page
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.module.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(pci.project.storage.objects): add empty page
  packages/manager/modules/pci/src/projects/project/storages/objects/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(pci.project.failover-ips): add empty page
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(pci.project.storage.volume-snapshots): add empty page
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.module.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(pci.project.instances): add empty page
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.module.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.constants.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(i18n.adp): provide default Messages_fr_FR.json file
  packages/manager/modules/adp/src/deploy/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/list/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/list/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/activity-log/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/cluster/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/service-information/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/service/tracking-progress/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/service/tracking-progress/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/service/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/translations/Messages_fr_FR.json
Due: none

feat(pci.projects.new): add style and loader for status creating
  packages/manager/modules/pci/src/projects/project/creating/creating.html
  packages/manager/modules/pci/src/projects/project/creating/creating.module.js
  packages/manager/modules/pci/src/projects/project/creating/creating.scss
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/project.scss
Due: htmlhint 'packages/**/*.html', eslint --fix

refactor(components.uirouter.breadcrumb): remove ng-ovh prefix
  README.md
  packages/components/ng-ovh-uirouter-breadcrumb/CHANGELOG.md
  packages/components/ng-ovh-uirouter-breadcrumb/README.md
  packages/components/ng-ovh-uirouter-breadcrumb/src/index.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.component.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.controller.js
  packages/components/ng-uirouter-breadcrumb/LICENSE
  packages/components/ng-uirouter-breadcrumb/README.md
  packages/components/ng-uirouter-breadcrumb/package.json
  packages/components/ng-uirouter-breadcrumb/rollup.config.js
  packages/components/ng-uirouter-breadcrumb/src/index.js
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.component.js
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.controller.js
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.html
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.less
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.service.js
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

fix(pci): add missing ngInject related to breadcrumb component
  packages/manager/modules/pci/src/projects/project/billing/billing.routing.js
  packages/manager/modules/pci/src/projects/project/billing/estimate/estimate.routing.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.routing.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.routing.js
  packages/manager/modules/pci/src/projects/project/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/list/index.js
  packages/manager/modules/pci/src/projects/project/legacy/compute/quota/index.js
  packages/manager/modules/pci/src/projects/project/legacy/openstack/users/index.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.routing.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.routing.js
Due: eslint --fix

fix(pci.projects.new): manage project creation for US
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.routing.js
Due: eslint --fix

fix(pci.project.legacy.compute.quota): update section title
  packages/manager/modules/pci/src/projects/project/legacy/compute/quota/translations/Messages_fr_FR.json
Due: none

refactor(components.uirouter.line.progress): remove ng-ovh prefix
  README.md
  packages/components/ng-ovh-uirouter-line-progress/CHANGELOG.md
  packages/components/ng-ovh-uirouter-line-progress/README.md
  packages/components/ng-uirouter-line-progress/LICENSE
  packages/components/ng-uirouter-line-progress/README.md
  packages/components/ng-uirouter-line-progress/package.json
  packages/components/ng-uirouter-line-progress/rollup.config.js
  packages/components/ng-uirouter-line-progress/src/index.js
  packages/components/ng-uirouter-line-progress/src/ng-uirouter-line-progress.config.js
  packages/components/ng-uirouter-line-progress/src/ng-uirouter-line-progress.less
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
Due: eslint --fix, stylelint 'packages/**/*.less' --fix

fix(sms.options): reset notification sender on change type (#450)
  packages/manager/modules/sms/src/options/response/edit/telecom-sms-options-response-edit.controller.js
Due: eslint --fix

fix: fix pci responsive sidebar
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/modules/navbar/src/component.js
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/template.html
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/index.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

Release: promethium-reindeer
  packages/components/ng-ovh-uirouter-layout/CHANGELOG.md
  packages/components/ng-ovh-uirouter-layout/package.json
  packages/manager/apps/layout-ovh/CHANGELOG.md
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/vrack/CHANGELOG.md
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/CHANGELOG.md
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/CHANGELOG.md
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/CHANGELOG.md
  packages/manager/modules/navbar/package.json
  packages/manager/modules/overthebox/CHANGELOG.md
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/sms/CHANGELOG.md
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/CHANGELOG.md
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/CHANGELOG.md
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/CHANGELOG.md
  packages/manager/modules/vrack/package.json
Due: none

fix(storages.blocks.block.volume.edit): name of volume is now optional
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.html
Due: htmlhint 'packages/**/*.html'

fix(pci.private-networks.add): adapt range display to responsive
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Due: htmlhint 'packages/**/*.html'

fix(i18n): the sentence to delete an instanfe has been fixed
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/translations/Messages_cs_CZ.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_cs_CZ.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/translations/Messages_cs_CZ.json
  packages/manager/modules/pci/src/projects/project/legacy/compute/quota/translations/Messages_cs_CZ.json
  packages/manager/modules/pci/src/projects/project/legacy/compute/quota/translations/Messages_nl_NL.json
  packages/manager/modules/pci/src/projects/project/vouchers/translations/Messages_cs_CZ.json
  packages/manager/modules/pci/src/projects/project/vouchers/translations/Messages_nl_NL.json
Due: none

fix(i18n): Fix the sentence to delete an instance (#460)
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/translations/Messages_fr_FR.json
Due: none

feat(project): add project deletion
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/edit.module.js
  packages/manager/modules/pci/src/projects/project/edit/remove/index.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.controller.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.html
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.module.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.routing.js
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

Apply suggestions from code review
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

refactor(components.uirouter.layout): remove ng-ovh prefix
  README.md
  packages/components/ng-ovh-uirouter-layout/CHANGELOG.md
  packages/components/ng-ovh-uirouter-layout/README.md
  packages/components/ng-uirouter-layout/CHANGELOG.md
  packages/components/ng-uirouter-layout/LICENSE
  packages/components/ng-uirouter-layout/README.md
  packages/components/ng-uirouter-layout/package.json
  packages/components/ng-uirouter-layout/rollup.config.js
  packages/components/ng-uirouter-layout/src/index.js
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/index.js
Due: eslint --fix

fix(pci.kubernetes): specify translations to use
  packages/manager/modules/pci/src/projects/project/kubernetes/list/index.js
Due: eslint --fix

fix(pci.kubernetes): reload on success operation
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/controller.js
Due: eslint --fix

feat(pci.kubernetes): remove spinner loading and add breadcrumb
  packages/manager/modules/pci/src/projects/project/kubernetes/details/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/template.html
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.instances.add): add missing translation
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

fix(pci.instance.add): prevent console error
  packages/manager/modules/pci/src/components/project/images-list/images.class.js
Due: eslint --fix
