Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

fix(pci.projects): allow instances to be flex (#779)
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.component.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

refactor(server-sidebar): remove eslint:disable
  packages/manager/modules/server-sidebar/src/controller.js
Due: eslint --fix

fix(apps.layout-ovh): upgrade manager-navbar to v0.5.0
  packages/manager/apps/layout-ovh/package.json
  yarn.lock
Due: none

fix(apps.layout-ovh): upgrade manager-navbar to v0.5.0 (#784)
  packages/manager/apps/layout-ovh/package.json
  yarn.lock
Due: none

fix(pci.projects.project.creating): redirection after creation complete
  packages/manager/modules/pci/src/projects/project/creating/creating.routing.js
Due: eslint --fix

fix(pci.projects.creation): redirect to creating page when credit OK
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
Due: eslint --fix

fix(pci.projects.new): one shot payment when fraud detection
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
  packages/manager/modules/pci/src/projects/project/creating/creating.routing.js
Due: eslint --fix

Release: strontium-gnat-8
  packages/manager/apps/layout-ovh/CHANGELOG.md
  packages/manager/apps/layout-ovh/package.json
Due: none

fix(i18n): add missing translations
  packages/manager/modules/navbar/src/walk-me/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/regions-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_pl_PL.json
Due: none

fix(pci.projects.instance): display currency according to sub not locale
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.instances): avoid menu from being cropped
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Due: htmlhint 'packages/**/*.html'

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_pl_PL.json
Due: none

fix(sms.compose.sender): fix regex to detect alphanum number (#745)
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.controller.js
Due: eslint --fix

fix: typo
  packages/manager/modules/pci/src/projects/new/new.routing.js
Due: eslint --fix

fix(pci.projects.failover-ips): allow to order ipfo from onboarding
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(pci.project.billing): open monthly confirmation in a modal
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/component.js
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/instance-list/component.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/template.html
  packages/manager/modules/pci/src/components/project/billing/monthly-resource-list/template.html
  packages/manager/modules/pci/src/projects/project/billing/billing.controller.js
  packages/manager/modules/pci/src/projects/project/billing/billing.html
  packages/manager/modules/pci/src/projects/project/billing/monthly/index.js
  packages/manager/modules/pci/src/projects/project/billing/monthly/monthly.module.js
  packages/manager/modules/pci/src/projects/project/billing/monthly/monthly.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/active-monthly-billing.html
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.components.flavors): add missing translation
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_es_ES.json
Due: none

fix(pci.components.flavors): add missing translation (#790)
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Due: none

fix: allow retry when oneshot payment fail
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.service.js
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
  packages/manager/modules/pci/src/projects/new/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

fix: console.log
  packages/manager/apps/public-cloud/src/index.js
Due: eslint --fix

refactor(pci.project.failover-ip): use country list given by API
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.project.user): update onboarding component
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.routing.js
Due: eslint --fix

fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_es_ES.json
Due: none

fix(pci.projects.failover-ips): allow to order ipfo from onboarding (#788)
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.project.user): update onboarding component (#793)
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.routing.js
Due: eslint --fix

fix(pci.projects.instances.new): missing input in oui-field
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Due: htmlhint 'packages/**/*.html'

feat: implement exclude services
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/web.constants.js
Due: eslint --fix

fix(pci.sidebar): remove unecessary aria attributes
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Due: htmlhint 'packages/**/*.html'

fix(pci.projects.new): detect project status on failure
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/new.service.js
  packages/manager/modules/pci/src/projects/new/payment/payment.component.js
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
Due: eslint --fix

fix(pci.projects.new): fix voucher project creation
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.routing.js
Due: eslint --fix

build: upgrade ovh-api-services to v6.23.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  yarn.lock
Due: none

fix(pci.projects.quota): display button to increase quota
  packages/manager/modules/pci/src/projects/project/quota/quota.html
Due: htmlhint 'packages/**/*.html'

fix(pci.projects.quota): display button to increase quota (#799)
  packages/manager/modules/pci/src/projects/project/quota/quota.html
Due: htmlhint 'packages/**/*.html'

fix(pci.projects.failover-ips): display message on ipfo order
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(projects.storages.blocks.snapshot): help popover size
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/snapshot.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/snapshot.less
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

fix(projects.storages.blocks.snapshot): help popover size (#798)
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/snapshot.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/snapshot.less
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

Path conditions:
  htmlhint 'packages/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
