Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(webpaas): fix dependency issue
  packages/manager/apps/web-paas/package.json
Due: prettier --write, npx sort-package-json

fix(i18n): add missing translations [CDS 1023]
  packages/manager/modules/web-paas/src/details/service/translations/Messages_de_DE.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_en_GB.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_es_ES.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_it_IT.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/web-paas/src/details/service/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1029]
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pt_PT.json
Due: prettier --write

fix: remove unused translations [CDS]
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1032]
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_es_ES.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1044]
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pt_PT.json
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_pt_PT.json
Due: prettier --write

feat: add missing domain operations translations (#5177)
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1048]
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_pl_PL.json
Due: prettier --write

fix(data-processing): fix various minor bugs
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.service.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(domain): add DNAME records support (#5173)
  packages/manager/apps/web/client/app/domain/zone/record/DNAME/domain-zone-record-DNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/add/domain-zone-record-add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write

fix(deps): upgrade `rollup` to `v2.50.6`
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/component-rollup-config/src/index.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(redirection): avoid redirection loop during lazyloading (#5169)
  packages/manager/apps/public-cloud/src/index.routes.js
Due: eslint --fix

feat(users.credentials): generate s3 credentials (#5247)
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/users/users.routing.js
  packages/manager/modules/pci/src/projects/project/users/users.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(deps): bump @ovh-ux/ui-kit to v4.6.1 (#5232)
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 1037]
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_en_GB.json
Due: prettier --write

feat(pci.project.quota): add autoscalling
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.controller.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(exchange.disclaimer): not editable editor
  packages/manager/modules/exchange/src/disclaimer/update/disclaimer-update.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1026]
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pt_PT.json
Due: prettier --write

fix(license): move redirection into index.js
  packages/manager/apps/dedicated/client/app/license/index.js
  packages/manager/apps/dedicated/client/app/license/license.routes.js
Due: eslint --fix

fix(pci.storages.databases): disable unavailable networks
  packages/manager/modules/pci/src/components/project/storages/databases/flavor.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 1059]
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_fr_CA.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1045]
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 1054]
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
Due: prettier --write

fix(exchange): remove version test on get display value
  packages/manager/modules/exchange/src/account/accountTypes.service.js
Due: eslint --fix

fix(user.session): prevent display `server` as current universe (#5252)
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
Due: eslint --fix

fix(sms): update sms download from date (#5260)
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.controller.js
Due: eslint --fix

fix(telecom): use line country when ordering phone (#5261)
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line.factory.js
Due: eslint --fix

fix(exchange): not able to export external contacts
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.controller.js
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.html
  packages/manager/modules/exchange/src/external-contact/external-contact.module.js
  packages/manager/modules/exchange/src/external-contact/external-contact.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(kube): add common trad and add update_node_pull fn
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

refactor(kube): update resize_node_pool function
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Due: eslint --fix

feat(kube.cmp.node-pool): rm node_count numeric cmp
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(kube.add): add autoscaling step
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(kube.cmp.autoscaling): add autoscaling component
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/autoscaling.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/autoscaling.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/autoscaling.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/autoscaling.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(kube.details.node-pool): add scale node-poll item menu
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(kube.details.node-pool.add): setup autoscaling component
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

feat(kube.details.node-pool.nodes.add): add autoscaling cmp step
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
