Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

feat(pci.components): add component to display special offers
  packages/manager/modules/pci/src/components/project/offer/badge/badge.component.js
  packages/manager/modules/pci/src/components/project/offer/badge/badge.scss
  packages/manager/modules/pci/src/components/project/offer/badge/badge.template.html
  packages/manager/modules/pci/src/components/project/offer/badge/index.js
  packages/manager/modules/pci/src/components/project/offer/index.js
  packages/manager/modules/pci/src/components/project/offer/notice/index.js
  packages/manager/modules/pci/src/components/project/offer/notice/notice.component.js
  packages/manager/modules/pci/src/components/project/offer/notice/notice.template.html
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/offer/offer.class.js
  packages/manager/modules/pci/src/components/project/offer/offer.component.js
  packages/manager/modules/pci/src/components/project/offer/offer.scss
  packages/manager/modules/pci/src/components/project/offer/offer.template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pci.projects): add instance deals
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavor-billing/index.js
  packages/manager/modules/pci/src/components/project/offer/notice/notice.template.html
  packages/manager/modules/pci/src/components/project/offer/offer.class.js
  packages/manager/modules/pci/src/components/project/offer/offer.template.html
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/components/voucher/index.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/vouchers/service.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.component.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.controller.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.html
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.module.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.routing.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(veeam-backup): add backup module, backup page and offers component
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup-offer.class.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.class.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.less
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/styles.less
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/price.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/price.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/price.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/price.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

feat(pci.project.banner): keystone migration alert
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.less
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", stylelint 'packages/**/*.less' --fix

fix(i18n): add missing translations [CDS 284]
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_lt_LT.json
Due: none

fix(pci.project.sidebar): disable baremetal instances for us region
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: eslint --fix

fix(pci.project.sidebar): disable baremetal instances for us region (#2314)
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 283]
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_pt_PT.json
Due: none

refactor(pci.black-friday): remove translations
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/black-friday/translations/Messages_pt_PT.json
Due: none

Release: samarium-rat
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/CHANGELOG.md
  packages/manager/modules/support/package.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
Due: npx sort-package-json

docs: add example (#2312)
  packages/components/ng-ui-router-title/examples/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

build: set right package version for both vps and support module
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/vps/package.json
Due: npx sort-package-json

feat(veeam-backup): fix price component
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(veeam-backup): fix price component
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/price/price.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(hub): add carousel component (#2283)
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/routing.js
  packages/manager/apps/hub/src/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/carousel/carousel.component.js
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/carousel/styles.less
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

feat(components.choice): return object if payment method is selected
  packages/components/ng-ovh-payment-method/src/components/choice/controller.js
  packages/components/ng-ovh-payment-method/src/components/choice/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(web): adapt payment method choice use to new version
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.html
  packages/manager/apps/web/client/app/email-domain/order/email-domain-order.controller.js
  packages/manager/apps/web/client/app/email-domain/order/email-domain-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/database/order-private/hosting-database-order-private.controller.js
  packages/manager/apps/web/client/app/hosting/database/order-private/hosting-database-order-private.html
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(modules): add product offers module
  packages/manager/modules/product-offers/.eslintrc.json
  packages/manager/modules/product-offers/LICENSE
  packages/manager/modules/product-offers/README.md
  packages/manager/modules/product-offers/package.json
  packages/manager/modules/product-offers/src/index.js
  packages/manager/modules/product-offers/src/pricing/extra-pricing-detail/extra-pricing-detail.component.js
  packages/manager/modules/product-offers/src/pricing/extra-pricing-detail/extra-pricing-detail.html
  packages/manager/modules/product-offers/src/pricing/extra-pricing-detail/index.js
  packages/manager/modules/product-offers/src/pricing/generic-pricing.helper.js
  packages/manager/modules/product-offers/src/pricing/pricing.class.js
  packages/manager/modules/product-offers/src/pricing/pricing.constants.js
  packages/manager/modules/product-offers/src/product-offers.component.js
  packages/manager/modules/product-offers/src/product-offers.controller.js
  packages/manager/modules/product-offers/src/product-offers.html
  packages/manager/modules/product-offers/src/services/product-offers-detach.service.js
  packages/manager/modules/product-offers/src/services/product-offers.service.js
  packages/manager/modules/product-offers/src/translations/Messages_fr_FR.json
  packages/manager/modules/product-offers/src/workflows/product-offers-order-workflow.class.js
  packages/manager/modules/product-offers/src/workflows/product-offers-services-workflow.class.js
  packages/manager/modules/product-offers/src/workflows/product-offers-workflow.class.js
  packages/manager/modules/product-offers/src/workflows/product-offers-workflow.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(pci.project.banner): keystone migration alert (#2321)
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.less
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", stylelint 'packages/**/*.less' --fix

Release: samarium-rat-1
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: npx sort-package-json

refactor(hub): move products component
  packages/manager/modules/hub/src/components/products/index.js
  packages/manager/modules/hub/src/components/products/products.component.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(hub): add user panel (#2225)
  packages/components/ng-ovh-payment-method/src/payment-method.class.js
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/index.html
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/user-panel/component.js
  packages/manager/modules/hub/src/components/user-panel/constants.js
  packages/manager/modules/hub/src/components/user-panel/controller.js
  packages/manager/modules/hub/src/components/user-panel/index.js
  packages/manager/modules/hub/src/components/user-panel/index.scss
  packages/manager/modules/hub/src/components/user-panel/payment-mean/component.js
  packages/manager/modules/hub/src/components/user-panel/payment-mean/controller.js
  packages/manager/modules/hub/src/components/user-panel/payment-mean/index.js
  packages/manager/modules/hub/src/components/user-panel/payment-mean/index.scss
  packages/manager/modules/hub/src/components/user-panel/payment-mean/template.html
  packages/manager/modules/hub/src/components/user-panel/payment-mean/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/user-panel/shortcuts/component.js
  packages/manager/modules/hub/src/components/user-panel/shortcuts/controller.js
  packages/manager/modules/hub/src/components/user-panel/shortcuts/index.js
  packages/manager/modules/hub/src/components/user-panel/shortcuts/shortcut-tile/component.js
  packages/manager/modules/hub/src/components/user-panel/shortcuts/shortcut-tile/controller.js
  packages/manager/modules/hub/src/components/user-panel/shortcuts/shortcut-tile/index.js
  packages/manager/modules/hub/src/components/user-panel/shortcuts/shortcut-tile/index.scss
  packages/manager/modules/hub/src/components/user-panel/shortcuts/shortcut-tile/template.html
  packages/manager/modules/hub/src/components/user-panel/shortcuts/template.html
  packages/manager/modules/hub/src/components/user-panel/shortcuts/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/user-panel/template.html
  packages/manager/modules/hub/src/components/user-panel/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/user-panel/user-infos/component.js
  packages/manager/modules/hub/src/components/user-panel/user-infos/controller.js
  packages/manager/modules/hub/src/components/user-panel/user-infos/index.js
  packages/manager/modules/hub/src/components/user-panel/user-infos/index.scss
  packages/manager/modules/hub/src/components/user-panel/user-infos/template.html
  packages/manager/modules/hub/src/components/user-panel/user-infos/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(hosting.ovhconfig): ensure if configuration is available
  packages/manager/apps/web/client/app/hosting/ovhconfig/hosting-ovhconfig.service.js
Due: eslint --fix

feat(dedicatedCloud-datacenter-backup): add create backup offer
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/package.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

refactor(hub): move products component (#2335)
  packages/manager/modules/hub/src/components/products/index.js
  packages/manager/modules/hub/src/components/products/products.component.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(dedicated.server): force autopay bandwidth in us
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(veeam-backup): add backup home page
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(veeam-backup): backup update capabilities
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.class.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.less
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

feat(modules): add catalog price as an independant module
  packages/manager/modules/catalog-price/LICENSE
  packages/manager/modules/catalog-price/README.md
  packages/manager/modules/catalog-price/package.json
  packages/manager/modules/catalog-price/src/catalog-price.component.js
  packages/manager/modules/catalog-price/src/catalog-price.constants.js
  packages/manager/modules/catalog-price/src/catalog-price.controller.js
  packages/manager/modules/catalog-price/src/catalog-price.html
  packages/manager/modules/catalog-price/src/index.js
  packages/manager/modules/catalog-price/src/translations/Messages_de_DE.json
  packages/manager/modules/catalog-price/src/translations/Messages_en_GB.json
  packages/manager/modules/catalog-price/src/translations/Messages_es_ES.json
  packages/manager/modules/catalog-price/src/translations/Messages_fi_FI.json
  packages/manager/modules/catalog-price/src/translations/Messages_fr_CA.json
  packages/manager/modules/catalog-price/src/translations/Messages_fr_FR.json
  packages/manager/modules/catalog-price/src/translations/Messages_it_IT.json
  packages/manager/modules/catalog-price/src/translations/Messages_lt_LT.json
  packages/manager/modules/catalog-price/src/translations/Messages_pl_PL.json
  packages/manager/modules/catalog-price/src/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json
