Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

feat: add otrs module
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/otrs/index.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.project.storage.snapshot): allow to define volume size
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/create-volume/create-volume.html
Due: htmlhint 'packages/**/*.html'

feat(pci.onboarding): redirect onboarding to list
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.routing.js
Due: eslint --fix

feat(us): configure us side and remove useless links
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
Due: eslint --fix

feat: add tracking
  packages/manager/apps/public-cloud/.eslintrc.js
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/components/at-internet/at-internet.constant.js
  packages/manager/apps/public-cloud/src/components/at-internet/index.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/public-cloud/webpack.config.js
  yarn.lock
Due: eslint --fix

fix(pci.project.instance): update quota link
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.project.instance): unset datacenter when region change
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Due: htmlhint 'packages/**/*.html'

fix(pci.project.instance): add VNC breadcrumb
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/translations/Messages_fr_Fr.json
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/vnc.routing.js
Due: eslint --fix

fix(pci.project.instance): update instance active tab
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
Due: eslint --fix

fix(pci.project.instance): update instance status
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Due: none

fix(pci.project.instance): update monthly billing check on dashboard
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci): add missing ng-uirouter-breadcrumb peer dependency
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
Due: eslint --fix

docs(components.uirouter.breadcrumb): update usage part
  packages/components/ng-uirouter-breadcrumb/README.md
Due: none

fix(apps.public-cloud): update assigniationfrom uirouter-breadcrumb
  packages/manager/apps/public-cloud/src/index.js
Due: eslint --fix

build: bump dependencies
  package.json
  packages/components/ng-uirouter-breadcrumb/package.json
  packages/components/ng-uirouter-line-progress/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  yarn.lock
Due: none

fix(pci.project.billing): update active header tab
  packages/manager/modules/pci/src/projects/project/billing/billing.html
Due: htmlhint 'packages/**/*.html'

fix: fix pci responsive sidebar (#456)
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/modules/navbar/src/component.js
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/template.html
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/index.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

feat(cui-message): support download link
  packages/manager/modules/cloud-universe-components/src/cui/message/template.html
Due: htmlhint 'packages/**/*.html'

fix(public-cloud): update oui-dropdown link styles
  packages/manager/apps/public-cloud/src/assets/theme/_link.less
Due: stylelint 'packages/**/*.less' --fix

fix(pci.project.users): update translations loading and breadcrumb
  packages/manager/modules/pci/src/projects/project/users/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/users/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/users/download-openrc/download-openrc.routing.js
  packages/manager/modules/pci/src/projects/project/users/download-rclone/download-rclone.routing.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/users/openstack-token/openstack-token.routing.js
  packages/manager/modules/pci/src/projects/project/users/users.routing.js
Due: eslint --fix

feat(pci.project.users): add empty page
  packages/manager/modules/pci/src/projects/project/users/add/user-add/index.js
  packages/manager/modules/pci/src/projects/project/users/add/user-add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/users/add/user-add/user-add.component.js
  packages/manager/modules/pci/src/projects/project/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/users/add/user-add/user-add.html
  packages/manager/modules/pci/src/projects/project/users/onboarding/add/add.module.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/add/index.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/users/users.module.js
  packages/manager/modules/pci/src/projects/project/users/users.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.sidebar): reverse conditions for features availability
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Due: eslint --fix

build: regenerate lockfile
  yarn.lock
Due: none

fix(public-cloud): set moment locale
  packages/manager/apps/public-cloud/.eslintrc.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/.eslintrc.js
  packages/manager/modules/pci/src/components/project/compute/volumes/volume/factory.js
  packages/manager/modules/pci/src/projects/project/billing/estimate/estimate.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/legacy/compute/controller.js
  packages/manager/modules/pci/src/projects/project/legacy/delete/controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container-object.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Due: eslint --fix

fix: add missing dependency
  packages/manager/apps/pci/package.json
  yarn.lock
Due: none

fix(pci.project.billing): add missing translation
  packages/manager/modules/pci/src/components/project/billing/details-popover/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/billing/monthly-resource-list/translations/Messages_fr_FR.json
Due: none

fix(pci.project.billing): update tables display
  packages/manager/modules/pci/src/components/project/billing/archive-storage-list/template.html
  packages/manager/modules/pci/src/components/project/billing/instance-list/template.html
  packages/manager/modules/pci/src/components/project/billing/object-storage-list/template.html
  packages/manager/modules/pci/src/components/project/billing/snapshot-list/template.html
  packages/manager/modules/pci/src/components/project/billing/volume-list/template.html
  packages/manager/modules/pci/src/projects/project/billing/billing.html
Due: htmlhint 'packages/**/*.html'

fix(pci.project.billing): fix error messages on alert creation form
  packages/manager/modules/pci/src/projects/project/billing/estimate/alert/add/template.html
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

Release: promethium-reindeer-1
  packages/components/ng-uirouter-layout/CHANGELOG.md
  packages/components/ng-uirouter-layout/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/cloud-universe-components/CHANGELOG.md
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
  packages/manager/modules/navbar/CHANGELOG.md
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: none

Path conditions:
  htmlhint 'packages/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
