Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

refactor: use common styles for links
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.scss
  packages/manager/modules/hub/src/components/support/index.scss
  packages/manager/modules/hub/src/variables.scss
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(hub): hide sidebar if routing error occurs
  packages/manager/apps/hub/src/index.js
  packages/manager/modules/navbar/src/controller.js
Due: eslint --fix

fix(navbar): remove beta version (#2473)
  packages/manager/apps/cloud/client/index.html
  packages/manager/apps/dedicated/client/app/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

refactor(hub): assistance component style refactoring
  packages/manager/modules/hub/src/components/support/index.scss
  packages/manager/modules/hub/src/variables.scss
Due: none

fix(hub): add products license translations
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Due: none

refactor: rename variable
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/hub/src/variables.scss
Due: none

feat: add form elements style
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/account-sidebar/src/index.scss
Due: none

fix(catalog): fix search display
  packages/manager/apps/hub/src/catalog/catalog.scss
  packages/manager/apps/hub/src/catalog/index.js
  packages/manager/apps/hub/src/catalog/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(hub): support tracking
  packages/manager/modules/hub/src/components/support/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(catalog): update available categories on universe change only
  packages/manager/apps/hub/src/catalog/catalog.controller.js
  packages/manager/apps/hub/src/catalog/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 305]
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/catalog/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/dashboard/order-dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/billing-summary/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/catalog-items/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/order-tracking/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/payment-status-tile/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/user-panel/payment-mean/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/user-panel/payment-mean/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/user-panel/shortcuts/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/user-panel/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/user-panel/user-infos/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pt_PT.json
  packages/manager/modules/product-offers/src/translations/Messages_pt_PT.json
Due: none

fix(hub): replace hub-link-color sass vars
  packages/manager/modules/hub/src/components/support/index.scss
  packages/manager/modules/hub/src/variables.scss
Due: none

style(hub): title color adjustments
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/hub/src/components/billing-summary/index.scss
Due: none

fix(navbar): menus cursor pointer
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", stylelint 'packages/**/*.less' --fix

fix(account-sidebar): icon
  packages/manager/modules/account-sidebar/src/controller.js
Due: eslint --fix

fix: take full available width
  packages/manager/apps/hub/src/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat: add style for oui-button link variant
  packages/manager/apps/hub/src/index.scss
Due: none

fix(catalog): fix category filter when no universe is selected
  packages/manager/apps/hub/src/catalog/catalog.controller.js
  packages/manager/apps/hub/src/catalog/catalog.scss
  packages/manager/apps/hub/src/catalog/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(account-sidebar): translation refresh
  packages/manager/modules/account-sidebar/src/controller.js
Due: eslint --fix

fix(payment-status): use id to track ng-repeat
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(tile): fix icon alignment
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/hub/src/components/tile/tile.less
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", stylelint 'packages/**/*.less' --fix

fix(dedicated-datacenter-backup): use api v6 checkout
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/delete/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/upgrade/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/upgrade/upgrade.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(products): limit number of tiles displayed
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/modules/hub/src/components/products/constants.js
  packages/manager/modules/hub/src/components/products/controller.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(hub): add debt pay on billing component
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/hub/src/components/billing-summary/index.scss
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/billing-summary/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(hub): support tile style & tracking
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/hub/src/components/support/index.scss
  packages/manager/modules/hub/src/components/support/template.html
  packages/manager/modules/hub/src/components/tile/tile.component.js
  packages/manager/modules/hub/src/components/tile/tile.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(hub): billing component dropdown style
  packages/manager/modules/hub/src/components/billing-summary/index.scss
Due: none

fix(payment-status): use id to track ng-repeat (#2482)
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(hub): add filter to billing redirection
  packages/manager/modules/hub/src/components/billing-summary/controller.js
  packages/manager/modules/hub/src/components/billing-summary/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
