Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

Release: radon-nessie-4
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: npx sort-package-json

fix(web.domain.webhosting): display error message with details
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.routing.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/translations/Messages_fr_FR.json
Due: eslint --fix

feat(kubernetes): show version EOL message
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

[PCI-5407] update rescue message with password Signed-off-by: Pierre Gronlier <ticapix@gmail.com>
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_fr_FR.json
Due: none

update windows message
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations [CDS 221]
  packages/manager/modules/beta-preference/src/translations/Messages_it_IT.json
  packages/manager/modules/beta-preference/src/translations/Messages_pl_PL.json
Due: none

fix(emailpro): domain translation
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(account.user): add email change validation token request action (#2016)
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.controller.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.html
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kubernetes): show version EOL message (#2042)
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(vps.upgrade): fix retrieval of upgrade prices
  packages/manager/modules/vps/src/upgrade/vps-upgrade.controller.js
  packages/manager/modules/vps/src/upgrade/vps-upgrade.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(vrack): remove uibModal (#2046)
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/index.js
  packages/manager/modules/vrack/src/move-dialog/index.js
  packages/manager/modules/vrack/src/move-dialog/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.component.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.controller.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.html
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.module.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.routing.js
  packages/manager/modules/vrack/src/partials/actions.html
  packages/manager/modules/vrack/src/partials/available.html
  packages/manager/modules/vrack/src/partials/mapped.html
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack.component.js
  packages/manager/modules/vrack/src/vrack.constant.js
  packages/manager/modules/vrack/src/vrack.controller.js
  packages/manager/modules/vrack/src/vrack.html
  packages/manager/modules/vrack/src/vrack.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(portabilities): update button with its type
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/attach/portabilities-attach.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/delete/portabilities-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/delete/portabilities-delete.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/delete/portabilities-delete.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/telecom-telephony-alias-portability-portabilities.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(emailpro): domain translation (#2064)
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(vps.upgrade): fix retrieval of upgrade prices (#2066)
  packages/manager/modules/vps/src/upgrade/vps-upgrade.controller.js
  packages/manager/modules/vps/src/upgrade/vps-upgrade.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

Release: sodium-marten
  packages/manager/modules/emailpro/CHANGELOG.md
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
Due: npx sort-package-json

feat(portability.delete): add name for form
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/delete/portabilities-delete.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/telecom-telephony-alias-portability-portabilities.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(web.email-domain): remove manual ucent conversion
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.controller.js
  packages/manager/modules/web-universe-components/src/email-domain/upgrade/upgrade.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(web.catalog-price): add option to pass non-ucents prices
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.component.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.controller.js
Due: eslint --fix

refactor(web.email-domain.order): use cart service from wuc
  packages/manager/apps/web/client/app/email-domain/order/email-domain-order.service.js
  packages/manager/apps/web/client/app/email-domain/order/order.routing.js
Due: eslint --fix

refactor(web.email-domain): replace contract summary component
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/email-domain/order/email-domain-order.html
  packages/manager/modules/web-universe-components/src/email-domain/upgrade/upgrade.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 224]
  packages/manager/apps/dedicated/client/app/account/contacts/service/edit/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/email-domain/order/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/email-domain/upgrade/translations/Messages_pl_PL.json
Due: none

refactor(emailpro): use oui-header-tabs
  packages/manager/modules/emailpro/src/emailpro-tabs-controller.js
  packages/manager/modules/emailpro/src/emailpro.controller.js
  packages/manager/modules/emailpro/src/emailpro.html
  packages/manager/modules/emailpro/src/emailpro.routes.js
  packages/manager/modules/emailpro/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

build: bump ovh-ui-angular to ^3.12.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: npx sort-package-json

build(deps): upgrade some dependencies
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/error-page/package.json
  packages/manager/modules/mfa-enrollment/package.json
  yarn.lock
Due: npx sort-package-json

build(deps): remove unused ovh-angular-user-pref dependency
  packages/manager/apps/telecom/package.json
  yarn.lock
Due: npx sort-package-json

build(deps): remove unused ovh-angular-chatbot dependency
  packages/manager/apps/telecom/package.json
  yarn.lock
Due: npx sort-package-json

build(deps): remove unused ovh-angular-proxy-request dependency
  packages/manager/apps/telecom/package.json
  yarn.lock
Due: npx sort-package-json

build(deps): remove unused ovh-angular-responsive-popover dependency
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/index.js
  yarn.lock
Due: eslint --fix, npx sort-package-json

build(peer-deps): add missing ng-ovh-responsive-popover dependency
  packages/manager/apps/telecom/package.json
Due: npx sort-package-json

feat: add exchange mfa
  packages/manager/modules/exchange/src/account/account.service.js
  packages/manager/modules/exchange/src/account/home/account-home.controller.js
  packages/manager/modules/exchange/src/account/home/account-home.html
  packages/manager/modules/exchange/src/account/mfa/account-mfa.controller.js
  packages/manager/modules/exchange/src/account/mfa/account-mfa.html
  packages/manager/modules/exchange/src/account/mfa/bulk-create.html
  packages/manager/modules/exchange/src/account/mfa/bulk-delete.html
  packages/manager/modules/exchange/src/account/mfa/create/create.component.js
  packages/manager/modules/exchange/src/account/mfa/create/create.controller.js
  packages/manager/modules/exchange/src/account/mfa/create/create.html
  packages/manager/modules/exchange/src/account/mfa/create/index.js
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/mfa/delete/delete.component.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.controller.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.html
  packages/manager/modules/exchange/src/account/mfa/delete/index.js
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/remove/account-remove.controller.js
  packages/manager/modules/exchange/src/exchange.tabs.controller.js
  packages/manager/modules/exchange/src/exchange.template.js
  packages/manager/modules/exchange/src/index.js
  packages/manager/modules/exchange/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor: remove extra @ovh-ux/ng-ovh-actions-menu import
  packages/manager/apps/telecom/src/app/app.js
Due: eslint --fix
