Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ]
}

docs: harmonize usage parts from all readme files
  packages/manager/modules/core/README.md
  packages/manager/modules/freefax/README.md
  packages/manager/modules/overthebox/README.md
  packages/manager/modules/sms/README.md
  packages/manager/modules/telecom-dashboard/README.md
  packages/manager/modules/telecom-task/README.md
  packages/manager/modules/welcome/README.md
Due: none

docs(develop): add develop.md file
  DEVELOP.md
  README.md
  media/split-module-1.png
  media/split-module-2.png
Due: none

fix(manager-core): add missing peerDeps ngOvhSwimmingPoll
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  yarn.lock
Due: eslint --fix

docs(telecom-dashboard.readme): add missing badges
  packages/manager/modules/telecom-dashboard/README.md
Due: none

Release: fermium-buffalo-1
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
Due: none

fix(cloud-styles): vrack service not displayed
  packages/manager/modules/cloud-styles/src/vrack/vrack-mapper.less
Due: stylelint 'packages/**/*.less' --fix

style(cloud-styles): remove incorrect padding
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less
Due: stylelint 'packages/**/*.less' --fix

build(deps): upgrade ng-at-internet to v4.0.0
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/layout-ovh/src/index.js
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/order/telecom-sms-order.component.js
  packages/manager/modules/sms/src/sms/telecom-sms-sms.component.js
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-dashboard/src/index.js
  yarn.lock
Due: eslint --fix

style(cloud-styles): add missing bootstrap glyphicons
  packages/manager/modules/cloud-styles/src/cloud.less
Due: stylelint 'packages/**/*.less' --fix

docs(cloud-universe-components.readme): fix badges and contributing url
  packages/manager/modules/cloud-universe-components/README.md
Due: none

build(deps): upgrade ng-at-internet to v4.0.0 (#265)
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/layout-ovh/src/index.js
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/order/telecom-sms-order.component.js
  packages/manager/modules/sms/src/sms/telecom-sms-sms.component.js
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-dashboard/src/index.js
  yarn.lock
Due: eslint --fix

ci: add prerelease feature per package
  scripts/common/repository.js
  scripts/release.js
  scripts/release/index.js
Due: eslint --fix

build(cloud-styles): add prerelease file
  packages/manager/modules/cloud-styles/.prerelease
Due: none

build(cloud-universe-components): add prerelease file
  packages/manager/modules/cloud-universe-components/.prerelease
Due: none

refactor(pci): remove VrackSectionSidebarService usage
  packages/manager/modules/pci/src/project/compute/infrastructure/privateNetwork/controller.js
Due: eslint --fix

feat: init public cloud app
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.scss
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/apps/public-cloud/src/navbar/assets/icon-assistance.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-assistance_on.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-external-link.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-notifications.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-notifications_on.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-user.svg
  packages/manager/apps/public-cloud/src/navbar/assets/icon-user_on.svg
  packages/manager/apps/public-cloud/src/navbar/index.js
  packages/manager/apps/public-cloud/src/navbar/navbar-notification.service.js
  packages/manager/apps/public-cloud/src/navbar/navbar.constants.js
  packages/manager/apps/public-cloud/src/navbar/navbar.controller.js
  packages/manager/apps/public-cloud/src/navbar/navbar.html
  packages/manager/apps/public-cloud/src/navbar/navbar.less
  packages/manager/apps/public-cloud/src/navbar/navbar.service.js
  packages/manager/apps/public-cloud/src/navbar/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/src/sidebar/index.js
  packages/manager/apps/public-cloud/src/sidebar/project-list/project-list.component.js
  packages/manager/apps/public-cloud/src/sidebar/project-list/project-list.controller.js
  packages/manager/apps/public-cloud/src/sidebar/project-list/project-list.html
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
  packages/manager/apps/public-cloud/src/sidebar/sidebar.controller.js
  packages/manager/apps/public-cloud/src/sidebar/sidebar.html
  packages/manager/apps/public-cloud/src/sidebar/sidebar.less
  packages/manager/apps/public-cloud/src/sidebar/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/src/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/webpack.config.js
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

Release: fermium-buffalo-2
  packages/manager/apps/layout-ovh/CHANGELOG.md
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/sms/CHANGELOG.md
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/CHANGELOG.md
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/modules/sms/CHANGELOG.md
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/CHANGELOG.md
  packages/manager/modules/telecom-dashboard/package.json
Due: none

build: update yarn.lock
  yarn.lock
Due: none

refactor(pci): add jsurl and fix lint issues
  .eslintrc.js
  .htmlhintrc
  packages/manager/modules/cloud-universe-components/src/bytes/filter.js
  packages/manager/modules/cloud-universe-components/src/message/service.js
  packages/manager/modules/cloud-universe-components/src/sshKeyMin/filter.js
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/billing/archive-storage-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/details-popover/controller.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/internet/ip/failover/factory.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/service.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/vrack/factory.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/vrack/virtualMachine/factory.js
  packages/manager/modules/pci/src/components/project/compute/volumes/factory.js
  packages/manager/modules/pci/src/components/project/compute/volumes/service.js
  packages/manager/modules/pci/src/project/add/index.js
  packages/manager/modules/pci/src/project/billing/consumption/controller.js
  packages/manager/modules/pci/src/project/billing/consumption/estimate/alert/add/controller.js
  packages/manager/modules/pci/src/project/billing/history/details/index.js
  packages/manager/modules/pci/src/project/billing/vouchers/addCredit/agora.controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/flavor.service.js
  packages/manager/modules/pci/src/project/compute/infrastructure/ip/failover/buy/agora.controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/ip/failover/buy/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/privateNetwork/dialog/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/add/service.js
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/addEdit/index.js
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/index.js
  packages/manager/modules/pci/src/project/compute/snapshot/service.js
  packages/manager/modules/pci/src/project/details/index.js
  packages/manager/modules/pci/src/project/storage/add/index.js
  packages/manager/modules/pci/src/project/storage/add/storage/controller.js
  packages/manager/modules/pci/src/project/storage/details/add-object/controller.js
  packages/manager/modules/pci/src/project/storage/details/controller.js
  packages/manager/modules/pci/src/project/storage/details/delete-object/controller.js
  packages/manager/modules/pci/src/project/storage/services/containers.service.js
Due: eslint --fix

refactor(pci): fix ngInject and jsplumb
  .eslintrc.js
  packages/manager/apps/pci/index.html
  packages/manager/modules/pci/src/components/index.js
  packages/manager/modules/pci/src/components/project/billing/archive-storage-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/details/service.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/factory.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/service.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/vrack/factory.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/vrack/index.js
  packages/manager/modules/pci/src/components/project/compute/infrastructure/vrack/virtualMachine/factory.js
  packages/manager/modules/pci/src/components/project/compute/volumes/service.js
  packages/manager/modules/pci/src/components/project/compute/volumes/volume/factory.js
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/components/project/service.js
  packages/manager/modules/pci/src/offer/index.js
  packages/manager/modules/pci/src/project/add/index.js
  packages/manager/modules/pci/src/project/billing/consumption/current/index.js
  packages/manager/modules/pci/src/project/compute/infrastructure/flavor.service.js
  packages/manager/modules/pci/src/project/compute/infrastructure/ip/failover/import/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/openstackClient/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/privateNetwork/delete/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/privateNetwork/dialog/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/privateNetwork/dialog/service.js
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/addEdit/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/delete/controller.js
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/index.js
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/loginInformation/controller.js
  packages/manager/modules/pci/src/project/compute/loadbalancer/configure/controller.js
  packages/manager/modules/pci/src/project/compute/snapshot/controller.js
  packages/manager/modules/pci/src/project/onboarding/controller.js
  packages/manager/modules/pci/src/project/rename/controller.js
  packages/manager/modules/pci/src/project/storage/details/controller.js
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(adp): analytics data platform
  packages/manager/apps/adp/LICENSE
  packages/manager/apps/adp/README.md
  packages/manager/apps/adp/index.html
  packages/manager/apps/adp/index.js
  packages/manager/apps/adp/package.json
  packages/manager/apps/adp/webpack.config.js
  packages/manager/modules/adp/LICENSE
  packages/manager/modules/adp/README.md
  packages/manager/modules/adp/package.json
  packages/manager/modules/adp/rollup.config.js
  packages/manager/modules/adp/src/adp.component.js
  packages/manager/modules/adp/src/adp.html
  packages/manager/modules/adp/src/adp.routes.js
  packages/manager/modules/adp/src/adp.scss
  packages/manager/modules/adp/src/deploy/deploy.component.js
  packages/manager/modules/adp/src/deploy/deploy.controller.js
  packages/manager/modules/adp/src/deploy/deploy.html
  packages/manager/modules/adp/src/deploy/index.js
  packages/manager/modules/adp/src/deploy/nodes.html
  packages/manager/modules/adp/src/deploy/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/index.js
  yarn.lock
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(vrack): update vrack module to use cloud-styles
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/src/cloud.less
  packages/manager/modules/cloud-styles/src/vrack/add/vrack-add.less
  packages/manager/modules/cloud-styles/src/vrack/vrack-mapper.less
  packages/manager/modules/cloud-styles/src/vrack/vrack.less
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/add/vrack-add.less
  packages/manager/modules/vrack/src/vrack-mapper.less
  packages/manager/modules/vrack/src/vrack.less
  yarn.lock
Due: stylelint 'packages/**/*.less' --fix

build(update-readme): update README.md packages list dynamically
  README.md
  package.json
  scripts/update-readme
  yarn.lock
Due: none

Release: fermium-buffalo-3
  packages/manager/modules/cloud-styles/CHANGELOG.md
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/CHANGELOG.md
  packages/manager/modules/cloud-universe-components/package.json
Due: none

build(vrack): bump cloud-styles & cloud-universe-components
  packages/manager/apps/vrack/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Due: none

build: add repository field to each package.json with its directory
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/welcome/package.json
Due: none

build(vrack): update manager-core
  packages/manager/apps/vrack/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Due: none

build: add repository field to each package.json with its directory (#281)
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/welcome/package.json
Due: none

build(vrack): add repository in package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/vrack/package.json
Due: none

build(scripts): update README.md packages list dynamically (#272)
  README.md
  package.json
  scripts/update-readme
  yarn.lock
Due: none

build(scripts.update-readme): apply eslint rules
  scripts/update-readme
Due: none

refactor(pci): add missing deps
  packages/manager/apps/pci/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  yarn.lock
Due: eslint --fix

fix: prefix correctly controller
  packages/components/ng-ovh-sidebar-menu/src/list/item/directive.js
Due: eslint --fix
