Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ]
}

feat(pci.project.kubernetes.details): switch to monthly billing (#470)
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/nodes.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/nodes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.components.project.images.list): add missing translation (#1130)
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_fr_FR.json
Due: none

fix(apps.public.cloud): get default project
  packages/manager/apps/public-cloud/src/index.service.js
Due: eslint --fix

fix(pci.project.new): redirect to url for US on key press of enter
  packages/manager/modules/pci/src/projects/new/description/description.component.js
  packages/manager/modules/pci/src/projects/new/description/description.html
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/new/new.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(pci.components.project.flavors.list): filter available regions (#1133)
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Due: eslint --fix

fix(kubernetes): read only user cant access the service page
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(k8s): missing k8s status
  packages/manager/modules/pci/src/projects/project/kubernetes/details/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/details.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/delete/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/upgrade-policy/upgrade-policy.controller.js
Due: htmlhint 'packages/**/*.html', eslint --fix

Update packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
Due: none

Update packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
Due: eslint --fix

fix(k8s): missing k8s status
  packages/manager/modules/pci/src/projects/project/kubernetes/details/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
Due: htmlhint 'packages/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 28]
  packages/manager/apps/sign-up/src/form/translations/Messages_en_ASIA.json
  packages/manager/apps/sign-up/src/form/translations/Messages_en_AU.json
  packages/manager/apps/sign-up/src/form/translations/Messages_en_CA.json
  packages/manager/apps/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/apps/sign-up/src/form/translations/Messages_en_SG.json
  packages/manager/apps/sign-up/src/form/translations/Messages_en_US.json
  packages/manager/apps/sign-up/src/form/translations/Messages_fi_FI.json
  packages/manager/apps/sign-up/src/form/translations/Messages_lt_LT.json
  packages/manager/modules/navbar/src/translations/Messages_en_ASIA.json
  packages/manager/modules/navbar/src/translations/Messages_en_AU.json
  packages/manager/modules/navbar/src/translations/Messages_en_CA.json
  packages/manager/modules/navbar/src/translations/Messages_en_GB.json
  packages/manager/modules/navbar/src/translations/Messages_en_SG.json
  packages/manager/modules/navbar/src/translations/Messages_en_US.json
  packages/manager/modules/navbar/src/translations/Messages_fi_FI.json
  packages/manager/modules/navbar/src/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/versions-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/translations/Messages_pt_PT.json
Due: none

fix(contacts): contact not shown on table
  packages/manager/modules/pci/src/projects/project/contacts/add/add.component.js
  packages/manager/modules/pci/src/projects/project/contacts/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/contacts/add/add.html
  packages/manager/modules/pci/src/projects/project/contacts/add/add.module.js
  packages/manager/modules/pci/src/projects/project/contacts/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/contacts/add/index.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.component.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.controller.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.html
  packages/manager/modules/pci/src/projects/project/contacts/contacts.module.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.routing.js
  packages/manager/modules/pci/src/projects/project/contacts/remove/index.js
  packages/manager/modules/pci/src/projects/project/contacts/remove/remove.component.js
  packages/manager/modules/pci/src/projects/project/contacts/remove/remove.controller.js
  packages/manager/modules/pci/src/projects/project/contacts/remove/remove.html
  packages/manager/modules/pci/src/projects/project/contacts/remove/remove.module.js
  packages/manager/modules/pci/src/projects/project/contacts/remove/remove.routing.js
  packages/manager/modules/pci/src/projects/project/contacts/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix

feat(apps.public.cloud): manage both feedback's url for FR and EN
  packages/manager/apps/public-cloud/.eslintrc.json
  packages/manager/apps/public-cloud/src/feedback-icon.svg
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/webpack.config.js
  packages/manager/modules/pci/.eslintrc.json
  packages/manager/modules/pci/src/projects/project/legacy-forward/forward.controller.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.less
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', eslint --fix, stylelint 'packages/**/*.less' --fix

fix(pci.project.kubernetes): read only user cant access service page (#1135)
  packages/manager/modules/pci/src/projects/project/kubernetes/details/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/details.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/delete/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/upgrade-policy/upgrade-policy.controller.js
Due: htmlhint 'packages/**/*.html', eslint --fix

Release: europium-scorpion-1
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/CHANGELOG.md
  packages/manager/apps/sign-up/package.json
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/navbar/CHANGELOG.md
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: none

fix(core): remove extra angular-i18n imports
  packages/manager/modules/core/src/index.js
Due: eslint --fix

fix(theme): navbar overlap
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
Due: stylelint 'packages/**/*.less' --fix

build(web): add missing eslint-plugin-angular dev dep
  packages/manager/apps/web/package.json
  yarn.lock
Due: none

fix(component-rollup-config): remove unused import
  packages/manager/tools/component-rollup-config/src/index.ts
Due: none

build(web): remove commitlintrc.json
  packages/manager/apps/web/.commitlintrc.json
Due: none

build(web): remove .gitattributes file
  packages/manager/apps/web/.gitattributes
Due: none

fix(i18n): add missing translations [CDS 29]
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/versions-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_lt_LT.json
Due: none

fix(apps.public.cloud.theme): increase navbar z-index (#1165)
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
Due: stylelint 'packages/**/*.less' --fix

feat: allow array of states in loadOnState (#78)
  packages/components/ng-ovh-sidebar-menu/src/list/item/factory.js
  packages/components/ng-ovh-sidebar-menu/src/provider.js
Due: eslint --fix

v8.4.0
  packages/components/ng-ovh-sidebar-menu/CHANGELOG.md
  packages/components/ng-ovh-sidebar-menu/package.json
Due: none

fix(server-sidebar): redirect nasha to cloud manager
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: eslint --fix

fix(server-sidebar): redirect nasha to cloud manager (#1166)
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: eslint --fix

feat: add request-tagger module
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/request-tagger/LICENSE
  packages/manager/modules/request-tagger/README.md
  packages/manager/modules/request-tagger/package.json
  packages/manager/modules/request-tagger/rollup.config.js
  packages/manager/modules/request-tagger/src/constants.js
  packages/manager/modules/request-tagger/src/factory.js
  packages/manager/modules/request-tagger/src/index.js
Due: eslint --fix

feat(core): add request-tagger interceptor
  packages/manager/apps/freefax/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
Due: none

docs: update modules list
  README.md
Due: none

Release: europium-scorpion-2
  packages/manager/modules/server-sidebar/CHANGELOG.md
  packages/manager/modules/server-sidebar/package.json
Due: none
