Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

fix(pci.projects.new): bad next button display
  packages/manager/modules/pci/src/projects/new/new.controller.js
Due: eslint --fix

fix(ng-ovh-payment-method): legacy default payment method
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean.class.js
Due: eslint --fix

refactor: remove unused calls & variables (csid, XSRFTOKEN) (#1504)
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
Due: eslint --fix

feat(core): add manager urls
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/manager-core.constants.js
Due: eslint --fix

feat(core): add manager urls (#1505)
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/manager-core.constants.js
Due: eslint --fix

Release: thorium-grasshopper-4
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
Due: npx sort-package-json

build(dedicated): update region extras path
  packages/manager/apps/dedicated/webpack.config.js
Due: eslint --fix

build(dedicated): update region extras path (#1506)
  packages/manager/apps/dedicated/webpack.config.js
Due: eslint --fix

feat(support): add new line between questions
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.service.js
Due: eslint --fix

fix(server.sidebar): update order constants
  packages/manager/modules/server-sidebar/src/order.constants.js
Due: eslint --fix

build: remove lodash from eslint globals
  packages/manager/apps/cloud/.eslintrc.json
  packages/manager/apps/dedicated/.eslintrc.json
  packages/manager/apps/web/.eslintrc.json
Due: none

build: use yarn instead of npm
  packages/components/ng-pagination-front/.npmrc
  packages/components/ng-pagination-front/package-lock.json
  packages/components/ng-pagination-front/yarn.lock
Due: none

fix: remove custom styles to prefer ovh-ui-kit-bs
  packages/components/ng-pagination-front/package.json
  packages/components/ng-pagination-front/src/index.js
  packages/components/ng-pagination-front/src/index.less
  packages/components/ng-pagination-front/yarn.lock
Due: eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

docs: update list of availables apps
  README.md
Due: none

fix(support): redirect feedback to correct language
  packages/manager/modules/support/src/tickets/new-ticket/feedback/feedback.constants.js
  packages/manager/modules/support/src/tickets/new-ticket/feedback/feedback.service.js
Due: eslint --fix

feat(support): submit translations
  packages/manager/modules/support/src/tickets/new-ticket/feedback/translations/Messages_fr_FR.json 
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Due: none

fix(navbar): update contacts url
  packages/manager/modules/navbar/src/user-menu/constants.js
Due: eslint --fix

Release: lanthanum-ant
  packages/manager/modules/navbar/CHANGELOG.md
  packages/manager/modules/navbar/package.json
Due: npx sort-package-json

docs: update list of availables apps (#1512)
  README.md
Due: none

Update CONTRIBUTORS file
  CONTRIBUTORS
Due: none

docs: enhance readme by adding screenshot and some badges
  README.md
  media/public-cloud.jpg
Due: none

fix(support): remove old config for Rollup
  packages/manager/modules/support/package.json
Due: npx sort-package-json

fix(support): update module version
  packages/manager/apps/support/package.json
  yarn.lock
Due: npx sort-package-json

Update CONTRIBUTORS file (#1513)
  CONTRIBUTORS
Due: none

docs: enhance readme by adding screenshot and some badges (#1516)
  README.md
  media/public-cloud.jpg
Due: none

build(order-tracking): bump component-rollup-config to v7
  packages/components/order-tracking/package.json
  yarn.lock
Due: npx sort-package-json

fix: fast polling now works correctly
  packages/manager/apps/dedicated/client/app/components/polling/polling.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dedicated-server.service.js
Due: eslint --fix

fix(dedicated): sort styles import
  packages/manager/apps/dedicated/client/app/css/source.less
  packages/manager/apps/dedicated/client/app/index.js
Due: eslint --fix, stylelint 'packages/**/*.less' --fix

fix(dedicated): add bootstrap4 grid and update rem
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.less
  packages/manager/apps/dedicated/client/app/css/source.scss
Due: stylelint 'packages/**/*.less' --fix

fix(dedicated): update spacing
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(dedicated): update spacing (#1520)
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

refactor: remove ovh-ui-angular duplicated translation configuration
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ovh-ui-angular/ovh-ui-angular.module.js
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
Due: eslint --fix
