Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

feat(vps): add option to service cancellation
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.component.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.constants.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.controller.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.html
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.routing.js
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(ip): remove specific route use for vps
  packages/manager/apps/dedicated/client/app/ip/ip.bundle.js
  packages/manager/apps/dedicated/client/app/ip/ip/reverse/constants.js
  packages/manager/apps/dedicated/client/app/ip/ip/reverse/ip-ip-reverse.service.js
Due: eslint --fix

fix(vps): update translations once more
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_fr_FR.json
Due: none

fix(vps): disable upgrade options if rescue mode
  packages/manager/modules/vps/src/constants.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/component.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/index.html
  packages/manager/modules/vps/src/header/vps-header.component.js
  packages/manager/modules/vps/src/header/vps-header.controller.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(vps): use specific agreements for US region
  packages/manager/modules/vps/src/upscale/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/upscale/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/upscale/upscale.component.js
  packages/manager/modules/vps/src/upscale/upscale.html
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(sidebar): change vps order url
  packages/manager/modules/server-sidebar/src/order.constants.js
Due: eslint --fix

fix(vps): fix elite change configuration
  packages/manager/modules/vps/src/upscale/upscale.controller.js
  packages/manager/modules/vps/src/upscale/upscale.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(vps): disallow best value vps to access new range
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/routing.js
  packages/manager/modules/vps/src/upscale/upscale.constants.js
Due: eslint --fix

fix(vps): fix additional disk init issue
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.component.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.controller.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/import/vps.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(vps): disable termination for degressivity suscribed vps
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.component.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.controller.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.html
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(core): add agreements url for US
  packages/manager/modules/core/src/manager-core.constants.js
Due: eslint --fix

Release: manganese-swan-3
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
  packages/manager/modules/server-sidebar/CHANGELOG.md
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
Due: npx sort-package-json

feat(domain.webhosting): display available modules depending on offer
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.component.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.constants.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.html
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.routing.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.service.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.component.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.html
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/module/domain-webhosting-order-steps-module.component.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/module/domain-webhosting-order-steps-module.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/module/domain-webhosting-order-steps-module.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 396]
  packages/components/ng-ovh-utils/src/contracts/translations/Messages_it_IT.json
  packages/components/ng-ovh-utils/src/price/translations/Messages_fr_CA.json
  packages/components/ng-ovh-utils/src/wizard/translations/Messages_it_IT.json
  packages/components/ng-ovh-utils/src/wizardForm/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/upscale/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/upscale/translations/Messages_it_IT.json
Due: none

fix(payment): update notification for bank account validation
  packages/manager/apps/dedicated/client/app/billing/payment/method/component.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/index.html
  packages/manager/apps/dedicated/client/app/billing/payment/method/routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(plugins.translation-ui-router): add type any to resolve const
  packages/manager/tools/component-rollup-config/src/plugins/translation-ui-router.ts
Due: none

fix(loaders): fix webpack config translations loaders
  packages/manager/tools/webpack-config/src/loaders/translation-inject.ts
  packages/manager/tools/webpack-config/src/loaders/translation-ui-router.ts
Due: none

refactor(billing.confirm-terminate): modularize and use component
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.controller.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.html
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/confirm-terminate.component.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.module.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(billing.confirm-terminate): turn service into class
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
Due: eslint --fix

feat(billing.confirm-terminate): revamp termination form
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/Service.class.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.controller.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.html
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/confirm-terminate.component.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/confirm-terminate.constants.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.module.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.routing.js
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor: move service to @ovh-ux/manager-models
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  packages/manager/modules/models/index.js
  packages/manager/modules/models/service/Service.class.js
Due: eslint --fix

feat(billing.confirm-terminate): use legacy for US
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.controller.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.html
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.service.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.module.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(hosting): catch call to detach if customer has no subscription
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
Due: eslint --fix

refactor(billing): remove unused translations
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pt_PT.json
Due: none

fix(hosting): catch call to detach if customer has no subscription (#2948)
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
Due: eslint --fix

Release: manganese-swan-4
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
Due: npx sort-package-json

feat(billing.confirm-terminate): revamp termination form
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.controller.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.html
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/confirm-terminate.component.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/confirm-terminate.constants.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.controller.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.html
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.service.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.module.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/termination.routing.js
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pt_PT.json
  packages/manager/modules/models/index.js
  packages/manager/modules/models/service/Service.class.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

Release: manganese-swan-5
  packages/components/ng-ovh-sso-auth-modal-plugin/CHANGELOG.md
  packages/components/ng-ovh-sso-auth-modal-plugin/package.json
  packages/components/ng-ovh-utils/CHANGELOG.md
  packages/components/ng-ovh-utils/package.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
  packages/manager/tools/component-rollup-config/CHANGELOG.md
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/testcafe/CHANGELOG.md
  packages/manager/tools/testcafe/package.json
  packages/manager/tools/webpack-config/CHANGELOG.md
  packages/manager/tools/webpack-config/package.json
Due: npx sort-package-json

fix(webpack): improve js loaders
  packages/manager/tools/webpack-config/src/webpack.common.ts
Due: none

Update packages/manager/tools/webpack-config/src/webpack.common.ts
  packages/manager/tools/webpack-config/src/webpack.common.ts
Due: none

ci(publish): handle prepare script via --if-present flag
  scripts/publish.js
Due: eslint --fix

feat(telephony.billingaccount.administration): preload all groups (#2810)
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/administration/linesGroup/telecom-telephony-billing-account-administration-lines-group.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/administration/linesGroup/telecom-telephony-billing-account-administration-lines-group.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(server-sidebar): enable web in CA
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/web.constants.js
Due: eslint --fix

fix(domain): add missing constants
  packages/manager/apps/web/client/app/config/constants.config.js
Due: eslint --fix

fix(emailpro): canada api calls
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/emailpro/src/emailpro.constants.js
  packages/manager/modules/emailpro/src/emailpro.service.js
  packages/manager/modules/emailpro/src/emailproServices.module.js
  packages/manager/modules/emailpro/src/information/emailpro-information-tab.js
Due: eslint --fix, npx sort-package-json

feat(emailpro): disable tasks for CA region
  packages/manager/modules/emailpro/src/emailpro-tabs-controller.js
  packages/manager/modules/emailpro/src/emailpro.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix
