Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**\" \"packages/**/*.html\""
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

build: add vuepress:prebuild command (#2185)
  .gitignore
  docs/.vuepress/public/assets/json/.gitkeep
  docs/.vuepress/public/assets/json/packages.json
  package.json
Due: npx sort-package-json

fix(dedicated.server): add us missing translation
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

Release: nobelium-cricket
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

fix(dedicated.server): fix vrack attachment for legacy interfaces
  packages/manager/apps/dedicated/client/app/dedicated/server/dedicated-server.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interface.class.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(dedicatedcloud.datacenter.drp): fix use of preference key
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(dedicatedcloud.datacenter.drp): minor improvements
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/ovhPcc/dedicatedCloud-datacenter-drp-onPremise-ovhPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/ovhPcc/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/mainPcc/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(pci.serving): add error message in add model
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.html
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pci.project.kubernetes): remove static region setting (#2175)
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
Due: eslint --fix

feat(exchange.mfa): add exchange mfa
  packages/manager/modules/exchange/README.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/account/account.service.js
  packages/manager/modules/exchange/src/account/home/account-home.controller.js
  packages/manager/modules/exchange/src/account/home/account-home.html
  packages/manager/modules/exchange/src/account/mfa/account-mfa.controller.js
  packages/manager/modules/exchange/src/account/mfa/account-mfa.html
  packages/manager/modules/exchange/src/account/mfa/bulk-create.html
  packages/manager/modules/exchange/src/account/mfa/bulk-delete.html
  packages/manager/modules/exchange/src/account/mfa/create/create.component.js
  packages/manager/modules/exchange/src/account/mfa/create/create.controller.js
  packages/manager/modules/exchange/src/account/mfa/create/create.html
  packages/manager/modules/exchange/src/account/mfa/create/index.js
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/mfa/delete/delete.component.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.controller.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.html
  packages/manager/modules/exchange/src/account/mfa/delete/index.js
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/remove/account-remove.controller.js
  packages/manager/modules/exchange/src/account/remove/account-remove.html
  packages/manager/modules/exchange/src/configure/service-configure.controller.js
  packages/manager/modules/exchange/src/configure/service-configure.html
  packages/manager/modules/exchange/src/exchange.html
  packages/manager/modules/exchange/src/exchange.service.js
  packages/manager/modules/exchange/src/exchange.tabs.controller.js
  packages/manager/modules/exchange/src/exchange.template.js
  packages/manager/modules/exchange/src/exchangeControllers.module.js
  packages/manager/modules/exchange/src/exchangeServices.module.js
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/index.js
  packages/manager/modules/exchange/src/security/security.controller.js
  packages/manager/modules/exchange/src/security/security.html
  packages/manager/modules/exchange/src/services/exchange.selectedService.service.js
  packages/manager/modules/exchange/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(pci.private-registry): add plan and consumption information
  packages/manager/modules/pci/src/projects/project/private-registry/PrivateRegistry.class.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(pci.private-registry): extract routing actions from controller
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(pci.components.flavors.list): add addon information (#2099)
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 253]
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/comfortExchange/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pt_PT.json
Due: none

feat(pci): instance creation automated backup
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/index.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/workflow/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/add/general/general.html
  packages/manager/modules/pci/src/projects/project/workflow/add/schedule/schedule.component.js
  packages/manager/modules/pci/src/projects/project/workflow/add/schedule/schedule.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(web): private sql activation
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(pci.serving): pr comments
  packages/manager/modules/pci/src/projects/project/serving/namespace/infos/infos.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/models.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

feat(cloud.logs): new supported protocol
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/home/formatsports/logs-home-formatsports.html
  packages/manager/apps/cloud/client/app/dbaas/logs/logs-constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(exchange.mfa): add exchange mfa (#2094)
  packages/manager/modules/exchange/README.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/account/account.service.js
  packages/manager/modules/exchange/src/account/home/account-home.controller.js
  packages/manager/modules/exchange/src/account/home/account-home.html
  packages/manager/modules/exchange/src/account/mfa/account-mfa.controller.js
  packages/manager/modules/exchange/src/account/mfa/account-mfa.html
  packages/manager/modules/exchange/src/account/mfa/bulk-create.html
  packages/manager/modules/exchange/src/account/mfa/bulk-delete.html
  packages/manager/modules/exchange/src/account/mfa/create/create.component.js
  packages/manager/modules/exchange/src/account/mfa/create/create.controller.js
  packages/manager/modules/exchange/src/account/mfa/create/create.html
  packages/manager/modules/exchange/src/account/mfa/create/index.js
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/mfa/delete/delete.component.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.controller.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.html
  packages/manager/modules/exchange/src/account/mfa/delete/index.js
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/remove/account-remove.controller.js
  packages/manager/modules/exchange/src/account/remove/account-remove.html
  packages/manager/modules/exchange/src/configure/service-configure.controller.js
  packages/manager/modules/exchange/src/configure/service-configure.html
  packages/manager/modules/exchange/src/exchange.html
  packages/manager/modules/exchange/src/exchange.service.js
  packages/manager/modules/exchange/src/exchange.tabs.controller.js
  packages/manager/modules/exchange/src/exchange.template.js
  packages/manager/modules/exchange/src/exchangeControllers.module.js
  packages/manager/modules/exchange/src/exchangeServices.module.js
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/index.js
  packages/manager/modules/exchange/src/security/security.controller.js
  packages/manager/modules/exchange/src/security/security.html
  packages/manager/modules/exchange/src/services/exchange.selectedService.service.js
  packages/manager/modules/exchange/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(pci.project): set up an automated backup (#2166)
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/index.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/workflow/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/add/general/general.html
  packages/manager/modules/pci/src/projects/project/workflow/add/schedule/schedule.component.js
  packages/manager/modules/pci/src/projects/project/workflow/add/schedule/schedule.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(domain.dashboard): disable correctly switch if they are unavailable
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/general-information.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(domain): use of oui switch instead of uiv6switch
  packages/manager/apps/web/client/app/domain/dns/sec/domain-dns-sec.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/general-information.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

refactor(v6uiswitch): remove unused directive
  packages/manager/modules/web-universe-components/src/index.js
  packages/manager/modules/web-universe-components/src/v6UiSwitch/index.js
  packages/manager/modules/web-universe-components/src/v6UiSwitch/v6-ui-switch.less
  packages/manager/modules/web-universe-components/src/v6UiSwitch/v6UiSwitch.directive.js
Due: eslint --fix, stylelint 'packages/**/*.less' --fix

build(deps): set compatible semver range
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/office/package.json
Due: npx sort-package-json

fix(hosting.database): fix private sql activation (#2190)
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

Release: nobelium-cricket-1
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
Due: npx sort-package-json

feat(pci.projects.private-registry): add offer upgrade
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/src/projects/project/private-registry/PrivateRegistry.class.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/RegistryPlan.class.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/template.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.html
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.routing.js
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

feat(dbaas.logs): support new protocol (#2191)
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/home/formatsports/logs-home-formatsports.html
  packages/manager/apps/cloud/client/app/dbaas/logs/logs-constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(i18n): add missing translations [CDS 254]
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_es_ES.json
Due: none

fix(cloud.logs): skeleton on stream archives
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/streams/archives/streams-archives.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(cloud): replace uib-datepicker by oui-calendar
  packages/manager/apps/cloud/client/app/app.less
  packages/manager/apps/cloud/client/app/cloud/project/compute/cloud-project-compute.less
  packages/manager/apps/cloud/client/app/cloud/project/compute/snapshot/cloud-project-compute-snapshot.controller.js
  packages/manager/apps/cloud/client/app/cloud/project/compute/snapshot/cloud-project-compute-snapshot.html
  packages/manager/apps/cloud/client/app/cloud/project/compute/snapshot/translations/Messages_fr_FR.json
  packages/manager/apps/cloud/client/app/cloud/project/compute/volume/cloud-project-compute-volume.controller.js
  packages/manager/apps/cloud/client/app/cloud/project/compute/volume/cloud-project-compute-volume.html
  packages/manager/apps/cloud/client/app/cloud/project/compute/volume/translations/Messages_fr_FR.json
  packages/manager/apps/cloud/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

fix(dedicated): replace uib-datepicker by oui-calendar
  packages/manager/apps/dedicated/client/app/account/otrs/otrs.controller.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.js
  packages/manager/apps/dedicated/client/app/account/user/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/app.less
  packages/manager/apps/dedicated/client/app/ip/ip/mitigation/statistics/ip-ip-mitigation-statistics.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/mitigation/statistics/ip-ip-mitigation-statistics.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

fix(telecom): replace uib-datepicker by oui-calendar
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/app/app.less
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/resiliation/pack-xdsl-resiliation.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/resiliation/pack-xdsl-resiliation.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/telecom-telephony-alias-portability-order.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/telecom-telephony-alias-portability-order.html
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/campaigns/add/telecom-telephony-service-fax-campaigns-add.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/campaigns/add/telecom-telephony-service-fax-campaigns-add.html
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/events/telephony-scheduler-events.component.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/events/telephony-scheduler-events.html
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/telephony-scheduler.less
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

fix(overthebox): replace uib-datepicker by oui-calendar
  packages/manager/modules/overthebox/src/overthebox/remote/index.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.controller.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.html
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.less
  packages/manager/modules/overthebox/src/overthebox/remote/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix

fix(sms): replace uib-datepicker by oui-calendar
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.controller.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.html
  packages/manager/modules/sms/src/sms/telecom-sms.less
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix
