Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, stylelint 'packages/**/*.less' --fix, npx sort-package-json

feat(kube.add): add autoscaling step
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.cmp.node-pool): rm node_count numeric cmp
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/node-pool.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool): add autoscaling column
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.class.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool.add): setup autoscaling component
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool.nodes.add): add autoscaling cmp step
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool): add scale node-poll item menu
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/node-pool.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool.scale): add scale node-poll modal
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool.nodes): add missed status
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_fr_FR.json
Due: none

feat(kube.details.node-pool.nodes): rm add and bulk menu items
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/nodes.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/nodes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool.nodes.add): rm add component
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.details.node-pool.nodes.bulk): rm bulk component
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(kube.cmp.anti-affinity): set anti_affinity validity
  packages/manager/modules/pci/src/projects/project/kubernetes/components/anti-affinity/anti-affinity.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/anti-affinity/anti-affinity.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(hub): fetch notifications in carousel
  packages/manager/modules/hub/src/components/carousel/carousel.component.js
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
Due: eslint --fix

feat(hub): split api calls in hub
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/order-dashboard/template.html
  packages/manager/apps/hub/src/dashboard/products-list/config.js
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/dashboard/welcome/index.js
  packages/manager/apps/hub/src/dashboard/welcome/welcome.component.js
  packages/manager/apps/hub/src/dashboard/welcome/welcome.controller.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/routing.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.component.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/hub/src/components/billing-summary/component.js
  packages/manager/modules/hub/src/components/billing-summary/controller.js
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/carousel/carousel.component.js
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
  packages/manager/modules/hub/src/components/catalog-items/component.js
  packages/manager/modules/hub/src/components/catalog-items/controller.js
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.component.js
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.controller.js
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/products/controller.js
  packages/manager/modules/hub/src/components/products/products.component.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/hub/src/components/support/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix, npx sort-package-json

fix(deps): bump hub version
  packages/manager/modules/account-sidebar/package.json
Due: npx sort-package-json

fix(account.contact.update): add lazyloading to contact update (#5164)
  packages/manager/apps/dedicated/client/app/account/contacts/update/index.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.module.js
  packages/manager/apps/dedicated/client/app/account/index.js
Due: eslint --fix

Release: cobalt-burro-1
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/12.2410261b.js
  assets/js/12.dad87160.js
  assets/js/13.97931085.js
  assets/js/13.cdfe1c1f.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/15.54663ded.js
  assets/js/15.b7fa1d5c.js
  assets/js/16.51d0df30.js
  assets/js/16.8403b07b.js
  assets/js/17.1a644b40.js
  assets/js/17.323fd8ee.js
  assets/js/18.678769f9.js
  assets/js/18.dc7ed3ef.js
  assets/js/19.6da3ee10.js
  assets/js/19.85adfdfb.js
  assets/js/20.3b4d0571.js
  assets/js/20.ee05036f.js
  assets/js/21.30fb43d0.js
  assets/js/21.90789c29.js
  assets/js/22.9176d8a8.js
  assets/js/22.bac3efb0.js
  assets/js/23.b75a2297.js
  assets/js/23.e4e83e6e.js
  assets/js/app.d9701524.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

fix(redirection): avoid redirection loop during lazyloading
  packages/manager/apps/public-cloud/src/index.routes.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 1015]
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/users/roles-matrix/translations/Messages_it_IT.json
Due: none

fix(dedicated): account contact redirection
  packages/manager/apps/dedicated/client/app/account/account.redirection.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user.contacts-update.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.routes.js
  packages/manager/apps/dedicated/client/app/account/index.js
Due: eslint --fix

fix(dedicated): account contact redirection (#5170)
  packages/manager/apps/dedicated/client/app/account/account.redirection.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user.contacts-update.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.routes.js
  packages/manager/apps/dedicated/client/app/account/index.js
Due: eslint --fix

Release: cobalt-burro-2
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/12.6c05b5c1.js
  assets/js/12.dad87160.js
  assets/js/13.97931085.js
  assets/js/13.cdfe1c1f.js
  assets/js/14.48d1807e.js
  assets/js/14.ae09d86d.js
  assets/js/15.499e3b36.js
  assets/js/15.b7fa1d5c.js
  assets/js/16.51d0df30.js
  assets/js/16.8403b07b.js
  assets/js/17.1a644b40.js
  assets/js/17.323fd8ee.js
  assets/js/app.aa1ffa33.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(domain): add DNAME records support
  packages/manager/apps/web/client/app/domain/zone/record/DNAME/domain-zone-record-DNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/add/domain-zone-record-add.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html"

fix(i18n): add missing translations [CDS 1016]
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pt_PT.json
Due: none

perf: lazy load payment methods (#5159)
  packages/manager/modules/account-sidebar/src/controller.js
  packages/manager/modules/account-sidebar/src/payment-mean/component.js
  packages/manager/modules/account-sidebar/src/payment-mean/controller.js
  packages/manager/modules/account-sidebar/src/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(provider): add setLoggedIn method
  packages/components/ng-ovh-sso-auth/src/provider.js
Due: eslint --fix

perf: authenticate user via `setLoggedIn` method
  packages/manager/modules/core/src/index.js
Due: eslint --fix

fix: fix button download in ODP
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html", eslint --fix

feat(template): log state error message
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
  packages/manager/tools/sao-ovh-manager-app/template/webpack.config.js
Due: eslint --fix

refactor: configure `$logProvider` from core module
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/freefax/src/app.module.js
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/web/client/app/app.module.js
Due: eslint --fix

feat: add flag to log state error message if needed
  packages/manager/modules/core/.eslintrc.json
  packages/manager/modules/core/src/index.js
Due: eslint --fix

refactor: remove unused eslint configuration file
  packages/manager/apps/cloud/.eslintrc.json
Due: none

feat: DomainLock has been split in DomainLock and DomainUnlock operations. This PR splits the translation too.
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pt_PT.json
Due: none

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**" "packages/**/*.html": any of: *.html
  eslint --fix: any of: *.js
  stylelint 'packages/**/*.less' --fix: any of: *.less
  npx sort-package-json: any of: **/package.json
